@import "~assets/styles/base/base.scss";

@function repeater($item, $count) {
    $string: "";
    @for $i from 1 through $count {
        $string: $string + $item;
    }
    @return "#{$string}";
}

.file-upload {
    position: relative;
    input {
        position: relative;
        z-index: 2;
        opacity: 0;
        width: 100%;
        height: 3.5rem;
        cursor: pointer;
        &:hover,
        &:focus {
            +.file-upload__target {
                color: $fc-focus-border-color;
                border-color: $fc-focus-border-color;
            }
        }
    }
    &__target {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        border-radius: 0.4rem;
        border: 3px dashed #ccc;
        text-align: center;
        transition: all ease-out 0.2s;
    }
    &__prompt {
        margin-top: 0.8rem;
        display: inline-block;
        // font-size: 0.9375rem;
        // font-weight: 700;
        &-icon {
            margin-top: -0.2rem;
            vertical-align: middle;
        }
        &-msg {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .file-upload {
        input {
            height: 5rem;
        }
        &__prompt {
            margin-top: 1.5rem;
            &-msg {
                display: inline;
            }
        }
    }
}

.dragarea {
    font-size: x-large;
    border: 3px dashed $fc-border-color;
    padding: 20px;
    background-color: $white;
    color: #bbb;
}

.droparea {
    font-size: x-large;
    border: 3px dashed $fc-focus-border-color;
    padding: 20px;
    background-color: #eff;
    color: #aaa;
}

.files-list {
    margin-top: 1rem;
    ul {
        list-style: decimal;
        line-height: 1.7;
        margin: 0;
        overflow-x: hidden;
        li:before {
            float: left;
            width: 0;
            white-space: nowrap;
            content: repeater(". ", 100);
        }
        li .name {
            padding-right: 0.5rem;
            background-color: $white;
        }
        li .value {
            float: right;
            clear: right;
            padding-left: 0.5rem;
            background-color: $white;
            margin-top: -2px;
            .btn i+span {
                vertical-align: text-top;
            }
        }
    }
}

.errors-list {
    margin-top: 1rem;
    ul {
        list-style: none;
        line-height: 1.7;
        padding-left: 20px;
        color: #f00;
        li,
        li span {
            display: flex;
        }
    }
}

.btn-xs {
    padding: 0 5px;
    font-size: smaller;
    border-radius: 3px;
    .material-icons {
        font-size: large;
    }
}