<ngb-alert type="danger" [dismissible]="false" *ngFor="let alert of alerts">{{alert}}</ngb-alert>

<div class="top-container">
  <div class="container">
    <div class="breadcrumb-container">
      <a [routerLink]="['/a', project._id]">
        <i class="material-icons md-18">arrow_back </i> Back to Application Details</a>
    </div>
    <div class="title-container">
      <div class="title-container__title">
        <h1>Review Comments for Crown Land File: {{project['clFile']}}</h1>
      </div>
      <div class="title-container__actions">
        <button class="btn btn-light" (click)="exportToExcel()" [disabled]="comments.length === 0">
          Export to Excel
        </button>
      </div>
    </div>
  </div>
</div>

<div class="bottom-container">
  <div class="container">
    <div class="review-comments">
      <div class="review-comments__list panel">
        <div class="panel-header">
          <h2>Comments ({{comments.length}})</h2>
          <select class="sort-comments form-control" (change)="getData()" [(ngModel)]="sortBy" >
            <option *ngFor="let key of sortKeys" [value]="key.value" [innerHTML]="key.innerHTML"></option>
          </select>
        </div>
        <div class="panel-scroll" #commentListScrollContainer>
          <ng-template ngFor let-item [ngForOf]="comments">
            <div class="comment-item" [class.active]="isCurrentComment(item)" (click)="setCurrentComment(item)" tabindex="0">
              <div class="comment-item-header">
                <div class="comment-author">
                  {{item.commentAuthor?.contactName || '-'}}
                </div>
                <div class="comment-date">
                  {{(item.dateAdded | date) || '-'}}
                </div>
              </div>
              
              <div class="comment-body">{{item.comment}}</div>
              
              <div class="comment-attachments" *ngIf="item.documents.length > 0">
                <i class="material-icons">
                  attach_file
                </i>
                {{item.documents && item.documents.length}} {{item.documents.length === 1 ? "Attachment":"Attachments"}}
              </div>
            </div>
          </ng-template>
        </div>
        <div class="panel-footer bg-light">
          <div class="pagination">
            <div class="btn-group">
              <button class="pg-btn btn btn-light" type="button" title="View Previous Page" (click)="prevPage()" [disabled]="pageNum <= 1">
                <i class="material-icons">
                  keyboard_arrow_left
                </i>
              </button>
              <span class="pg-count">Page {{pageNum}} of {{pageCount}}</span>
              <button class="pg-btn btn btn-light" type="button" title="View Next Page" (click)="nextPage()" [disabled]="pageNum >= pageCount">
                <i class="material-icons">
                  keyboard_arrow_right
                </i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="review-comments__detail panel">
        <div class="panel-scroll">
          <app-comment-detail [comment]="currentComment" (commentChange)="setCurrentComment($event)"></app-comment-detail>
        </div>
      </div>
    </div>
  </div>
</div>