<div class="modal-dialog modal-lg">
  <div class="modal-content">

    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">

      <div class="form-group">
        <label>Date Range</label>
        <div class="form-inline">
          <div class="form-group">
            <div class="input-group date-range">
              <label class="sr-only" for="d1">Start Date</label>
              <input class="form-control date-range_start" placeholder="yyyy-mm-dd" name="d1" id="d1"
                ngbDatepicker #d1="ngbDatepicker" [firstDayOfWeek]="7" navigation="arrows"
                [(ngModel)]="startDate" (ngModelChange)="onDate1Chg($event)" (click)="d1.close(); d2.close();" />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button" tabindex="-1">
                  <i class="material-icons">date_range</i>
                </button>
              </div>

              <span class="date-range__spacer"><i class="material-icons">add</i></span>
              <input type="number" class="form-control date-range__delta" min="1" max="365" [(ngModel)]="delta"
                (ngModelChange)="onDeltaChg($event)">
              <span class="date-range__spacer"><i class="material-icons">drag_handle</i></span>

              <label class="sr-only" for="d2">End Date</label>
              <input class="form-control date-range__end" placeholder="yyyy-mm-dd" name="d2" id="d2"
                ngbDatepicker #d2="ngbDatepicker" [firstDayOfWeek]="7" navigation="arrows"
                [(ngModel)]="endDate" (ngModelChange)="onDate2Chg($event)" (click)="d1.close(); d2.close();" />
              <div class="input-group-append" tabindex="-1">
                <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button" tabindex="-1">
                  <i class="material-icons">date_range</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea rows="5" class="form-control" id="description" name="description" [(ngModel)]="comment.description"></textarea>
      </div>

      <div *ngIf="comment.internal" class="form-group">
        <label for="internal.notes">Internal Notes</label>
        <textarea rows="5" class="form-control" id="internal.notes" name="internal.notes" [(ngModel)]="comment.internal.notes"></textarea>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="save()">{{message}}</button>
      <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
    </div>

  </div>
</div>