.modal-dialog {
    button {
        cursor: pointer;
    }
    .modal-header {}
    .modal-body {
        .date-range {
            &__spacer {
                padding: 8px;
            }
            &__delta {
                width: 0;
            }
        }
    }
    .modal-footer {}
}