<nav *ngIf="!loading" class="action-container" aria-label="breadcrumb">
  <ol *ngIf="navigationObject" class="breadcrumb">
    <li class="breadcrumb-item" *ngFor="let breadcrumb of navigationObject.breadcrumbs">
      <a href="javascript:void(0);" (click)="navigationStackUtils.navigateBreadcrumb(breadcrumb, router)">{{breadcrumb.label}}</a>
    </li>
    <li *ngIf="!isParentCompany" class="breadcrumb-item active" aria-current="page">
      Link Organization
    </li>
    <li *ngIf="isParentCompany" class="breadcrumb-item active" aria-current="page">
      Link Parent Company
    </li>
  </ol>
</nav>

<main class="container-fluid-padding add-edit-form">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <form #f="ngForm" class="search-form ui form" (ngSubmit)="onSubmit()">
    <div class="input-group main-search-field mb-2">
      <input class="form-control" type="text" name="keywordInput" placeholder="Enter keywords to search..."
        id="keywordInput" [(ngModel)]="tableParams.keywords" autofocus />
      <div class="input-group-append">
        <!-- prevent searching if input is empty or we're already searching -->
        <button class="btn btn-primary" type="submit">
          <span>Search</span>
        </button>
      </div>
    </div>
    <div class="mb-2">
      <p *ngIf="tableParams.totalListItems == 0">
        No result<span *ngIf="count != 1">s</span> found for "{{tableParams.keywords}}"
      </p>
      <div *ngIf="tableParams.totalListItems > 0">
        {{tableParams.totalListItems}} result<span *ngIf="tableParams.totalListItems != 1">s found</span>
      </div>
    </div>
  </form>

  <div *ngIf="!isParentCompany" class="input-group-prepend">
    <button (click)="createOrganization()" class="btn btn-outline-primary mr-1" type="button" id="button-sa">
      Create Organization
    </button>
  </div>

  <p><i>Click on the organization table row that you would like to add the contact to:</i></p>

  <app-table-template *ngIf="tableParams.totalListItems != 0" [columns]="tableColumns" [data]="tableData"
    (onColumnSort)='setColumnSort($event)' (onPageNumUpdate)='onSubmit($event)'>
  </app-table-template>

  <div class="btn-group" role="group" aria-label="Action Buttons" *ngIf="!loading && tableParams.totalListItems != 0">
    <div class="input-group-prepend">
      <button class="btn btn-outline-primary mr-1" type="button" id="button-cl" (click)="goBack()"><i
          class="material-icons">arrow_back</i>Back</button>
    </div>
  </div>
</main>