<nav *ngIf="!loading" class="action-container" aria-label="breadcrumb">
  <div *ngIf="!isEditing && navigationObject == null">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a [routerLink]="['/contacts']">Contacts</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Add
      </li>
    </ol>
  </div>
  <div *ngIf="!isEditing && navigationObject">
    <ol *ngIf="navigationObject" class="breadcrumb">
      <li class="breadcrumb-item" *ngFor="let breadcrumb of navigationObject.breadcrumbs">
        <a [routerLink]
          (click)="navigationStackUtils.navigateBreadcrumb(breadcrumb, router)">{{breadcrumb.label}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Contact</li>
    </ol>
  </div>
  <div *ngIf="isEditing && navigationObject == null">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a [routerLink]="['/contacts']">Contacts</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit
      </li>
    </ol>
  </div>
</nav>

<main class="container-fluid-padding add-edit-form">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <form [formGroup]="contactForm" novalidate>
    <div class="text-right">
      <button class="btn btn-primary" type="cancel" (click)="onCancel()">Cancel</button>
      &nbsp;
      <button class="btn btn-primary" type="submit" (click)="onSubmit()">Save</button>
    </div>
    <h2 *ngIf="!isEditing">Add Contact</h2>
    <h2 *ngIf="isEditing">Edit Contact</h2>

    <div class="flex-container">
      <div class="label-pair">
        <label for="firstName">First Name* </label>
        <input required name="firstName" id="firstName" formControlName="firstName" type="text" class="form-control" />
      </div>
      <div class="label-pair">
        <label for="lastName">Last Name* </label>
        <input required name="lastName" id="lastName" formControlName="lastName" type="text" class="form-control" />
      </div>
    </div>

    <br>

    <div class="flex-container">
      <div class="label-pair">
        <label for="phoneNumber">Phone Number* </label>
        <input required name="phoneNumber" id="phoneNumber" formControlName="phoneNumber" type="text" class="form-control"
          [pattern]="phonePattern" placeholder="555-555-5555" />
        <div *ngIf="phoneNumber.errors?.pattern">
          Phone number not valid. Please format your number as 555-555-5555.
        </div>
      </div>
      <div class="label-pair">
        <label for="email">Email*</label>
        <input required name="email" id="email" formControlName="email" type="text" class="form-control" />
      </div>
    </div>
  </form>
</main>