<div *ngIf="comment">
  <div class="comment-detail">
    <div class="row">
      <div class="col-6 comment-detail__meta">
        <ul>
          <li class="badge badge-warning" *ngIf="comment.commentAuthor.requestedAnonymous">Requested Anonymous</li>
          <li class="comment-detail__author">
            <strong>{{comment.commentAuthor.contactName}}
              <span *ngIf="comment.commentAuthor.orgName">({{comment.commentAuthor.orgName}})</span>
              <span>, {{comment.commentAuthor.location}}</span>
            </strong>
          </li>
          <li class="comment-detail__email" *ngIf="comment.commentAuthor.internal.email">
            <a [href]="'mailto:' + comment.commentAuthor.internal.email">
              <i class="material-icons">email</i>&nbsp;{{comment.commentAuthor.internal.email}}</a>
          </li>
          <li class="comment-detail__phone" *ngIf="comment.commentAuthor.internal.phone">
            <a [href]="'tel:' + comment.commentAuthor.internal.phone">
              <i class="material-icons">phone</i>&nbsp;{{comment.commentAuthor.internal.phone}}</a>
          </li>
          <li class="comment-detail__date">
            <i class="material-icons">event</i>&nbsp;{{comment.dateAdded | date:'medium'}}
          </li>
        </ul>
      </div>
      <div class="col-6 comment-detail__status">
        <div class="badge" [ngClass]="getBadgeClass()">{{comment.commentStatus}}</div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 comment-detail__comment">
        <p [innerHTML]="comment.comment | newlines"></p>
      </div>
    </div>

    <div class="row">
      <div class="col-6 comment-detail__documents">
        <div *ngIf="comment.documents.length == 0">
          <em>This comment has no documents.</em>
        </div>

        <div class="row" *ngIf="comment.documents.length > 0">
          <div class="col-12" *ngFor="let document of comment.documents">
            <a [href]="api.getDocumentUrl(document)" target="_blank" [title]="document?.displayName || ''">
              <i class="material-icons">attachment</i>&nbsp;{{document?.documentFileName}}
            </a>
          </div>
        </div>
      </div>
      <div class="col-6 comment-detail__buttons">
        <!-- ngbRadioGroup doesn't work in NGB 1.0.0-alpha.31 / Angular 4.4.6 -->
        <!-- <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="comment.commentStatus">
        <label ngbButtonLabel class="comment-detail__accept-btn btn-success">
          <input ngbButton type="radio" (click)="accept()" value="Accepted">
          <i class="material-icons">check_circle</i>
          <span>Accepted</span>
        </label>
        <label ngbButtonLabel class="comment-detail__pending-btn btn-secondary">
          <input ngbButton type="radio" (click)="pend()" value="Pending">
          <i class="material-icons">error</i>
          <span>Pending</span>
        </label>
        <label ngbButtonLabel class="comment-detail__reject-btn btn-danger">
          <input ngbButton type="radio" (click)="reject()" value="Rejected">
          <i class="material-icons">cancel</i>
          <span>Rejected</span>
        </label>
      </div> -->
        <button class="btn btn-success" data-toggle="button" [class.active]="isAccepted()" [attr.aria-pressed]="isAccepted()" (click)="accept()"
          title="Change this comment to Accepted">
          <i class="material-icons">check_circle</i>
          <span>Accept</span>
        </button>
        <button class="btn btn-secondary" data-toggle="button" [class.active]="isPending()" [attr.aria-pressed]="isPending()" (click)="pend()"
          title="Change this comment to Pending">
          <i class="material-icons">error</i>
          <span>Pend</span>
        </button>
        <button class="btn btn-danger" data-toggle="button" [class.active]="isRejected()" [attr.aria-pressed]="isRejected()" (click)="reject()"
          title="Change this comment to Rejected">
          <i class="material-icons">cancel</i>
          <span>Reject</span>
        </button>
      </div>
    </div>
  </div>

  <div class="comment-alert" *ngIf="networkMsg">
    <ngb-alert type="danger" (close)="networkMsg = null">Error: {{networkMsg}}</ngb-alert>
  </div>

  <div class="comment-notes">
    <h5>Internal Notes</h5>
    <div class="row">
      <div class="col-12 comment-notes__notes">
        <form #userForm="ngForm">
          <textarea class="form-control" id="internalNotes" rows="5" [(ngModel)]="internalNotes" name="internalNotes" #name="ngModel"></textarea>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-6 comment-notes__info">
        <ul *ngIf="comment.review.reviewerDate">
          <li class="value">
            <small>Last updated: {{comment.review.reviewerDate | date:'medium'}}</small>
          </li>
          <li class="value">
            <small>By: {{comment.review._reviewerId || 'unknown'}}</small>
          </li>
        </ul>
      </div>
      <div class="col-6 comment-notes__buttons">
        <button type="button" class="btn btn-primary" (click)="saveNotes()" title="Save internal notes">
          <i class="material-icons">check_circle</i>
          <span>Save</span>
        </button>
        <button type="button" class="btn btn-secondary" (click)="resetNotes()" title="Reset internal notes" [disabled]="isNotesPristine()">
          <i class="material-icons">cancel</i>
          <span>Reset</span>
        </button>
      </div>
    </div>
  </div>
</div>