@import "assets/styles/base/base.scss";

.comment-detail-container {
    padding: 1.5rem 2rem;
}

.title-container__title {
    @include flex-box();
    align-items: baseline;

    h2 {
        @include flex(1 1 auto);
        margin-bottom: 0;
        letter-spacing: -0.02rem;
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.comment-detail__meta {
    margin-top: 0.5rem;
    font-size: 90%;
}

.comment-detail__body {
    margin-top: 1.25rem;
}

.comment-detail__attachments {
    margin-top: 2rem;
}

.comment-detail__date {
    color: #999;
    white-space: nowrap;
    font-size: 90%;
}

.comment-alert {
    margin-top: 1em;
}