@import "~assets/styles/base.scss";
.comment-detail {
    background-color: #f7f7f7;
    border: darkgray 1px solid;
    border-radius: 0.25rem;
    .row {
        margin: 1rem 0.5rem;
    }
    &__meta {
        ul {
            list-style-type: none;
            padding: 0;
            margin-bottom: 0;
        }
    }
    &__author {
        font-size: larger;
    }
    &__email>a,
    &__phone>a,
    &__date {
        display: flex;
    }
    &__status {
        .badge {
            position: absolute;
            top: 25%;
            left: 60%;
            margin-right: -40%;
            transform: translate(-25%, -60%);
            width: 10rem;
            line-height: 1.5;
            font-size: larger;
            text-align: center;
        }
    }
    &__comment {
        max-height: 16.75rem; // match this with review-comments height
        overflow-y: auto;
        p {
            margin-bottom: 0;
        }
    }
    &__documents {
        a {
            display: inline-flex;
        }
    }
    &__buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        >:not(:last-of-type) {
            margin-right: 0.25rem;
        }
        >:not(:first-of-type) {
            margin-left: 0.25rem;
        }
        button {
            cursor: pointer;
        }
    }
}

.comment-alert {
    margin-top: 1em;
}

.comment-notes {
    margin-top: 1em;
    background-color: #f7f7f7;
    border: darkgray 1px solid;
    border-radius: 0.25rem;
    h5 {
        margin: 1rem;
        padding-left: 15px;
        padding-right: 15px;
    }
    .row {
        margin: 1rem 0.5rem;
    }
    &__notes {
        label {
            width: 100%;
            font-size: larger;
            padding-top: 1.5rem;
            border-top: 1px darkgray solid;
        }
        textarea {
            width: 100%;
            resize: none;
        }
    }
    &__info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        ul {
            list-style-type: none;
            padding: 0;
            margin-bottom: 0;
        }
    }
    &__buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        >:not(:last-of-type) {
            margin-right: 0.25rem;
        }
        >:not(:first-of-type) {
            margin-left: 0.25rem;
        }
        button {
            cursor: pointer;
        }
    }
}

@media (max-width: 567px) {}

@media (min-width: 760px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}