<header class="app-header app-header--solid" id="header">
    <nav class="navbar navbar-expand-md justify-content-between">
        <a class="navbar-brand" title="EPIC" routerLink="/home">
          <span class="navbar-brand__title">EPIC</span>
        </a>
        <button class="navbar-toggler" type="button" title="Toggle Main Navigation"
          data-toggle="collapse"
          data-target="#mainNav"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="toggleNav()">
          <i class="material-icons">menu</i>
          <span>MENU</span>
        </button>
    <div class="navbar-collapse" [@toggleNav]="isNavMenuOpen ? 'navOpen' : 'navClosed'" id="mainNav">
      <ul class="navbar-nav">
          <li *ngIf="jwt" class="nav-item">
            <div class="btn-group">
              <a class="nav-link" routerLink="/search" title="Search" tabindex="0">
                <span class="align-middle"><i class="material-icons">search</i></span>
                <span class="align-middle">Search</span>
              </a>
            </div>
          </li>
        <li *ngIf="jwt" class="nav-item">
            <a class="nav-link" (click)="openCalculator()" title="Open Calculator" tabindex="0">
                <span class="align-middle"><i class="material-icons">dialpad</i></span>
                <span class="align-middle">Calculator</span>
            </a>
        </li>
        <!-- LOGGED IN -->
        <li *ngIf="jwt; else loggedOut" class="nav-item" placement="bottom-right">
          <a class="nav-link" id="welcome" tabindex="0">
            <span class="align-middle"><i class="material-icons">person</i></span>
            <span class="align-middle">{{welcomeMsg}}</span>
          </a>
        </li>

        <!-- LOGGED OUT -->
        <ng-template #loggedOut>
          <!-- Placeholder? -->
        </ng-template>
      </ul>
    </div>
  </nav>
</header>