<header class="app-header app-header--solid" id="header">
  <nav class="navbar navbar-expand-md justify-content-between">
    <a class="navbar-brand" title="Applications, Comments & Reasons for Decision - Beta" routerLink="/home">
      <span class="navbar-brand__title">Applications, Comments <span class="wb"><span class="amp">&</span> Reasons for Decision <span class="navbar-brand__version">BETA</span></span></span>
    </a>
    <button class="navbar-toggler" type="button" title="Toggle Main Navigation"
      aria-controls="navbarText" 
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNav()">
      <i class="material-icons">menu</i>
      <span>MENU</span>
    </button>
    <div class="navbar-collapse" [@toggleNav]="isNavMenuOpen ? 'navOpen' : 'navClosed'" id="mainNav">
      <ul class="navbar-nav">
        <li *ngIf="jwt" class="nav-item">
          <a class="nav-link" routerLink="/applications" title="List all EAs" tabindex="0">
            <span>List Projects</span>
          </a>
        </li>
        <li *ngIf="jwt" class="nav-item">
          <a class="nav-link" routerLink="/search" title="Search Tantalis for applications" tabindex="0">
            <span>Find Projects</span>
          </a>
        </li>

        <!-- LOGGED IN -->
        <li *ngIf="jwt; else loggedOut" class="nav-item" placement="bottom-right">
          <a class="nav-link" id="welcome" tabindex="0">
            <span>{{welcomeMsg}}</span>
          </a>
        </li>

        <!-- LOGGED OUT -->
        <ng-template #loggedOut>
          <!-- Placeholder? -->
        </ng-template>
      </ul>
    </div>
  </nav>
</header>