@import "assets/styles/base/base.scss";

:host {
  @include flex-box();
  @include flex-direction(column);
  @include flex(1 1 auto);
  overflow: hidden;
}

.breadcrumb-container {
  padding-bottom: 0.5rem;
  letter-spacing: 0;
  font-size: 0.875rem;
  font-weight: 700;

  i {
    display: inline;
    vertical-align: middle;
    line-height: inherit;
  }

  a:hover {
    text-decoration: none;
  }
}

.top-container {
  padding-right: 0;
}

.bottom-container {
  @include flex-box();
  overflow: hidden;

  .container {
    @include flex-box();
    padding-bottom: 1.5rem;
  }
}

.title-container {
  align-items: center;
}

// Panel Layout
.panel {
  @include flex-box();
  @include flex-direction(column);
  overflow: hidden;
}

.panel-header {
  @include flex-box();
  @include flex(0 0 auto);
  padding: 1rem;
  border-bottom: 1px solid #ddd;

  h2 {
    @include flex(1 1 auto);
    margin-top: 0.75rem;
    white-space: nowrap;
    letter-spacing: -0.02rem;
    font-size: 1rem;
    font-weight: 700;
  }

  .form-control {
    width: 8rem;
    height: auto;
  }
}

.panel-scroll {
  @include flex( 1 1 auto);
  overflow-y: auto;
}

.panel-footer {
  @include flex(0 0 auto);
  border-top: 1px solid #ddd;
  font-size: 0.875rem;
}

// Layout
.review-comments {
  @include flex-box();
  flex: 1 1 auto;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0.02rem 0 0.2rem rgba(0, 0, 0, 0.15);
}

// Comment Layout
.review-comments__list {
  @include flex(0 0 auto);
  width: 20rem;
  border-right: 1px solid #ddd;
  background: #f7f8fa;
}

.review-comments__detail {
  @include flex(1 1 auto);
}

.sort-comments.form-control {
  height: auto;
  font-size: 0.875rem;
}

// Comment List Items
.comment-item {
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-bottom-color: #ddd;
  font-size: 0.85rem;
  transition: all ease-out 0.2s;

  &:after {
    content: ' ';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -2px;
    width: 0.25rem;
    background-color: transparent;
    transition: all ease-out 0.2s;
  }

  &:last-child {
    border: none;
  }
}

.comment-item.active {
  background: #fff;

  &:after {
    background-color: #007bff;
  }
}

.comment-item:hover {
  background: #fff;
}

.comment-item:focus {
  border-color: #007bff;
  background: #fff;
}

.comment-item-header {
  @include flex-box();
  align-items: baseline;
}

.comment-author {
  @include flex(1 1 auto);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
}

.comment-attachments {
  margin-top: 0.5rem;

  i {
    margin-top: -0.25rem;
    vertical-align: middle;
    font-size: 16px;
  }
}

.comment-body {
  @include flex(1 1 auto);
  margin-top: 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.comment-date {
  @include flex(0 0 auto);
  white-space: nowrap;
  font-size: 90%;
}

.comment-attachments {
  font-size: 90%;
}

.comment-body {
  color: #666;
}