<app-navbar [currentProject]="currentProject"
            currentPageTitle="Sections"
            buttonType="single"
            [pageBreadcrumbs]="pageBreadcrumbs"
            [navBarButtons]="navBarButtons">
</app-navbar>
<div class="container-fluid-padding">

  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <div cdkDropListGroup *ngIf="!loading && documentSections; else elseBlock" class="">
    <div class="col-md-12" >
      <h4>Document Sections</h4>
      <span>
        <i class="material-icons section-info-icon">info</i>
        Click and drag document sections in the list to reorder them.
        The order here will match what appears on the frontend.
      </span>
      <table>
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody
        cdkDropList
        [cdkDropListData]="documentSections"
        class="survey-components-list"
        (cdkDropListDropped)="dropSection($event)">
          <tr cdkDrag
              [ngClass]="{'disabled': orderChangeLoading }"
              class="drag-item"
              [cdkDragDisabled]="orderChangeLoading"
              *ngFor="let section of documentSections">
            <i class="material-icons section-drag-icon">crop_free</i>
            <span class="section-name">{{section.name}}</span>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #elseBlock>No document sections found.</ng-template>
</div>
