@import "~assets/styles/base.scss";
.commentdetail-comment,
commentdetail-internalnotes {
    p {
        margin: 0;
        padding: 0.5rem 0.75rem;
    }
}

@media (max-width: 567px) {}

@media (min-width: 760px) {
    .commentdetail-details {
        &--list {
            .name {
                margin: 0;
                padding: 0.5rem 0.75rem;
                width: 25%;
            }
            .value {
                margin: 0;
                padding: 0.5rem 0.75rem;
                width: 75%;
            }
        }
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}