<tr
    (click)="editContact(contact)"
    *ngFor="let contact of contacts | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }">
    <td scope="row" data-label="Name" class="col-3">{{contact.displayName || '-'}}</td>
    <td scope="row" data-label="Organization" class="col-4">{{contact?.org?.name || '-' }}</td>
    <td scope="row" data-label="Phone" class="col-3">{{contact.phoneNumber || '-'}}</td>
    <td scope="row" data-label="Email" class="col-3">{{contact.email || '-'}}</td>
</tr>
