<div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Select Organization</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <div class="modal-body">
          <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Client Name</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let client of clients | paginate: { itemsPerPage: 5, currentPage: page }"
                    class="clickable-row"
                    [ngClass]="isClientSelected(client) ? 'active' : ''"
                    (click)="toggleClient(client)">
                  <td *ngIf="client.ORGANIZATIONS_LEGAL_NAME">{{client.ORGANIZATIONS_LEGAL_NAME}}</td>
                  <td scope="row" *ngIf="!client.ORGANIZATIONS_LEGAL_NAME">
                      <span>{{client.INDIVIDUALS_FIRST_NAME}} {{client.INDIVIDUALS_LAST_NAME}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
  
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
      </div>
    </div>
  </div>