<div class="spinner-container full-screen" *ngIf="loading" [@visibility]>
  <div class="spinner-new rotating"></div>
</div>

<div class="comment-periods-header container">
  <ngb-alert type="danger" [dismissible]="false" *ngFor="let alert of alerts">{{alert}}</ngb-alert>

  <div class="container__inner-container">
    <h1 id="pgTitle">Manage Comment Periods</h1>
    <p class="mb-2" *ngIf="application">{{application.proponent}} : {{application.purpose}} : {{application.subpurpose}}</p>

    <div class="comment-periods-header__links">
      <a class="btn content-btn slide-l-btn btn-sm" [routerLink]="['/a', appId]">
        <i class="material-icons">info_outline</i>
        <span>Application Details</span>
      </a>
      <a class="btn content-btn slide-l-btn btn-sm" href="/comments" [routerLink]="['/comments', { application: appId }]">
        <i class="material-icons">message</i>
        <span>Review Comments</span>
      </a>
      <button *ngIf="commentPeriods.length == 0" class="btn content-btn slide-l-btn btm-sm float-right" (click)="addClick()">
        <i class="material-icons">add_box</i>
        <span>Add Comment Period</span>
      </button>
    </div>
  </div>
</div>

<div class="comment-periods-body container" id="anchor-point">
  <!-- <div *ngIf="commentPeriods.length == 0" class="clickable" (click)="addClick()">Click here to add a comment period.</div> -->
  <p *ngIf="commentPeriods.length == 0"><em>This application has no comment periods.</em></p>

  <table class="table comment-periods-table">
    <tbody class="comment-periods-table__content">
      <tr *ngFor="let item of commentPeriods">
        <td class="comment-periods-table__item">
          <!-- <h4>Comment Period</h4> -->
          <h5>{{(item.startDate | date) || 'start'}} to {{(item.endDate | date) || 'end'}}</h5>
          <ul class="nv-list comment-periods-table__item--list">
            <li>
              <span class="name">Status:</span>
              <span class="value">{{getStatus(item)}}</span>
            </li>
            <!-- <li>
              <span class="name">Date Range:</span>
              <span class="value">{{(item.startDate | date) || 'start'}} to {{(item.endDate | date) || 'end'}}</span>
            </li> -->
            <li>
              <span class="name">Description:</span>
              <span class="value" [innerHTML]="item.description | newlines"></span>
            </li>
            <li>
              <span class="name">Internal Notes:</span>
              <span class="value" [innerHTML]="item.internal?.notes | newlines"></span>
            </li>
          </ul>
          <div class="comment-periods-table__item--buttons">
            <button class="btn btn-primary" (click)="updateClick()" title="Update this comment period">
              <i class="material-icons">mode_edit</i>
              <span>Edit</span>
            </button>
            <button class="btn btn-danger" (click)="deleteClick()" title="Delete this comment period">
              <i class="material-icons">delete</i>
              <span>Delete</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>