@import "~assets/styles/base.scss";
.comment-periods-header {
    &__links {
        padding-top: 1rem;
        button {
            cursor: pointer;
        }
    }
}

.comment-periods-body {
    padding-top: 0;
}

.comment-periods-table {
    tr {
        background: transparent;
    }
    td {
        padding: 0;
    }
    &__item {
        ul {
            li {
                @include align-items(start);
                +li {
                    border-top: 1px solid #fff;
                }
            }
            .name {
                margin: 0;
                padding: 0.5rem 0.75rem;
                width: 25%;
            }
            .value {
                margin: 0;
                padding: 0.5rem 0.75rem;
                width: 75%;
            }
            .pre-wrap {
                white-space: pre-wrap;
            }
        }
        &--buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            >:not(:last-of-type) {
                margin-right: 0.25rem;
            }
            >:not(:first-of-type) {
                margin-left: 0.25rem;
            }
            button {
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 567px) {}

@media (min-width: 760px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}