@import "~assets/styles/base.scss";

.comment-periods {
    .title-container {
        height: 50px; // to match app details/edit pages
    }
    .header-row {
        .btn {
            border: none;
            background: #eee;
            font-size: 0.9375rem;
            font-weight: bold;
            img, i {
                margin-top: -0.15rem;
            }
        }
    }
    main {
        section {
            padding: 1.5rem;
            section {
                padding: 0;
            }
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__list {
        @include clearfix();
        li {
            width: 50%;
            float: left;
            padding-top: 1rem;
            &.full-width {
                width: 100%;
            }
            .name,
            .value {
                display: block;
            }
            .name {
                font-weight: bold;
            }
        }
    }
}

.comment-periods-body {
    padding-top: 0;
}

.comment-periods-table {
    tr {
        background: transparent;
    }
    td {
        padding: 0;
    }
    &__item {
        ul {
            li {
                @include align-items(start);
                +li {
                    border-top: 1px solid $white;
                }
            }
            .name {
                margin: 0;
                padding: 0.5rem 0.75rem;
                width: 25%;
            }
            .value {
                margin: 0;
                padding: 0.5rem 0.75rem;
                width: 75%;
            }
            .pre-wrap {
                white-space: pre-wrap;
            }
        }
        &--buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            >:not(:last-of-type) {
                margin-right: 0.25rem;
            }
            >:not(:first-of-type) {
                margin-left: 0.25rem;
            }
            button {
                cursor: pointer;
            }
        }
    }
}