@import "assets/styles/base/base.scss";

tr {
    background: transparent;
    transition: 0.3s;
    .accordion__collapse-header {
        background: $table-row-bg;
    }
    &:nth-child(even) {
        background: $table-alt-row-bg;
    }
}

tr:hover {
    cursor: pointer;
    background-color: #e2f1ff;
}

.inputCheckBox {
  cursor: pointer;
}
