<nav class="action-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" >
      <a [routerLink]="['/p', currentProject._id]">{{currentProject.name}}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <a [routerLink]="['/p', currentProject._id, 'project-surveys']">Surveys</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{survey.name}}
    </li>
  </ol>
  <div>
    <div ngbDropdown placement="bottom-right">
      <button class="btn btn-primary" id="actionDropdown" (click)="checkIfCanDelete()" ngbDropdownToggle>Actions</button>
      <div class="dropdown-menu" aria-labelledby="actionDropdown" ngbDropdownMenu>
        <button class="dropdown-item" (click)="editSurvey()">Edit</button>
        <!-- <button class="dropdown-item" (click)="addComment()">Add a comment</button> -->
        <!-- <button class="dropdown-item" (click)="exportComments()">Export All Responses</button> -->
        <button *ngIf="canDeleteSurvey" class="dropdown-item" (click)="deleteSurvey()">Delete</button>
      </div>
    </div>
  </div>
</nav>

<main class="container-fluid-padding">
  <h1>{{currentProject.name}} <span class="date">| Survey</span></h1>

  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>

  <section id="">
    <div class="row survey-meta-info">
      <div class="col-md-9">
        <h3>{{survey.name}}</h3>
      </div>
      <div class="col-md-3 last-saved">
        <p class="last-saved-text">Last Saved: <span>{{survey.lastSaved | date:'longDate'}}</span></p>
      </div>
    </div>
    <div class="row survey-main">
      <div *ngFor="let question of survey.questions; let i = index" class="col-md-8">
        <div *ngIf="question.type === 'smallText'">
          <p class="question-text">{{countArray[i]}}. {{question.questionText}}<span class="required">{{question.answerRequired ? '*' : ''}}</span></p>
          <input class="text-box" disabled>
        </div>
        <div *ngIf="question.type === 'largeText'">
          <p class="question-text">{{countArray[i]}}. {{question.questionText}}<span class="required">{{question.answerRequired ? '*' : ''}}</span></p>
          <textarea class="text-box" disabled></textarea>
        </div>
        <div *ngIf="question.type === 'singleChoice'">
          <p class="question-text">{{countArray[i]}}. {{question.questionText}}<span class="required">{{question.answerRequired ? '*' : ''}}</span></p>
          <p class="choice-limit">(Choose One)</p>
          <ul class="question-choice-list">
            <li *ngFor="let choice of question.choices" class="list-item"><i class="material-icons">radio_button_unchecked</i>{{choice}}</li>
          </ul>
        </div>
        <div *ngIf="question.type === 'multiChoice'">
          <p class="question-text">{{countArray[i]}}. {{question.questionText}}<span class="required">{{question.answerRequired ? '*' : ''}}</span></p>
          <p *ngIf="question.choose > 0" class="choice-limit">(Choose {{question.choose}})</p>
          <ul class="question-choice-list">
            <li *ngFor="let choice of question.choices" class="list-item"><i class="material-icons">check_box_outline_blank</i>{{choice}}</li>
          </ul>
        </div>
        <div *ngIf="question.type === 'likert'">
          <p class="question-text">{{countArray[i]}}. {{question.questionText}}<span class="required">{{question.answerRequired ? '*' : ''}}</span></p>
          <p *ngIf="question.attributes > 0" class="choice-limit">(Choose {{question.choose}})</p>
          <div class="wrap">
            <div *ngFor="let attribute of question.attributes">
              <label class="attribute">{{attribute.attribute}}</label>
              <ul class='likert'>
                <li *ngFor="let choice of attribute.choices">
                  <i class="material-icons">radio_button_unchecked</i>
                  <label>{{choice}}</label>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <div *ngIf="question.type === 'docPicker'">
          <p class="question-text">{{countArray[i]}}. {{question.docPickerText}}</p>
          <div class="doc-picker">Upload a document</div>
        </div>
        <div *ngIf="question.type === 'info'" [ngClass]="{'info-entry' : question.type === 'info'}">
          <span class="info-number"></span><p class="info-text">{{question.infoText}}</p>
        </div>
        <div *ngIf="question.type === 'email'">
          <p class="question-text">{{countArray[i]}}. {{question.emailText}}<span class="required">{{question.answerRequired ? '*' : ''}}</span></p>
          <input class="text-box" disabled>
        </div>
        <div *ngIf="question.type === 'phoneNumber'">
          <p class="question-text">{{countArray[i]}}. {{question.phoneNumberText}}<span class="required">{{question.answerRequired ? '*' : ''}}</span></p>
          <input class="text-box" disabled>
        </div>
      </div>
    </div>
 </section>




</main>
