<div *ngIf="commentPeriod" class="banner">
    <div class="m-3 py-3">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-0">Public Comment Period is {{commentPeriod.commentPeriodStatus}}</h2>
                <h5>{{commentPeriod.dateStarted | date: 'MMMM d'}} - {{commentPeriod.dateCompleted | date}}</h5>
            </div>
            <div class="col-md-6 text-right">
                <div *ngIf="commentPeriod.commentPeriodStatus !== Open">
                    <button type="button" class="btn btn-primary" (click)="goToViewComments()">
                        View Comment Period
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-primary" (click)="goToAddComment()">
                        Submit a Comment
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="mb-0">
                    This Public Comment Period is regarding the <b>{{commentPeriod.informationLabel}}</b>
                </p>
            </div>
        </div>
    </div>
</div>