<div class="container" id="anchor-point">
  <div class="spinner-container full-screen" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>

  <main *ngIf="!loading">
    <section>
      <h2>Crown Lands Applications in British Columbia</h2>
      <p class="tab-intro">Use the list below to navigate to individual applications. Click on any application to go directly to its details page
        or click <i class="material-icons open-icon" style="vertical-align: middle">arrow_drop_down</i> to expand the list item to see basic
        information (e.g., Location, Description, etc.) about that application.</p>

      <button class="btn btn-primary" [routerLink]="['/a/0/edit']">
        <i class="material-icons">add</i>
        <span>Create New Application</span>
      </button>

      <div class="application-list__options">
        <mat-slide-toggle color="primary" [checked]="showOnlyOpenApps" (change)="showOnlyOpenAppsChange($event.checked)">
          Only show applications with an open or future comment period
        </mat-slide-toggle>
      </div>

      <table class="table application-table">
        <thead class="application-table__sort-header">
          <tr>
            <th class="application-table__name-col sortable" (click)="sort('applicants')">Applicant(s)
              <i class="sort" [ngClass]="{'sort-asc': (column == 'applicants' && direction < 0), 'sort-desc': (column == 'applicants' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="application-table__cl_file-col sortable" (click)="sort('clFile')">CL File
              <i class="sort" [ngClass]="{'sort-asc': (column == 'clFile' && direction < 0), 'sort-desc': (column == 'clFile' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="application-table__purpose-col sortable" (click)="sort('purpose')">Purpose / Subpurpose
              <i class="sort" [ngClass]="{'sort-asc': (column == 'purpose' && direction < 0), 'sort-desc': (column == 'purpose' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="application-table__region-col sortable" (click)="sort('region')">Region
              <i class="sort" [ngClass]="{'sort-asc': (column == 'region' && direction < 0), 'sort-desc': (column == 'region' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="application-table__status-col sortable" (click)="sort('appStatus')">Status
              <i class="sort" [ngClass]="{'sort-asc': (column == 'appStatus' && direction < 0), 'sort-desc': (column == 'appStatus' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="application-table__commenting-col sortable" (click)="sort('cpStatus')">PRC Status
              <i class="sort" [ngClass]="{'sort-asc': (column == 'cpStatus' && direction < 0), 'sort-desc': (column == 'cpStatus' && direction > 0) }" aria-hidden="true"></i>
            </th>
          </tr>
        </thead>

        <tbody class="application-table__content">
          <ng-template ngFor let-app [ngForOf]="applications | orderBy: {property: column, direction: direction}">
            <tr *ngIf="showThisApp(app)">
              <td class="accordion__collapse-item p-0" colspan="6">
                <div class="accordion__collapse-header" role="tab">
                  <a role="button" class="accordion__collapse-header--column toggle collapsed" data-toggle="collapse" href="#accordCollapse{{app._id}}">
                    <i class="material-icons open-icon">arrow_drop_down</i>
                    <i class="material-icons close-icon">arrow_drop_up</i>
                  </a>
                  <span class="accordion__collapse-header--column application-table__name-col">{{app.applicants || '-'}}</span>
                  <span class="accordion__collapse-header--column application-table__cl_file-col">
                    <a [routerLink]="['/a', app._id]">{{app.clFile || '-'}}</a>
                  </span>
                  <span class="accordion__collapse-header--column application-table__purpose-col">{{app.purpose || '-'}} / {{app.subpurpose || '-'}}</span>
                  <span class="accordion__collapse-header--column application-table__region-col">{{app.region || '-'}}</span>
                  <span class="accordion__collapse-header--column application-table__status-col">{{app.appStatus || '-'}}</span>
                  <span class="accordion__collapse-header--column application-table__commenting-col">{{app.cpStatus}}</span>
                </div>

                <div class="collapse" id="accordCollapse{{app._id}}" role="tabpanel">
                  <div class="accordion__collapse-body">
                    <div class="application-table__application-details">
                      <ul class="nv-list application-table__application-details--list">
                        <!-- <li class="p-0">
                          <span class="name">Type / Subtype:</span>
                          <span class="value">{{app.type || '-'}} / {{app.subtype || '-'}}</span>
                        </li> -->
                        <li class="p-0">
                          <span class="name">Comment Period Status:</span>
                          <span class="value">{{app.cpStatus}}</span>
                        </li>
                        <li class="p-0" *ngIf="app.currentPeriod">
                          <span class="name">Comment Period Dates:</span>
                          <span class="value">{{app.currentPeriod.startDate | date:'mediumDate'}} to {{app.currentPeriod.endDate | date:'mediumDate'}}
                            <span *ngIf="app.currentPeriod['daysRemaining']">
                              &nbsp;({{app.currentPeriod['daysRemaining'] + (app.currentPeriod['daysRemaining'] === 1 ? ' day ' : ' days ') + 'remaining'}})
                            </span>
                          </span>
                        </li>
                        <li class="p-0" *ngIf="app.currentPeriod">
                          <span class="name">Comments Received:</span>
                          <span class="value">{{app['numComments']}}</span>
                        </li>
                        <li class="p-0">
                          <span class="name">Location:</span>
                          <span class="value">{{app.location || '-'}}</span>
                        </li>
                        <li class="p-0">
                          <span class="name">Description:</span>
                          <span class="value" [innerHTML]="(app.description | newlines) || '-'"></span>
                        </li>
                      </ul>

                      <div class="application-table__application-details--links">
                        <a class="btn content-btn slide-l-btn btn-sm" [routerLink]="['/a', app._id]">
                          <i class="material-icons">info_outline</i>
                          <span>Application Details</span>
                        </a>
                        <a class="btn content-btn slide-l-btn btn-sm" [routerLink]="['/comments', app._id]">
                          <i class="material-icons">message</i>
                          <span>Review Comments</span>
                        </a>
                        <!-- <a class="btn content-btn slide-l-btn btn-sm float-right" [routerLink]="['/map', { application: app._id }]">
                          <i class="material-icons">place</i>
                          <span>Show on Map</span>
                        </a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </section>
  </main>
</div>