<tr
  *ngFor="let item of items | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }"
  class="clickable-row">
  <td data-label="Select" (click)="selectItem(item)" scope="row" class="col-1">
    <input type="checkbox" aria-label="Checkbox for row item" [(ngModel)]='item.checkbox'>
  </td>
  <td data-label="Name" (click)="selectItem(item)" scope="row" class="col-11">{{item.name}}</td>
</tr>