<div class="day-calculator-modal">

    <div class="modal-header">
      <button class="close-btn btn btn-icon gtm-day-calculator-dismiss"
              type="button"
              aria-label="Close"
              (click)="cancelVC()">
        <i class="material-icons">close</i>
      </button>
      <h2>{{topic.name || "Add New Value Component"}}</h2>
    </div>
  
    <div class="modal-body">
      <form>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text"
              class="form-control"
              id="type"
              name="name"
              [(ngModel)]="topic.name"
              placeholder="Value Component Name">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="type">Type</label>
                <input type="text"
                        class="form-control"
                        id="type"
                        name="type"
                        [(ngModel)]="topic.type"
                        placeholder="Type">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text"
                class="form-control"
                id="type"
                name="description"
                [(ngModel)]="topic.description"
                placeholder="Description">
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="pillar">Pillar</label>
                <input type="text"
                class="form-control"
                id="type"
                name="pillar"
                [(ngModel)]="topic.pillar"
                placeholder="Pillar">
                </div>
            </div>
          </div>
      </form>
    </div>
  
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" (click)="cancelVC()">Cancel</button>
      <button class="btn btn-success" type="button" (click)="saveVC()">Save</button>
    </div>
  
  </div>