<nav class="action-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
  <li class="breadcrumb-item" >
    <a [routerLink]="['/projects']">All Projects</a>
  </li>
<!-- ADD PROPERTY projectID project.name -->
<!--       <li class="breadcrumb-item" >
    <a [routerLink]="['/p', projectId]"> {{project.name}}
    </a>
  </li> -->
    <li class="breadcrumb-item active" aria-current="page">Contacts</li>
  </ol>
</nav>
<main class="container-fluid-padding">
  <mat-tab-group>
    <mat-tab label="CONTACTS">
      <!-- <app-comment-period-details-tab [commentPeriod]="commentPeriod"></app-comment-period-details-tab> -->
    </mat-tab>
    <mat-tab label="PARTICIPATING INDIGENOUS NATIONS">
      <!-- <app-review-comments-tab></app-review-comments-tab> -->
    </mat-tab>
    <mat-tab label="GROUPS">
      <!-- <app-review-comments-tab></app-review-comments-tab> -->
    </mat-tab>
  </mat-tab-group>
  <div>
    <legend>COMING SOON</legend>
  </div>
</main>
