@import "assets/styles/components/add-edit.scss";

.btn-group-toggle > .btn {
  margin-bottom: 0;
  border-radius: 24px;
  background: none;
  color: #003367;
  border: 2px solid #003367;
  font-weight: 600;

  &:hover {
    background: #fcb118;
  }

  &.active {
  	background: #003367;
  	color: #fff;
  }
}

// Move somewhere global
h1 {
  letter-spacing: -0.05rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.03rem;

  strong {
    font-weight: 400;
  }
}

.breadcrumb {
  margin-bottom: 0;
}

.btn-sm {
  i {
    margin-top: -0.1rem;
  }
}

// Search Container
.search-container {
  padding-top: 1.5rem;
  padding-bottom: .5rem;
  background: #f7f8fa;
}

form {
  margin-top: 2rem;
}

.main-search-field {
  input {
    height: 3rem;
    color: #000;
    font-size: 1.15rem;

    &:-webkit-autofill {
      box-shadow: 0 0 0 30px white inset;
    }
  }

  button {
    min-width: 10rem;
    font-weight: 700;
  }

  .input-group-addon {
    font-size: 1.15rem;
  }
}

.form-text {
  margin-top: 0.55rem;
  font-size: 0.85rem;
}

// Search Results Table
$sr-table-row-bg: #f7f8fa;

.search-results {
  table {
    margin-top: .5rem;
    table-layout: fixed;
  }

  th {
    padding: 0.5rem 1rem;
    overflow: hidden;
    border: none;
    background: $sr-table-row-bg;
    text-overflow: ellipsis;
    font-size: 0.875rem;
  }

  td {
    padding-top: 1.25rem;
    padding-right: 1rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    border: none;
    background: $sr-table-row-bg;
    line-height: 1.15rem;
    font-size: 0.9375rem;
  }
}

// Search Table Columns
.cl-file {
  padding-right: 0;
  width: 7rem;
  overflow: hidden;

  .cl-arrow {
    top: -0.55rem; // Offset top padding
    left: -1rem;  // Offset left padding
  }
}

.disp {
  width: 5.5rem;
}

.status {
  max-width: 13rem;
}

.actions {
  width: 9rem;
  text-align: right;
  padding-top: 0;
  padding-bottom: 0;

  .btn {
    margin-top: -0.35rem;
    width: 6rem;
    border-width: 2px;
    font-weight: 700;
  }
}

.app-details {
  border-top: 4px solid #fff;
}

.app-comment-details {
  td {
    padding-top: 0;
    padding-bottom: 1.25rem;

    a {
      color: #007bff;
    }
  }

  span {
    + .loading-comment-info {
      display: none;
    }
  }
}

// Crown Land File Number Arrow
$cl-arrow-size: 3.0rem;
$cl-arrow-color: #003366;
$cl-arrow-font-color: #fff;

.cl-arrow {
  position: relative;
  display: inline-block;
  height: $cl-arrow-size;
  padding-top: 0.55rem;
  padding-right: 0.65rem;
  padding-left: 1rem;
  color: $cl-arrow-font-color;
  background: $cl-arrow-color;
  font-weight: bold;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: calc(#{$cl-arrow-size} * -1);
    display: block;
    width: $cl-arrow-size;
    height: $cl-arrow-size;
    border-style: solid;
    border-top-width: calc(#{$cl-arrow-size} / 2);
    border-top-color: transparent;
    border-bottom-width: calc(#{$cl-arrow-size} / 2);
    border-bottom-color: transparent;
    border-left-width: calc(#{$cl-arrow-size} / 2);
    border-left-color: $cl-arrow-color;
  }
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  box-shadow: 0 0 0.5rem #999;
  font-size: 0.875rem;

  button {
    padding: 0.5rem 1rem;
    color: #007bff;

    i {
      margin-top: -0.15rem;
      vertical-align: middle;
      margin-right: 0.25rem;
      margin-left: -0.25rem;
      font-size: 1.25rem;
      width: 1.5rem;
    }

    &:hover {
      color: #fff;
      background: #007bff;
    }
  }
}

.dropdown-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.dropdown-item:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.table {
  border: none;

  thead th{
    background-color: #eef3f7;
    padding: .75rem 0.5rem .5rem;
    border: none;
  }
  th,
  td {
    border: none;
    &.type {
      max-width: 24%;
    }
    &.date {
      max-width: 10%;
    }
    &.priority {
      text-align: center;
    }
    &.delete {
      .btn {
        margin: 0;
        padding: 0 1rem 0 0;
        text-align: center;
        line-height: 1;
      }
    }
  }

  tbody {
    td {
      padding: 0.25rem 0.5rem;
    }
    tr {
      padding: 2px 0;
    }
  }

  tr td:first-child,
  tr th:first-child {
    padding-left: 1rem;
    max-width: 4.5%;
  }

  tr td:last-child,
  tr th:last-child {
    max-width: 4.5%;
  }

  thead {
    border-bottom: none;
    .pin i {
      top: -8px;
    }
  }
}

.active-flag {
  background: #5BB75C;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 3px 8px 4px;
  border-radius: 5px;
  font-size: .8rem;
}
