<div class="action-container">
  <ol aria-label="breadcrumb" class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Activity Posts</li>
  </ol>
  <div class="dropdown">
    <button (click)="selectAction('add')" class="btn btn-primary" type="button" id="button-d"><i
        class="material-icons">add</i>Add Activity</button>
  </div>
</div>

<main class="container-fluid-padding">
  <form #f="ngForm" class="search-form ui form" (ngSubmit)="onSubmit()">
    <p><b>Keyword Input:</b></p>
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="input-group main-search-field">
          <input class="form-control" type="text" name="keywordInput" placeholder="Enter keywords to search..."
            id="keywordInput" [(ngModel)]="tableParams.keywords" autofocus />
        </div>
      </div>
    </div>
    <!-- TODO: Implement Date Range Input -->
    <!-- <p><b>Date Range Input:</b></p>
    <div class="form-row">
      <div class="form-group col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Select a start date" name="dateAddedStart"
            [(ngModel)]="filter.dateAddedStart" [ngModelOptions]="{standalone: true}" ngbDatepicker
            #dateAddedStartPicker="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dateAddedStartPicker.toggle()"
              type="button"></button>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Select a end date" name="dateAddedEnd"
            [(ngModel)]="filter.dateAddedEnd" [ngModelOptions]="{standalone: true}" ngbDatepicker
            #dateAddedEndPicker="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dateAddedEndPicker.toggle()"
              type="button"></button>
          </div>
        </div>
      </div>
    </div> -->
    <p><b>Type Filters:</b></p>
    <div class="form-row">
      <div class="form-group col-md-8">
        <div class="btn-group btn-group-toggle">
          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary" [class.active]="filterPublicCommentPeriod">
              <input type="checkbox"
                (click)="filterPublicCommentPeriod = !filterPublicCommentPeriod; toggleFilter('publicCommentPeriod');"
                [(ngModel)]="filterPublicCommentPeriod" autocomplete="off" [ngModelOptions]="{standalone: true}">Public
              Comment Period
            </label>
          </div>
          &nbsp;
          <div class="btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary" [class.active]="filterNews">
              <input type="checkbox" (click)="filterNews = !filterNews; toggleFilter('news');" autocomplete="off"
                [(ngModel)]="filterNews" [ngModelOptions]="{standalone: true}">News
            </label>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">
      <span>Search</span>
    </button>
    &nbsp;
    <button class="btn btn-primary" (click)="onSubmit(1, true)" type="reset">
      <span>Reset</span>
    </button>
    <div class="results mt-1">
      <p *ngIf="!loading && tableParams.totalListItems === 0">
        No result<span *ngIf="count !== 1">s</span> found for "{{tableParams.keywords}}"
      </p>
      <div *ngIf="!loading && tableParams.totalListItems > 0">
        {{tableParams.totalListItems}} result<span *ngIf="tableParams.totalListItems != 1">s found</span>
      </div>
    </div>
  </form>
  <br>
  <div *ngIf="tableParams.totalListItems > 0">
    <app-table-template [columns]="tableColumns" [data]="tableData" (onColumnSort)='setColumnSort($event)'
      (onPageNumUpdate)='onSubmit($event)'>
    </app-table-template>
  </div>
  <div *ngIf="tableParams.totalListItems === 0">
    No Activities/Updates.
  </div>
</main>