<section class="container-fluid-padding">
	<div class="action-container">
    <ol aria-label="breadcrumb" class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Activity Posts</li>
    </ol>
	  <div class="dropdown">
	  	<button class="btn btn-primary"><i class="material-icons">add</i> Add Activity</button>
	  </div>
	</div>
  <app-table-template
      [columns]="tableColumns"
      [data]="tableData"
      (onColumnSort)='setColumnSort($event)'
      (onPageNumUpdate)='getPaginated($event, null, null)'>
  </app-table-template>
  <div *ngIf="tableParams.totalListItems == 0">
    No Activities/Updates. {{tableParams.totalListItems}}
  </div>
</section>
