<div class="row mb-1 text-center">
    <div class="col-3">
        Pending
        <br />
        <span class="badge badge-secondary">0</span>
    </div>
    <div class="col-3">
        Deferred
        <br />
        <span class="badge badge-secondary bg-warning">0</span>
    </div>
    <div class="col-3">
        Published
        <br />
        <span class="badge badge-secondary bg-success">0</span>
    </div>
    <div class="col-3">
        Rejected
        <br />
        <span class="badge badge-secondary bg-danger">0</span>
    </div>
</div>