<div class="row mb-1 text-center">
    <div class="col-3">
        <strong>Pending</strong>
        <br />
        <span class="badge badge-secondary">0</span>
    </div>
    <div class="col-3">
        <strong>Deferred</strong>
        <br />
        <span class="badge badge-secondary bg-warning">0</span>
    </div>
    <div class="col-3">
        <strong>Published</strong>
        <br />
        <span class="badge badge-secondary bg-success">0</span>
    </div>
    <div class="col-3">
        <strong>Rejected</strong>
        <br />
        <span class="badge badge-secondary bg-danger">0</span>
    </div>
</div>