.table {
	border: none;

	thead th{
    background-color: #e8eff5;
    padding: .7rem 0.15rem .85rem;
    border: none;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid #007bff;
    }
  }

  td {
    border: none;
  }

  tr {
    border: none;
  }

	tr td:first-child,
	tr th:first-child {
		padding-left: 1rem;
	}

	thead {
		border-bottom: none;
	}
}
