<main id="anchor-point">
    <div class="fb-container bg-faded">
        <section>
            <div class="col-lg">
              <button type="button"
                        (click)="addUser()"
                        class="btn content-btn btn-sm create-button">
                        <i class="material-icons">person_add</i>Create User</button>
                <h2 id="nav-tabs">Users</h2>
                    <ngb-tabset>
                      <!-- Sysadmin Accounts -->
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                            <i class="material-icons">supervisor_account</i>Sysadmins
                        </ng-template>
                        <ng-template ngbTabContent>
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th scope="col">Display Name</th>
                                  <th scope="col">First</th>
                                  <th scope="col">Last</th>
                                  <th scope="col">Username</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let user of sysadmins"
                                    class="clickable-row"
                                    (click)="selectUser(user)">
                                  <td scope="row">{{user.displayName}}</td>
                                  <td>{{user.firstName}}</td>
                                  <td>{{user.lastName}}</td>
                                  <td>{{user.username}}</td>
                                </tr>
                              </tbody>
                            </table>
                        </ng-template>
                      </ngb-tab>
                      <!-- Standard Accounts -->
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                            <i class="material-icons">person</i>Standard
                        </ng-template>
                        <ng-template ngbTabContent>
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th scope="col">Display Name</th>
                                  <th scope="col">First</th>
                                  <th scope="col">Last</th>
                                  <th scope="col">Username</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let user of standards"
                                    class="clickable-row"
                                    (click)="selectUser(user)">
                                  <td scope="row">{{user.displayName}}</td>
                                  <td>{{user.firstName}}</td>
                                  <td>{{user.lastName}}</td>
                                  <td>{{user.username}}</td>
                                </tr>
                              </tbody>
                            </table>
                        </ng-template>
                      </ngb-tab>
                    </ngb-tabset>
            </div>
        </section>
    </div>
</main>
