<div class="spinner-container" *ngIf="loading">
  <div class="spinner-new rotating"></div>
</div>

<section id="header-section">
  <div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <h3 class="filter-title">FILTER RESULTS:</h3>
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" [class.active]="filter.pending">
          <input type="checkbox" (click)="togglePending()" autocomplete="off">Pending
        </label>
      </div>
      &nbsp;
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" [class.active]="filter.published">
          <input type="checkbox" (click)="togglePublished()" autocomplete="off">Published
        </label>
      </div>
      &nbsp;
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" [class.active]="filter.deferred">
          <input type="checkbox" (click)="toggleDeferred()" autocomplete="off">Deferred
        </label>
      </div>
      &nbsp;
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" [class.active]="filter.rejected">
          <input type="checkbox" (click)="toggleRejected()" autocomplete="off">Rejected
        </label>
      </div>
    </div>
  </div>
  <div class="result-num">
    Displaying <strong>{{tableParams.pageSize}} of {{tableParams.totalListItems}}</strong> Comments
  </div>
</section>

<section id="table-section">
  <div *ngIf="tableParams.totalListItems > 0 && !loading">
    <app-table-template [columns]="commentTableColumns" [data]="commentTableData" (onColumnSort)='setColumnSort($event)'
      (onPageNumUpdate)='getPaginatedComments($event)'>
    </app-table-template>
  </div>
  <div *ngIf="tableParams.totalListItems == 0">
    There are no comments.
  </div>
</section>