@import "assets/styles/components/details.scss";

#header-section {
  max-width: 100%;
  overflow-x: hidden;
  margin-bottom: 0rem;
  padding-top: 20px;
}

.result-num {
	padding-top: 20px;
}

#table-section {
	margin-top: 1.4rem;
}

.btn-group-toggle > .btn {
  margin-bottom: 0;
  border-radius: 24px;
  background: none;
  color: #003367;
  border: 2px solid #003367;
  font-weight: 600;

  &:hover {
    background: #fcb118;
  }

  &.active {
  	background: #003367;
  	color: #fff;
  }
}

@media screen and (max-width: 768px) {
	.btn-group-toggle {
    display: block;
  }

	.btn-group.btn-group-toggle > div {
	  display: inline-block;
	  margin-top: 6px;
	}
}

.filter-title {
	margin: 12px 12px 0 0;
}
