<nav class="action-container" aria-label="breadcrumb">
  <ol *ngIf="navigationObject" class="breadcrumb">
    <li class="breadcrumb-item" *ngFor="let breadcrumb of navigationObject.breadcrumbs">
      <a [routerLink] (click)="navigationStackUtils.navigateBreadcrumb(breadcrumb, router)">{{breadcrumb.label}}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Select Contact(s)</li>
  </ol>
</nav>

<div class="container-fluid-padding">
  <p><b>Selected Contacts:</b></p>
  <div class="user-select-container">
    <ul class="doc-list mb-3" *ngIf="storageService.state.selectedUsers?.length > 0">
      <li *ngFor="let user of storageService.state.selectedUsers">
        <span class="cell icon">
          <i class="material-icons">perm_contact_calendar</i>
        </span>
        <span class="cell name" [title]="user.displayName || ''">
          <span class="cell__txt-content">{{user.displayName}}</span>
        </span>
        <span class="cell actions">
          <button class="btn btn-icon" type="button" title="Delete this user" (click)="removeSelectedUser(user)">
            <i class="material-icons">delete</i>
          </button>
        </span>
      </li>
    </ul>
    <div *ngIf="storageService.state.selectedUsers?.length === 0">
      There are no selected users.
    </div>
  </div>
  <br>
  <form #f="ngForm" class="search-form ui form" (ngSubmit)="getPaginatedDocs(1)">
    <p><b>Name Filter:</b></p>
    <div class="form-row">
      <div class="form-group col-md-12">
        <div class="input-group main-search-field">
          <input class="form-control" type="text" name="keywordInput" placeholder="Enter a name to filter..."
            id="keywordInput" [(ngModel)]="tableParams.keywords" autofocus />
          <button class="btn btn-primary" type="submit">
            <span>Search</span>
          </button>
        </div>
      </div>
    </div>
  </form>

  <div class="input-group-prepend">
    <button (click)="selectAction('createContact')" class="btn btn-outline-primary mr-1" type="button" id="button-sa">
      Create New Contact
    </button>
    <button (click)="selectAction('selectAll')" class="btn btn-outline-secondary mr-1" type="button"
      id="button-sa">Select All</button>
  </div>

  <div *ngIf="!loading && tableParams.totalListItems === 0">
    No contacts found.
  </div>

  <app-table-template *ngIf="!loading && tableParams.totalListItems !== 0" (checkboxChange)='checkChange($event)'
    [columns]="tableColumns" [data]="tableData" (onColumnSort)='setColumnSort($event)'
    (onSelectedRow)='updateSelectedRow($event)' (onPageNumUpdate)='getPaginatedDocs($event, null, null)'>
  </app-table-template>

  <div class="btn-group" role="group" aria-label="Action Buttons" *ngIf="!loading && tableParams.totalListItems != 0">
    <div class="input-group-prepend">
      <button class="btn btn-outline-primary mr-1" type="button" id="button-cl" (click)="goBack()"><i
          class="material-icons">arrow_back</i>Back</button>
    </div>
    <div class="input-group-prepend">
      <button (click)="save()" class="btn btn-outline-primary mr-1" type="submit" id="button-cl"><i
          class="material-icons">save</i>Save</button>
    </div>
  </div>
</div>