.survey-meta-info {
  border-bottom: 1px solid lightgray;

  h3 {
    margin-bottom: 0;
  }
}

.survey-response-header {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 1.25rem;

  div {

    &:first-child {
      flex-grow: 1;
    }

    margin-right: 2rem;
    font-size: 1.15rem;

    span {
      font-weight: bold;
    }
  }
}

.survey-main {
  padding: 1.25rem;

  .info-entry {
    display: flex;
  }

  .question-text {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 1.5rem 0 0 0;
  }

  .question-choice-list {
    list-style-type: none;
    // color: grey;
    padding: 1rem;
    font-size: 1.1rem;
    margin: 0;

    .list-item {
      display: flex;
      padding: 0.25rem 0;
    }
  }

  .choice-limit {
    margin: 0;
    padding-left: 1rem;
  }

  .selected-choice {
    font-weight: bold;

    .other-choice {
      font-weight: normal;
    }
  }

  .text-box {
    margin: 1rem;
  }

  .required {
    font-size: 2rem;
  }

  .info-number {
    font-weight: bold;
    color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-text {
    display: inline-block;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    margin: 1rem 0rem;
    font-weight: bold;
    padding: 1rem;
    font-size: 1.1rem;
    flex-grow: 1;
  }

  .doc-picker {
    border: 2px dashed lightgrey;
    margin: 1rem;
    color: grey;
    text-align: center;
    padding: 2rem;
  }
}

.answer-text {
  margin: 0.75rem 1.25rem;
}

.no-answer-text {
  margin: 0.75rem 1.25rem;
  font-style: italic;
}

.attachments {
  padding: 1.25rem;
}

.last-saved {
  text-align: right;
  padding-top: 0.3rem;

  .last-saved-text {
    margin-right: 1rem;
  }
}



h1 {
  margin-bottom: 16px;
}

.date {
  font-size: 1rem;
  color: #FCB118;
}


div .attribute {
  display:block;
  font-size: 1rem;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}

div .likert {
  list-style:none;
  width:100%;
  margin:0;
  display:block;
}

div .likert:last-of-type {
  border-bottom: 0;
}

div .likert li {
  display: inline-block;
  width: 19%;
  text-align: center;
  vertical-align: top;
}

div .likert li label {
  width:100%;

}

textarea,
input[type="text"] {
  border-radius: 2px;
  box-shadow: none;
  -webkit-appearance: none;
  border: 1px solid #ababab;
  font-size: 1rem;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #5091cd;
  }
}
.card-text {
    color: rgb(51,102,187);
    cursor: pointer;
}

.clickable-row {
  cursor: pointer;
}

.btn-group-toggle .btn {
  margin-bottom: 0;
  border-radius: 24px;
  background: none;
  color: #003367;
  border: 2px solid #003367;
  font-weight: 600;

  &:hover {
    background: #fcb118;
  }

  &.active {
    background: #003367;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .btn-group-toggle {
    display: block;
    margin-top: 10px;
  }

  .btn-group.btn-group-toggle > div {
    display: inline-block;
    margin-top: 6px;
  }
}

h3 {
  letter-spacing: -0.02rem;
  font-size: 1rem;
  font-weight: 700;
  display: inline-block;
}
