<nav *ngIf="!loading" class="action-container">
  <ol class="breadcrumb" *ngIf="commentPeriod">
    <li class="breadcrumb-item">
      <a [routerLink]="['/projects']">All Projects</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/p', currentProject._id]">{{currentProject.name}}</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a [routerLink]="['/p', currentProject._id, 'comment-periods']">Comment Periods</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a [routerLink]="['/p', currentProject._id, 'cp', commentPeriod._id]">
        {{commentPeriod.dateStarted | date: 'MMMM d'}} - {{commentPeriod.dateCompleted | date}}
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Survey Response
    </li>
  </ol>
  </nav>

<div class="spinner-container" *ngIf="loading">
  <div class="spinner-new rotating"></div>
</div>

  <main class="container-fluid-padding">

    <div class="spinner-container" *ngIf="loading">
      <div class="spinner-new rotating"></div>
    </div>

    <section id="">
      <div class="row">
        <div class="col-md-12 survey-response-header">
          <div><span>Survey Response # {{surveyResponse.commentId}}</span></div>
          <!-- <div><span>Author:</span> {{surveyResponse.author}}</div>
          <div><span>Location:</span> {{surveyResponse.location}}</div> -->
          <div><span>Date Submitted:</span> {{surveyResponse.dateAdded | date: 'longDate'}}</div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-8">

      <div class="row survey-main">
        <!-- <div class="col-md-12">
          <div>
            <p class="question-text">1. Your name<span class="required">*</span></p>
            <p class="answer-text">{{surveyResponse.author}}</p>
          </div>
          <div>
            <p class="question-text">2. Location<span class="required">*</span></p>
            <p class="answer-text">{{surveyResponse.location}}</p>
          </div>
        </div> -->
        <div *ngFor="let entry of surveyResponse.responses; let i = index" class="col-md-12">
          <div *ngIf="entry.question.type === 'smallText'">
            <div class="question-text"><span>{{countArray[i]}}. </span><p [innerHTML]="entry.question.questionText"><span class="required">{{entry.question.answerRequired ? '*' : ''}}</span></p></div>
            <p *ngIf="entry.answer.textAnswer" class="answer-text">{{entry.answer.textAnswer}}</p>
            <p *ngIf="!entry.answer.textAnswer" class="no-answer-text">(blank)</p>
          </div>
          <div *ngIf="entry.question.type === 'largeText'">
            <div class="question-text"><span>{{countArray[i]}}. </span><p [innerHTML]="entry.question.questionText"><span class="required">{{entry.question.answerRequired ? '*' : ''}}</span></p></div>
            <p *ngIf="entry.answer.textAnswer" class="answer-text">{{entry.answer.textAnswer}}</p>
            <p *ngIf="!entry.answer.textAnswer" class="no-answer-text">(blank)</p>
          </div>
          <div *ngIf="entry.question.type === 'singleChoice'">
            <div class="question-text"><span>{{countArray[i]}}. </span><p [innerHTML]="entry.question.questionText"><span class="required">{{entry.question.answerRequired ? '*' : ''}}</span></p></div>
            <p class="choice-limit">(Choose One)</p>
            <ul class="question-choice-list">
              <li *ngFor="let choice of entry.question.choices; let ci = index" class="list-item">
                <i *ngIf="entry.answer.singleChoice !== choice" class="material-icons">radio_button_unchecked</i>
                <i *ngIf="entry.answer.singleChoice === choice" class="material-icons">radio_button_checked</i>
                <span [ngClass]="{'selected-choice' : entry.answer.singleChoice === choice}">{{choice}}</span>
              </li>
              <li *ngIf="entry.answer.otherText" class="list-item">
                <i class="material-icons">radio_button_checked</i>
                <span class="selected-choice">Other: <span class="other-choice">{{entry.answer.otherText}}</span></span>
              </li>
            </ul>
          </div>
          <div *ngIf="entry.question.type === 'multiChoice'">
            <div class="question-text"><span>{{countArray[i]}}. </span><p [innerHTML]="entry.question.questionText"><span class="required">{{entry.question.answerRequired ? '*' : ''}}</span></p></div>
            <p *ngIf="entry.question.choose > 0" class="choice-limit">(Choose {{entry.question.choose}})</p>
            <ul class="question-choice-list">
              <li *ngFor="let choice of entry.question.choices; let ci = index" class="list-item">
                <i *ngIf="!entry.answer.multiChoices.includes(choice)" class="material-icons">check_box_outline_blank</i>
                <i *ngIf="entry.answer.multiChoices.includes(choice)" class="material-icons">check_box</i>
                <span [ngClass]="{'selected-choice' : entry.answer.multiChoices.includes(choice)}">{{choice}}</span>
              </li>
              <li *ngIf="entry.answer.otherText" class="list-item">
                <i class="material-icons">check_box</i>
                <span class="selected-choice">Other: <span class="other-choice">{{entry.answer.otherText}}</span></span>
              </li>
            </ul>
          </div>
          <div *ngIf="entry.question.type === 'likert'">
            <div class="question-text"><span>{{countArray[i]}}. </span><p [innerHTML]="entry.question.questionText"><span class="required">{{entry.question.answerRequired ? '*' : ''}}</span></p></div>
            <div class="wrap">
              <div *ngFor="let attribute of entry.question.attributes; let ai = index">
                <label class="attribute">{{attribute.attribute}}</label>
                <ul class='likert'>
                  <li *ngFor="let choice of attribute.choices; let ci = index">
                    <i *ngIf="entry.answer.attributeChoices[ai] !== choice" class="material-icons">radio_button_unchecked</i>
                    <i *ngIf="entry.answer.attributeChoices[ai] === choice" class="material-icons">radio_button_checked</i>
                    <label [ngClass]="{'selected-choice' : entry.answer.attributeChoices[ai] === choice}">{{choice}}</label>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div *ngIf="entry.question.type === 'docPicker'">
            <div class="question-text"><span>{{countArray[i]}}. </span><p [innerHTML]="entry.question.docPickerText"><span class="required">{{entry.question.answerRequired ? '*' : ''}}</span></p></div>
            <div class="doc-picker">Upload a document</div>
          </div>
          <div *ngIf="entry.question.type === 'info'" [ngClass]="{'info-entry' : entry.question.type === 'info'}">
            <div class="question-text"><p [innerHTML]="entry.question.infoText"></p></div>
          </div>
          <div *ngIf="entry.question.type === 'email'">
            <p class="question-text">{{countArray[i]}}. {{entry.question.emailText}}<span class="required">{{entry.question.answerRequired ? '*' : ''}}</span></p>
            <p *ngIf="entry.answer.emailAnswer" class="answer-text">{{entry.answer.emailAnswer}}</p>
            <p *ngIf="!entry.answer.emailAnswer" class="no-answer-text">(blank)</p>
          </div>
          <div *ngIf="entry.question.type === 'phoneNumber'">
            <p class="question-text">{{countArray[i]}}. {{entry.question.phoneNumberText}}<span class="required">{{entry.question.answerRequired ? '*' : ''}}</span></p>
            <p *ngIf="entry.answer.phoneNumberAnswer" class="answer-text">{{entry.answer.phoneNumberAnswer}}</p>
            <p *ngIf="!entry.answer.phoneNumberAnswer" class="no-answer-text">(blank)</p>
          </div>
        </div>
      </div>
    </div>

      <div class="col-md-4">
        <div class="form-row attachments">
          <div class="form-group col-md-12">
            <label for="proponentResponse"><b>Attachments</b></label>
            <div *ngIf="surveyResponse.documentsList?.length > 0">
              <ul class="doc-list mb-3">
                <li *ngFor="let document of surveyResponse.documentsList">
                  <span class="cell icon">
                    <i class="material-icons">insert_drive_file</i>
                  </span>
                  <span class="cell name clickable-row" [title]="document.internalOriginalName || ''"
                    (click)='downloadDocument(document)'>
                    <span class="cell__txt-content">{{document.internalOriginalName}}</span>
                  </span>
                </li>
              </ul>
            </div>
            <div *ngIf="surveyResponse.documentsList?.length === 0">
              <p>This survey response has no associated documents.</p>
            </div>
          </div>
        </div>

      </div>
    </div>

   </section>

</main>
