<tr
  *ngFor="let valuedComponent of valuedComponents | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }"
  class="clickable-row" (click)="selectItem(valuedComponent)" >
  <td data-label="Select" scope="row" class="col-1">
    <input type="checkbox" aria-label="Checkbox for row item" [(ngModel)]='valuedComponent.checkbox'>
  </td>
  <td data-label="Type" scope="row" class="col-3">{{valuedComponent.type}}</td>
  <td data-label="Title" scope="row" class="col-5">{{valuedComponent.title}}</td>
  <td data-label="Pillar" scope="row" class="col-2">{{valuedComponent.pillar}}</td>
  <td data-label="Parent" scope="row" class="col-2">{{valuedComponent.parent}}</td>
  <!-- <td>
            <button type="button" (click)="deleteVC(valuedComponent)" class="btn btn-danger">Delete</button>
        </td> -->
</tr>