/* ink bar */
::ng-deep .mat-ink-bar {
	background-color: #FCBA19 !important;
}

textarea,
input[type="text"] {
  border-radius: 2px;
  box-shadow: none;
  -webkit-appearance: none;
  border: 1px solid #ababab;
  font-size: 1rem;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #5091cd;
  }
}

h1 {
  margin-bottom: 16px;
}

.date {
  font-size: 1rem;
  color: #FCB118;
}
