<nav class="action-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/p', currentProject._id]">{{currentProject.name}}</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a [routerLink]="['/p', currentProject._id, 'comment-periods']">Comment Periods</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{commentPeriod.dateStarted | date: 'MMMM d'}} - {{commentPeriod.dateCompleted | date}}
    </li>
  </ol>
  <div ngbDropdown placement="bottom-right" class="d-inline-block">
    <button class="btn btn-primary" id="actionDropdown" (click)="checkIfCanDelete()" ngbDropdownToggle>Actions</button>
    <div class="dropdown-menu" aria-labelledby="actionDropdown" ngbDropdownMenu>
      <button class="dropdown-item" (click)="editCommentPeriod()">Edit</button>
      <button class="dropdown-item" (click)="addComment()">Add a comment</button>
      <button class="dropdown-item" (click)="togglePublishState()">{{publishAction}}</button>
      <button *ngIf="canDeleteCommentPeriod" class="dropdown-item" (click)="deleteCommentPeriod()">Delete</button>
    </div>
  </div>
</nav>

<main class="container-fluid-padding">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>

  <h1 id="name">{{currentProject.name}} <span class="date">| Comment Period</span></h1>

  <div>
    <mat-tab-group>
      <mat-tab label="DETAILS">
        <br>
        <app-comment-period-details-tab [commentPeriod]="commentPeriod"></app-comment-period-details-tab>
      </mat-tab>
      <mat-tab label="REVIEW COMMENTS">
        <app-review-comments-tab></app-review-comments-tab>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>
