<nav *ngIf="!loading" class="action-container" aria-label="breadcrumb">
  <div *ngIf="!isEditing">
    <ol *ngIf="navigationObject == null" class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a [routerLink]="['/orgs']">Organizations</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Add
      </li>
    </ol>
    <ol *ngIf="navigationObject" class="breadcrumb">
      <li class="breadcrumb-item" *ngFor="let breadcrumb of navigationObject.breadcrumbs">
        <a [routerLink]
          (click)="navigationStackUtils.navigateBreadcrumb(breadcrumb, router)">{{breadcrumb.label}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Add Organization
      </li>
    </ol>
  </div>
  <div *ngIf="isEditing">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a [routerLink]="['/orgs']">Organizations</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit
      </li>
    </ol>
  </div>
</nav>

<main class="container-fluid-padding add-edit-form">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <form [formGroup]="orgForm" novalidate>
    <div class="text-right">
      <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
      &nbsp;
      <button class="btn btn-primary" type="submit" (click)="onSubmit()">Save</button>
    </div>
    <h2 *ngIf="!isEditing">Add Organization</h2>
    <h2 *ngIf="isEditing">Edit Organization</h2>

    <div class="flex-container">
      <div class="label-pair">
        <label for="name">Organization Name*</label>
        <input required name="name" id="name" formControlName="name" type="text" class="form-control" />
      </div>
      <div class="label-pair">
        <label for="companyType">Organization Type*</label>
        <select required class="form-control" formControlName="companyType">
          <option *ngFor="let companyType of companyTypeList" [ngValue]="companyType">
            {{companyType}}</option>
        </select>
      </div>
      <div class="label-pair">
        <label for="description">Parent Company</label>
        <div *ngIf="parentOrganizationName === '' || parentOrganizationName == null">
          <button class="btn btn-primary" type="button" (click)="linkOrganization()">Link Parent Company</button>
        </div>
        <div *ngIf="parentOrganizationName !== '' && parentOrganizationName">
          <span class="cell icon">
            <i class="material-icons">business</i>
          </span>
          &nbsp;
          <span class="cell name" [title]="parentOrganizationName || ''">
            <span class="cell__txt-content">{{parentOrganizationName}}</span>
          </span>
          <span class="cell actions">
            <button class="btn btn-icon" type="button" title="Delete this organization"
              (click)="removeSelectedOrganization()">
              <i class="material-icons">delete</i>
            </button>
          </span>
        </div>
      </div>
      <div class="label-pair">
        <label for="description">Organization Legal Name</label>
        <input name="companyLegal" id="companyLegal" formControlName="companyLegal" type="text" class="form-control" />
      </div>
    </div>

    <br>

    <div class="flex-container">
      <div class="label-pair lrg">
        <label for="description">Notes</label>
        <editor [init]="tinyMceSettings" name="description" id="description" formControlName="description"></editor>
      </div>
    </div>

    <br>

    <div class="flex-container">
      <div class="label-pair lrg">
        <label for="address1">Street Address*</label>
        <input required name="address1" id="address1" formControlName="address1" type="text" class="form-control" />
      </div>
      <div class="label-pair lrg">
        <label for="address2">Street Address Line 2 </label>
        <input name="address2" id="address2" formControlName="address2" type="text" class="form-control" />
      </div>
    </div>
    <div class="flex-container">
      <div class="label-pair">
        <label for="city">City*</label>
        <input required name="city" id="city" formControlName="city" type="text" class="form-control" />
      </div>
      <div class="label-pair">
        <label for="province">Province/State</label>
        <input required name="province" id="province" formControlName="province" type="text" class="form-control"
          placeholder="British Columbia" />
      </div>
      <div class="label-pair">
        <label for="postal">Postal/Zip Code</label>
        <input name="postal" id="postal" formControlName="postal" type="text" class="form-control" />
      </div>
      <div class="label-pair">
        <label for="country">Country*</label>
        <input required name="country" id="country" formControlName="country" type="text" class="form-control"
          placeholder="Canada" />
      </div>
    </div>
  </form>
</main>