<nav class="action-container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a [routerLink]="['/projects']">All Projects</a>
        </li>
        <li class="breadcrumb-item">
            <a *ngIf='currentProject' [routerLink]="['/p', currentProject._id]">{{currentProject.name}}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Email Subscribers</li>
    </ol>
</nav>
<div class="container-fluid-padding">
    <div class="spinner-container" *ngIf="loading">
        <div class="spinner-new rotating"></div>
    </div>

    <!--<app-table-template 
        *ngIf="!loading && tableParams.totalListItems != 0" 
        (checkboxChange)='checkChange($event)'
        [columns]="tableColumns" 
        [data]="tableData" 
        (onColumnSort)='setColumnSort($event)'
        (onSelectedRow)='updateSelectedRow($event)' 
        (onPageNumUpdate)='getPaginatedDocs($event, null, null)'>
    </app-table-template>-->
    <app-table-template 
        *ngIf="tableParams.totalListItems > 0"
        [columns]="tableColumns"
        [data]="tableData"
        >
    </app-table-template>
    <div *ngIf="tableParams.totalListItems == 0">
        This project has no email subscribers.
    </div>
</div>