@import "assets/styles/base/base.scss";

tr:hover {
  cursor: pointer;
  background-color: #e2f1ff;
}

app-comment-stats .col-3 {
  @media screen and (max-width: 768px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
