<tr
    *ngFor="let commentPeriod of commentPeriods | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }">
    <td scope="row" class="col-1" data-label="Status" (click)="goToItem(commentPeriod)">{{commentPeriod.commentPeriodStatus}}</td>
    <td scope="row" class="col-2" data-label="Start Date" (click)="goToItem(commentPeriod)">{{commentPeriod.dateStarted | date:'longDate'}}</td>
    <td scope="row" class="col-2" data-label="Ends Date" (click)="goToItem(commentPeriod)">{{commentPeriod.dateCompleted | date:'longDate'}}
    </td>
    <td scope="row" class="col-2" data-label="Days Remaining" (click)="goToItem(commentPeriod)">{{commentPeriod.daysRemaining}}</td>
    <td scope="row" class="col-1" data-label="Published" (click)="goToItem(commentPeriod)">{{commentPeriod.read}}</td>
    <td scope="row" class="col-4" data-label="Comment Data" (click)="goToItem(commentPeriod)">
        <app-comment-stats></app-comment-stats>
    </td>
</tr>
