@import "~assets/styles/base.scss";
.review-comments-links {
    padding-top: 1rem;
}

.badge {
    width: 5rem;
    line-height: 1.5;
}

nav {
    margin-bottom: 1rem;
}

// see lists.scss and default.scss
.list-group {
    max-height: 60rem;
    overflow-y: auto;
}

.list-group-item {
    border: none;
    &:nth-child(odd) {
        background: #eee;
    }
    &:nth-child(even) {
        background: #ddd;
    }
}

.review-comments-table {
    tbody {
        tr {
            background: transparent;
            .accordion__collapse-header {
                background: $table-row-bg;
            }
            &:nth-child(even) {
                .accordion__collapse-header {
                    background: $table-alt-row-bg;
                }
            }
        }
    }
    &__review-comment-details {
        font-size: 0.85rem;
        &--links {
            padding-top: 1.5rem;
        }
        &--description {
            margin-bottom: 1.25rem;
            &::ng-deep {
                p {
                    margin: 0;
                    line-height: calc(0.85rem * 1.5);
                    font-size: 0.85rem;
                }
            }
        }
        &--list {
            li {
                @include align-items(start);
                +li {
                    border-top: 1px solid #fff;
                }
            }
            .name,
            .value {
                margin: 0;
                padding: 0.5rem 0.75rem;
                width: 50%;
            }
        }
    }
}

// @include media-breakpoint-up(sm) {}
@media (max-width: 576px) {}

// @include media-breakpoint-up(md) {}
@media (min-width: 768px) {}

// @include media-breakpoint-up(lg) {}
@media (min-width: 992px) {}

// @include media-breakpoint-up(xl) {}
@media (min-width: 1200px) {}