@import "~assets/styles/base.scss";
.review-comments {
    section {
        h3 {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 0;
        }
    }
}

.review-comments-body {
    padding-top: 0;
    nav {
        margin-bottom: 1rem;
        .list-group {
            max-height: 50rem; // match this with comment-detail height
            overflow-y: auto;
        }
        .list-group-item {
            cursor: pointer;
            margin: 0;
            &:nth-child(odd) {
                border: #f0f0f0 2px solid;
                background: #f0f0f0;
            }
            &:nth-child(even) {
                border: #e7e7e7 2px solid;
                background: #e7e7e7;
            }
            &:active,
            &:focus,
            &:hover {
                color: #495057;
                border-color: $primary;
                font-weight: 700;
            }
            &.active {
                color: #495057;
                border-color: $primary;
                border-right: $gold 10px solid;
                font-weight: 700;
            }
            .badge {
                width: 5rem;
                line-height: 1.5;
                text-align: center;
            }
        }
    }
}

@media (min-width: 992px) {
    article {
        margin-top: 2rem;
    }
}