<ngb-alert type="danger" [dismissible]="false" *ngFor="let alert of alerts">{{alert}}</ngb-alert>

<div class="review-comments">
  <div class="container" *ngIf="application">
    <div class="title-container mb-4">
      <h1>Review Comments</h1>
    </div>

    <div class="header-row row">
      <main class="col-md-8">
        <!-- HEADER -->
        <section class="card bg-dark">
          <h2 class="mb-0">{{application.client || '-'}}</h2>
          <div>{{application.purpose || '-'}} / {{application.subpurpose || '-'}}</div>
          <ul class="review-comments__list">
            <li>CL File: {{application['clFile'] || '-'}}</li>
            <li>Disp ID: {{application.tantalisID || '-'}}</li>
          </ul>
        </section>
      </main>

      <nav class="col-md-4">
        <section class="d-flex flex-column">
          <a class="btn btn-light slide-l-btn p-1 my-1" [routerLink]="['/a', application._id]">
            <i class="material-icons">info_outline</i>
            <span>Application Details</span>
          </a>
          <button class="btn btn-light slide-l-btn p-1 my-1" (click)="addClick()" disabled aria-disabled="true">
            <i class="material-icons">add</i>
            <span>Add Comment</span>
          </button>
          <button class="btn btn-light slide-l-btn p-1 my-1" (click)="exportToExcel()" [disabled]="comments.length === 0">
            <img src="assets/images/Microsoft_Excel_2013_logo.png" height="20" width="20" alt="Excel logo">
            <span>Export to Excel</span>
          </button>
        </section>
      </nav>
    </div>
  </div>

  <div class="review-comments-body container" id="anchor-point" *ngIf="!loading">
    <p *ngIf="comments.length === 0">
      <em>This application has no comments.</em>
    </p>

    <div class="row" *ngIf="comments.length > 0">
      <nav class="col-lg-4">
        <div class="review-comments-sort">
          <label>Order by</label>
          <select (change)="getData()" [(ngModel)]="sortBy" >
            <option *ngFor="let key of sortKeys" [value]="key.value" [innerHTML]="key.innerHTML"></option>
          </select>
        </div>

        <div class="review-comments-list list-group">
          <ng-template ngFor let-item [ngForOf]="comments" class="review-comments-list-item">
            <a class="list-group-item list-group-item-action flex-column align-items-start" [class.active]="isCurrentComment(item)" (click)="setCurrentComment(item)">
              <div class="d-flex w-100 justify-content-between" style="border-bottom: 1px black solid;">
                <div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                  {{item.commentAuthor?.contactName || '-'}}
                </div>
                <div style="white-space: nowrap;">
                  {{(item.dateAdded | date) || '-'}}
                </div>
              </div>
              <p class="mb-1" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                <small>{{item.comment}}</small>
              </p>
            </a>
          </ng-template>
        </div>

        <div class="pagination mt-2">
          <div class="btn-group">
            <button class="pg-down btn btn-light" type="button" title="View Previous Page" (click)="prevPage()" [disabled]="pageNum <= 1">
              <i class="material-icons">
              keyboard_arrow_left
              </i>
            </button>
            <span class="pg-count bg-light">Page {{pageNum}} of {{pageCount}}</span>
            <button class="btn btn-light" type="button" title="View Next Page" (click)="nextPage()" [disabled]="pageNum >= pageCount">
              <i class="material-icons">
              keyboard_arrow_right
              </i>
            </button>
          </div>
        </div>
      </nav>

      <article class="col-lg-8">
        <app-comment-detail [comment]="currentComment" (commentChange)="setCurrentComment($event)"></app-comment-detail>
      </article>
    </div>
  </div>
</div>