<nav class="action-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a [routerLink]="['/projects']">All Projects</a>
      </li>
      <li class="breadcrumb-item">
          <a *ngIf='currentProject' [routerLink]="['/p', currentProject._id]">{{currentProject.name}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{pageTitle}}</li>
  </ol>
  <div *ngIf="navBarButtons">
    <div *ngIf="buttonType === 'dropdown'" ngbDropdown placement="bottom-right">
      <button class="btn btn-primary" id="actionDropdown" ngbDropdownToggle>Actions</button>
      <div class="dropdown-menu" aria-labelledby="actionDropdown" ngbDropdownMenu *ngFor="let navBarButton of navBarButtons;">
          <button class="dropdown-item" (click)=navBarButton.action()>{{navBarButton.label}}</button>
      </div>
    </div>
    <button *ngIf="buttonType === 'single'" (click)="navBarButtons[0].action()" class="btn btn-primary" type="button" id="button-d">
      <i *ngIf="navBarButtons[0].materialIcon" class="material-icons">{{navBarButtons[0].materialIcon}}</i>{{navBarButtons[0].label}}</button>
  </div>
</nav>
