<!-- <div class="top-container" *ngIf="commentPeriod"> -->
<div class="top-container">
  <div class="container">
    <div class="title-container">
      <div class="title-container__title">
        <h1>
          This is where the project name goes.
        </h1>
      </div>
      <div class="title-container__actions">
        This is where the slick timeline thing goes.
      </div>
    </div>
  </div>
</div>
<div class="bottom-container" style="overflow: hidden;">
  <div class="container">
    <h1>
      Comment Periods
    </h1>
  </div>
</div>