<div class="top-container" *ngIf="project">
  <div class="container">
    <div class="title-container">
      <div class="title-container__title">
        <h1><span class="text-muted">Crown land File: {{project['clFile']}} &nbsp;&rsaquo;&nbsp; </span>
          {{!project._id ? 'Create' : 'Edit'}} Project
        </h1>
        <span class="title-container__sub text-muted">Disposition Transaction: {{project.tantalisID}}</span>
      </div>
      <div class="title-container__actions">
        <button class="btn btn-light" type="button" title="Cancel changes" (click)="cancelChanges()">
          Cancel
        </button>
        <button class="btn btn-primary" type="button" title="Submit new project" 
          *ngIf="!project._id" (click)="addProject()" [disabled]="isSubmitting">
          <i class="spinner rotating" [hidden]="!isSubmitting"></i>
          <span>{{isSubmitting ? 'Saving' : 'Save'}}</span>
        </button>
        <button class="btn btn-primary" type="button" title="Save project" 
          *ngIf="project._id && project.isPublished === false" (click)="saveProject()" [disabled]="isSaving">
          <i class="spinner rotating" [hidden]="!isSaving"></i>
          <span>{{isSaving ? 'Saving' : 'Save'}}</span>
        </button>
        <button class="publish-btn btn btn-primary" type="button" title="Publish Changes" 
          *ngIf="project._id && project.isPublished === true" (click)="saveProject()" [disabled]="isSaving">
          <i class="spinner rotating" [hidden]="!isSaving"></i>
          <span>{{isSaving ? 'Publishing' : 'Publish Changes'}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
  
<div class="bottom-container" *ngIf="project">
  <div class="container">
    <form class="mb-3" #projectForm="ngForm">
      <fieldset>
        <legend>Comment Period</legend>
        <div class="review-dates">
          <div class="form-group mb-0">
            <label>Start Date</label>
            <div class="input-group" [ngClass]="{'is-invalid': isSubmitSaveClicked && !isValidDate(startDate)}">
              <input class="form-control" placeholder="yyyy-mm-dd" name="date1" ngbDatepicker #date1="ngbDatepicker"
                [firstDayOfWeek]="7" navigation="arrows" [(ngModel)]="startDate" (ngModelChange)="onStartDateChg($event)"
                (click)="date1.close(); date2.close();" required aria-required="true">
              <div class="input-group-append">
                <button class="btn btn-icon" (click)="date1.toggle()" type="button" tabindex="-1">
                  <i class="material-icons">date_range</i>
                </button>
              </div>
            </div>
            <div class="invalid-feedback bg-danger" *ngIf="isSubmitSaveClicked && !isValidDate(startDate)">
              Enter a valid Start Date
            </div>
          </div>
          <span class="spacer">+</span>
          <div class="form-group mb-0">
            <label>Days</label>
            <input class="form-control" type="number" min="1" max="365" name="delta" [ngModel]="delta" (ngModelChange)="onDeltaChg($event)" />
          </div>
          <span class="spacer">=</span>
          <div class="form-group mb-0">
            <label>End Date</label>
            <div class="input-group" [ngClass]="{'is-invalid': isSubmitSaveClicked && !isValidDate(endDate)}">
              <input class="form-control" placeholder="yyyy-mm-dd" name="date2" ngbDatepicker #date2="ngbDatepicker"
                [firstDayOfWeek]="7" navigation="arrows" [(ngModel)]="endDate" (ngModelChange)="onEndDateChg($event)"
                (click)="date1.close(); date2.close();" required aria-required="true">
              <div class="input-group-append" tabindex="-1">
                <button class="btn btn-icon" (click)="date2.toggle()" type="button" tabindex="-1">
                  <i class="material-icons">date_range</i>
                </button>
              </div>
            </div>
            <div class="invalid-feedback bg-danger" *ngIf="isSubmitSaveClicked && !isValidDate(endDate)">
              Enter a valid End Date
            </div>
          </div>
        </div>
        <!-- Need decision from PO -->
        <!--
        <div class="form-group">
          <label>Description (Optional)</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group mb-0">
          <label>Internal Notes (Optional)</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
        -->
      </fieldset>

      <fieldset>
        <legend>Project Details</legend>
        <div class="form-group">
          <label>Applicant(s)</label>
          <div class="applicant-display" *ngIf="project.client">
            {{project.client}}
          </div>
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" rows="3" id="description" name="description"
            #description="ngModel" 
            [(ngModel)]="project.description">
          </textarea>
        </div>
        <div class="form-group  mb-0">
          <label>Project Documents</label>
          <ul class="doc-list mb-3" *ngIf="project.documents?.length > 0">
              <li *ngFor="let doc of project.documents">
                <span class="cell icon">
                  <i class="material-icons">insert_drive_file</i>
                </span>
                <span class="cell name" [title]="doc.displayName || ''">
                  <span class="cell__txt-content">{{doc.documentFileName}}</span>
                </span>
                <span class="cell actions">
                  <button class="btn btn-icon" type="button" title="Delete this document" (click)="deleteDocument(doc, project.documents)">
                    <i class="material-icons">delete</i>
                  </button>
                </span>
              </li>
          </ul>
          <app-file-upload [maxFiles]="0" [maxSize]="10" [showInfo]="false" [showList]="false" [files]="projectFiles"
            (filesChange)="addDocuments($event, project.documents); projectFiles = []"></app-file-upload>
        </div>
      </fieldset>

      <fieldset name="decisionForm" id="appDecision">
        <legend class="mb-3">Project Decision</legend>
        <div class="mb-4" *ngIf="project.decision">
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" rows="3" name="decisionDesc" id="decisionDesc" required aria-required="true" #decisionDesc="ngModel"
              [ngClass]="{'is-invalid': isSubmitSaveClicked && decisionDesc.invalid}"  
              [(ngModel)]="project.decision.description">
            </textarea>
            <div class="invalid-feedback bg-danger" *ngIf="isSubmitSaveClicked && decisionDesc.invalid">
              Decision Description is required
            </div>
          </div>
          <div class="form-group mb-0">
            <label>Decision Documents</label>
            <ul class="doc-list mb-3" *ngIf="project.decision.documents?.length > 0">
              <li *ngFor="let doc of project.decision.documents">
                <span class="cell icon">
                  <i class="material-icons">insert_drive_file</i>
                </span>
                <span class="cell name" [title]="doc.displayName || ''">
                  <span class="cell__txt-content">
                    {{doc.documentFileName}}
                  </span>
                </span>
                <span class="cell actions">
                  <button class="btn btn-icon" type="button" title="Delete this document" (click)="deleteDocument(doc, project.decision.documents)">
                    <i class="material-icons">delete</i>
                  </button>
                </span>
              </li>
            </ul>
            <app-file-upload [maxFiles]="0" [maxSize]="10" [showInfo]="false" [showList]="false" [files]="decisionFiles"
              (filesChange)="addDocuments($event, project.decision.documents); decisionFiles = []"></app-file-upload>
          </div>
        </div>
        <button class="btn content-btn-alt" type="button" title="Add a decision"
          *ngIf="!project.decision"
          (click)="addDecision()">
          <i class="material-icons md-20">add</i>
          Add Decision
        </button>
        <button class="btn content-btn-alt danger" type="button" title="Remove this decision"
          *ngIf="project.decision"
          (click)="deleteDecision()">
          <i class="material-icons md-20">remove</i>
          Remove Decision
        </button>
      </fieldset>

    </form>
  </div>
</div>