@import "~assets/styles/base/base.scss";

:host {
  display: block;
  @include flex-box();
  @include flex-direction(column);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
}

app-header {
  @include flex(0 0 auto);
}

.app-body {
  @include flex-box();
  @include flex(1 1 auto);
  @include flex-direction(column);
  position: relative;
  margin-top: 68px;
  overflow-y: auto;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  div.content {margin-left: 0;}
}