<div class="sidebar" [ngClass]="{'isOpen': isOpen === 'true'}" >
  <section class="bg-light">
    <a [ngClass]="{'active': currentMenu === 'project-details'}" class="dropdown-btn " [routerLink]="['p', currentProjectId]">
        Project Details
      </a>
        <a [ngClass]="{'active': currentMenu === 'compliance'}" class="project-menu" [routerLink]="['p', currentProjectId, 'compliance']"><i class="material-icons mr-3">event_note</i>Compliance</a>
        <a [ngClass]="{'active': currentMenu === 'valued-components'}" class="project-menu" [routerLink]="['p', currentProjectId, 'valued-components']"><i class="material-icons mr-3">view_list</i>Valued Components</a>
        <a [ngClass]="{'active': currentMenu === 'project-updates'}" class="project-menu" [routerLink]="['p', currentProjectId, 'project-updates']"><i class="material-icons mr-3">fiber_new</i>Project Updates</a>
        <a [ngClass]="{'active': currentMenu === 'project-contracts'}" class="project-menu" [routerLink]="['p', currentProjectId, 'project-contracts']"><i class="material-icons mr-3">person</i>Project Contacts</a>
        <a [ngClass]="{'active': currentMenu === 'comment-periods'}" class="project-menu" [routerLink]="['p', currentProjectId, 'comment-periods']"><i class="material-icons mr-3">comment</i>Comment Periods</a>
        <a [ngClass]="{'active': currentMenu === 'milestones'}" class="project-menu" [routerLink]="['p', currentProjectId, 'milestones']"><i class="material-icons mr-3">playlist_add</i>Milestones</a>
  </section>
  <section class="bg-secondary">
    <a [ngClass]="{'active': currentProjectId === 'projects'}" [routerLink]="['/projects']"><i class="material-icons mr-3">view_list</i>All Projects</a>
    <a [ngClass]="{'active': currentProjectId === 'map'}" [routerLink]="['/map']"><i class="material-icons mr-3 ">pin_drop</i>Map</a>
    <a [ngClass]="{'active': currentProjectId === 'metrics'}" [routerLink]="['/metrics']"><i class="material-icons mr-3 ">assessment</i>Metrics</a>
    <a [ngClass]="{'active': currentProjectId === 'activity'}" [routerLink]="['/activity']"><i class="material-icons mr-3 ">notifications_active</i>Activity Posts</a>
    <a [ngClass]="{'active': currentProjectId === 'administration'}" [routerLink]="['/administration']"><i class="material-icons mr-3 ">settings</i>Settings</a>
  </section>
</div>