<div class="sidebar" [ngClass]="{'isOpen': isOpen === true}" >
  <section class="full-nav">
    <!-- <a [ngClass]="{'active': currentProjectId === 'map'}" [routerLink]="['/map']"><i class="material-icons mr-3 ">pin_drop</i>Map</a> -->
    <a [ngClass]="{'active': currentProjectId === 'projects'}" [routerLink]="['/projects']"><i class="material-icons mr-3">view_list</i>All Projects</a>
    <section class="project-nav" *ngIf="showProjectDetails === true">
      <a [ngClass]="{'active': currentMenu === 'project-details'}" class="dropdown-btn " [routerLink]="['p', currentProjectId]">
        Project Details
      </a>
      <a [ngClass]="{'active': currentMenu === 'comment-periods'}" class="project-menu" [routerLink]="['p', currentProjectId, 'comment-periods']"><i class="material-icons">comment</i>Comment Periods</a>
      <a [ngClass]="{'active': currentMenu === 'compliance'}" class="project-menu" [routerLink]="['p', currentProjectId, 'compliance']"><i class="material-icons">event_note</i>Compliance</a>
      <a [ngClass]="{'active': currentMenu === 'project-documents'}" class="project-menu" (click)="goToDocuments(currentProjectId)" [routerLink]="['p', currentProjectId, 'project-documents']"><i class="material-icons">event_note</i>Documents</a>
      <a [ngClass]="{'active': currentMenu === 'project-groups'}" class="project-menu" [routerLink]="['p', currentProjectId, 'project-groups']"><i class="material-icons">person</i>Project Groups</a>
      <!-- <a [ngClass]="{'active': currentMenu === 'project-pins'}" class="project-menu" [routerLink]="['p', currentProjectId, 'project-pins']"><i class="material-icons">person</i>Indigenous Nations</a> -->
      <a [ngClass]="{'active': currentMenu === 'project-updates'}" class="project-menu" [routerLink]="['p', currentProjectId, 'project-updates']"><i class="material-icons">fiber_new</i>Project Updates</a>
      <a [ngClass]="{'active': currentMenu === 'valued-components'}" class="project-menu" [routerLink]="['p', currentProjectId, 'valued-components']"><i class="material-icons">view_list</i>Valued Components</a>
    </section>
    <a [ngClass]="{'active': currentProjectId === 'activity'}" [routerLink]="['/activity']"><i class="material-icons mr-3 ">notifications_active</i>Activity Posts</a>
    <a [ngClass]="{'active': currentProjectId === 'contacts'}" [routerLink]="['/contacts']"><i class="material-icons mr-3 ">assessment</i>Contacts</a>
    <!-- <a [ngClass]="{'active': currentProjectId === 'metrics'}" [routerLink]="['/metrics']"><i class="material-icons mr-3 ">assessment</i>Dashboard</a>-->
    <a [ngClass]="{'active': currentProjectId === 'administration'}" [routerLink]="['/administration']"><i class="material-icons mr-3 ">settings</i>Settings</a>
  </section>
</div>
