<tr *ngFor="let entry of entries | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }"
    class="clickable-row">
    <td (click)="togglePin(entry)" data-label="Pin" scope="row" class="col-1 pin"><i *ngIf="entry.pinned === true" class="material-icons" aria-hidden="true">star</i></td>
    <td (click)="goToItem(entry)" data-label="Headline" scope="row" class="col-3">{{entry.headline}}</td>
    <td (click)="goToItem(entry)" data-label="Project" scope="row" class="col-2">{{entry.project?.name}}</td>
    <td (click)="goToItem(entry)" data-label="Type" scope="row" class="col-2">{{entry.type}}</td>
    <td (click)="goToItem(entry)" data-label="Date Added" scope="row" class="col-2">{{entry.dateAdded | date: 'longDate'}}</td>
    <td (click)="goToItem(entry)" data-label="Status" scope="row" class="col-1">
        <span [ngClass]="entry.active === true ? 'active-flag': 'inactive-flag'" class="">{{entry.active === true ? 'ACTIVE' : 'INACTIVE'}}</span>
    </td>
    <td class="delete col-1">
      <button type="button" (click)="deleteActivity(entry)" class="btn"><i class="material-icons">delete</i></button>
    </td>
</tr>
