<div class="container">
  <i class="material-icons md-38">
    warning
  </i>

  <div *ngIf="!loggedout; else loggedOut">
    <h1>Not Authorized</h1>
    <p><strong>You are not authorized to access this content.</strong></p>
    <p>If this is your first time logging in to Applications, Comments and Reasons for Decisions, you will need to send an email to <a href="mailto:Paola.Pierossi@gov.bc.ca"> Paola.Pierossi@gov.bc.ca</a> and <a href="mailto:Kristi.Meredith@gov.bc.ca">Kristi.Meredith@gov.bc.ca</a> to get your authentication completed and to access the site.</p>
    <p>This will only be necessary the first time you login using your IDIR.</p>
  </div>
  
  <ng-template #loggedOut>
    <h1>Logged Out</h1>
    <p><strong>You have been logged out.</strong></p>
    <button class="btn btn-primary" (click)="login()">Click here to log back in again.</button>
  </ng-template>
  
</div>