<tr *ngFor="let organization of organizations | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }"
    class="clickable-row">
    <td scope="row" data-label="Name" class="col-4">{{organization.name || '-'}}</td>
    <td scope="row" data-label="Organization" class="col-3">{{organization.companyType || '-' }}</td>
    <td scope="row" data-label="Organization" class="col-4">{{organization.companyLegal || '-' }}</td>
    <td class="col-1 clickable" data-label="Event" scope="row">
        <i (click)="editItem(organization)" class="material-icons">
            edit
        </i>
    </td>
</tr>