@import "assets/styles/components/details.scss";

#comment-period-details, #comments-received-details, #open-house-details {
  max-width: 100%;
  overflow-x: hidden;
  margin-bottom: 1rem;
}

.clickable-row {
  cursor: pointer;
}

.date-range {
	font-size: 1.2rem;
}

.dropdown {
	text-align: right;

	button {
		width: 100%;
	}
}

h3 {
	margin-bottom: .25rem;
}

.row {
	margin-bottom: 20px;
}
