<div class="spinner-container" *ngIf="loading">
  <div class="spinner-new rotating"></div>
</div>

<section id="comment-period-details">
  <div class="row top-row">
    <div class="col-md-10">
      <h3>DATE RANGE:&nbsp;</h3>
      <p>
        <span class="date-range">
          {{commentPeriod.dateStarted | date: 'MMM d, y, h:mm:ss a'}} -
          {{commentPeriod.dateCompleted | date: 'MMM d, y, h:mm:ss a'}}
        </span> ({{commentPeriod.daysRemaining}})
      </p>
    </div>
    <div class="col-md-2">
      <div ngbDropdown placement="bottom-right">
        <button class="btn btn-primary" id="actionDropdown" (click)="checkIfCanDelete()" ngbDropdownToggle>Actions</button>
        <div class="dropdown-menu" aria-labelledby="actionDropdown" ngbDropdownMenu>
          <button class="dropdown-item" (click)="editCommentPeriod()">Edit</button>
          <button class="dropdown-item" (click)="addComment()">Add a comment</button>
          <button class="dropdown-item" (click)="exportComments()">Export All Comments</button>
          <button class="dropdown-item" (click)="togglePublishState()">{{publishAction}}</button>
          <button *ngIf="canDeleteCommentPeriod" class="dropdown-item" (click)="deleteCommentPeriod()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>
        PUBLISHED STATE:&nbsp;
      </h3>
      <p>
        {{commentPeriodPublishedStatus}}
      </p>
    </div>
    <div class="col-md-4">
      <h3>
          STATUS:&nbsp;
      </h3>
      <p>
        <i class="material-icons align-middle">
          question_answer
        </i>
        Commenting {{commentPeriod.commentPeriodStatus}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>DESCRIPTION:</h3>
      <p>{{commentPeriod.instructions}}</p>
      <p>{{commentPeriod.additionalText}}</p>
      <p>{{commentPeriod.informationLabel}}</p>
    </div>
    <div class="col-md-6">
      <h3>COMMENTING METHOD:</h3>
      <p class="commenting-method">{{commentPeriod.commentingMethod | camelToString}}</p>
      <div class="survey-selected" *ngIf="commentPeriod.commentingMethod === 'surveyTool'">
        <span *ngIf="commentPeriod.surveySelected !== null">: <a [routerLink]="['/p', projectId, 's', surveySelected, 'project-survey-details']"> {{surveyNames[surveySelected]}}</a></span>
        <strong *ngIf="commentPeriod.surveySelected === null">(None Selected)</strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>
        RELATED DOCUMENT(S):
      </h3>
      <ul class="doc-list mb-3" *ngIf="commentPeriodDocs?.length > 0">
        <li class="clickable-row" *ngFor="let doc of commentPeriodDocs" (click)="downloadDocument(doc)">
          <span class="cell icon">
            <i class="material-icons">insert_drive_file</i>
          </span>
          <span class="cell name" [title]="doc.displayName || ''">
            <span class="cell__txt-content">{{doc.displayName}}</span>
          </span>
        </li>
      </ul>
      <div *ngIf="commentPeriodDocs?.length === 0">
        <p>This comment has no associated documents.</p>
      </div>
    </div>
  </div>
</section>

<section id="comments-received-details">
  <div class="row">
    <div class="col-12">
      <h2>COMMENTS RECEIVED</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>
        <strong>
          TOTAL:&nbsp;
          {{commentPeriod.summary.Pending + commentPeriod.summary.Deferred + commentPeriod.summary.Published + commentPeriod.summary.Rejected}}
        </strong>
      </h3>
      <div>
        <app-comment-stats [period]="commentPeriod"></app-comment-stats>
      </div>
    </div>
    <div class="col-md-6">
    </div>
  </div>
</section>

<section id="open-house-details">
  <div class="row">
    <div class="col-12">
      <h2>OPEN HOUSE</h2>
    </div>
  </div>

  <div class="row" *ngIf="commentPeriod.openHouses.length !== 0">
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let openHouse of commentPeriod.openHouses">
          <h3>
            DATE:&nbsp;
          </h3>
          <p>
            {{openHouse.eventDate | date}}
          </p>
          <h3>
            DESCRIPTION
          </h3>
          <p>{{openHouse.description}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="commentPeriod.openHouses.length === 0">
    <p>There are no open houses associated with this comment period.</p>
  </div>
</section>
