#comment-period-details, #comments-received-details, #open-house-details {
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom: 1rem;
}

.header-underline {
    border-bottom: 1px solid LightGray;
    margin-bottom: 2rem;
}
