<div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
</div>

<section id="comment-period-details">
    <div class="row">
        <div class="col-md-10">
            <h2>
                COMMMENT PERIOD
            </h2>
        </div>
        <div class="col-md-2 text-right">
            <div ngbDropdown placement="bottom-right" class="d-inline-block">
                <button class="btn btn-primary" id="actionDropdown" ngbDropdownToggle>Actions</button>
                <div class="dropdown-menu" aria-labelledby="actionDropdown" ngbDropdownMenu>
                    <button class="dropdown-item" (click)="editCommentPeriod()">Edit</button>
                    <button class="dropdown-item" (click)="addComment()">Add a comment</button>
                    <button class="dropdown-item" (click)="togglePublishState()">{{publishAction}}</button>
                    <button class="dropdown-item" (click)="deleteCommentPeriod()">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <h3>
                DATE RANGE:&nbsp;
            </h3>
            <p>
                {{commentPeriod.dateStarted | date: 'MMMM d'}} -
                {{commentPeriod.dateCompleted | date}}
                ({{commentPeriod.daysRemaining}})
            </p>
        </div>
        <div class="col-md-3">
            <h3>
                PUBLISHED STATE:&nbsp;
            </h3>
            <p>
                {{commentPeriodPublishedStatus}}
            </p>
        </div>
        <div class="col-md-3">
            <h3>
                STATUS:&nbsp;
            </h3>
            <p>
                <i class="material-icons align-middle">
                    question_answer
                </i>
                Commenting {{commentPeriod.commentPeriodStatus}}
            </p>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-8">
            <h3>
                DESCRIPTION
            </h3>
            <p>{{commentPeriod.instructions}}</p>
            <p>{{commentPeriod.additionalText}}</p>
            <p>{{commentPeriod.informationLabel}}</p>
        </div>
        <div class="col-md-4">
            <h3>
                MILESTONE(S):
            </h3>
            <p>{{commentPeriod.milestone | listConverter}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                RELATED DOCUMENT(S):
            </h3>
            <p *ngFor="let doc of commentPeriodDocs">
                {{doc.displayName}}
                <!-- TODO: We need to make these clickable. -->
            </p>
        </div>
    </div>
</section>

<section id="comments-received-details">
    <div class="row">
        <div class="col-12">
            <h2>
                COMMENTS RECEIVED
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>
                <strong>
                    TOTAL:&nbsp;
                </strong>
            </h3>
            <div>
                <app-comment-stats></app-comment-stats>
            </div>
        </div>
        <div class="col-md-6">
            <h3>
                <strong>
                    VALUED COMPONENTS WITH COMMENT COUNTS
                </strong>
            </h3>
        </div>
    </div>
</section>

<section id="open-house-details">
    <div class="row">
        <div class="col-12">
            <h2>
                OPEN HOUSE
            </h2>
        </div>
    </div>

    <div class="row" *ngIf="commentPeriod.openHouses.length !== 0">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let openHouse of commentPeriod.openHouses">
                    <h3>
                        DATE:&nbsp;
                    </h3>
                    <p>
                        {{openHouse.eventDate | date}}
                    </p>
                    <h3>
                        DESCRIPTION
                    </h3>
                    <p>{{openHouse.description}}</p>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="commentPeriod.openHouses.length === 0">
        <p>There are no open houses associated with this comment period.</p>
    </div>
</section>