<div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
</div>

<div *ngIf="!isEditing">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
            <a [routerLink]="['/projects']">All Projects</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Add
        </li>
    </ol>
</div>
<div *ngIf="isEditing">
    <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">
            <a [routerLink]="['/p', projectId]">Project Details</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a [routerLink]="['/p', projectId, 'comment-periods']">Comment Periods</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <a [routerLink]="['/p', projectId, 'cp', commentPeriod._id]">{{commentPeriod.dateStarted | date: 'LLLL'}} -
                {{commentPeriod.dateCompleted | date}}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Edit
        </li>
    </ol> -->
</div>

<!-- <form [formGroup]="projectForm" (ngSubmit)="register()">
    <div class="text-right">
        <button class="btn btn-primary" type="cancel" (click)="onCancel()">Cancel</button>
        &nbsp;
        <button [disabled]="!commentPeriodForm.valid" class="btn btn-primary" type="submit"
            (click)="onSubmit()">Save</button>
    </div>
</form> -->