<nav *ngIf="!loading" class="action-container" aria-label="breadcrumb">
  <div *ngIf="!isEditing">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a [routerLink]="['/projects']">All Projects</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Add
      </li>
    </ol>
  </div>
  <div *ngIf="isEditing">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a [routerLink]="['/projects']">All Projects</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a [routerLink]="['/p', project._id]">{{project.name}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit
      </li>
    </ol>
  </div>
</nav>
<main class="container-fluid-padding add-edit-form">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <form [formGroup]="myForm" novalidate>
    <div class="text-right">
      <button class="btn btn-primary" type="cancel" (click)="onCancel()">Cancel</button>
      &nbsp;
      <button class="btn btn-primary" type="submit" (click)="onSubmit()">Save</button>
    </div>
    <section>
      <h2>Basic Information</h2>
      <div class="flex-container">
        <div class="label-pair">
          <label for="name">Project Name* </label>
          <input name="name" id="name" formControlName="name" type="text" class="form-control" />
        </div>
        <div class="label-pair">
          <label for="partner">Partner First Nation(s)* </label>
          <input name="partner" id="partner" formControlName="partner" type="text" class="form-control" />
        </div>
        <div *ngIf="formValueType(myForm.value.agreements) === 'string'" class="label-pair med">
          <label for="agreements">Agreements* </label>
          <input name="agreements" id="agreements" formControlName="agreements" type="text" class="form-control" />
        </div>
        <div class="label-pair med">
          <label for="description">Description* </label>
          <textarea name="description" id="description" formControlName="description" class="form-control"></textarea>
        </div>
        <div class="label-pair med">
          <label for="details">Project Details </label>
          <ckeditor name="details" id="details" formControlName="details" [editor]="Editor" [data]="project?.details" (ready)="editorOnReady($event)"></ckeditor>
          <label class="additional-label" for="details">Appears on the Project Details tab under the map.</label>
        </div>
        <div class="label-pair med">
          <div class="form-group mb-0">
            <label for="shapeFile">Upload Project Banner Image</label>
            <app-file-upload *ngIf="!bannerImageDocument || removeBannerImage" [maxFiles]="1" [maxSize]="300" [showInfo]="false" [showList]="false" [files]="projectFiles"
              (filesChange)="addBannerDocument($event); projectFiles = []"></app-file-upload>
            <br>
            <div class="doc-list mb-3" *ngIf="bannerImageDocument && ! removeBannerImage">
                <span class="cell name" [title]="bannerImageDocument.displayName || ''">
                  <span class="cell__txt-content">{{bannerImageDocument.documentFileName}}</span>
                </span>
                <span class="cell actions">
                  <button class="btn btn-icon" type="button" title="Delete this document" (click)="deleteBannerDocument(bannerImageDocument)">
                    <i class="material-icons">delete</i>
                  </button>
                </span>
              </div>
          </div>
        </div>
        <div class="label-pair lrg">
          <div class="form-group">
            <label for="logos">Project Logos </label>
            <ul class="project-logos">
              <li *ngFor="let logo of logos.controls">
                <div class="logo-name-container">
                  <label>File name</label>
                  <p>{{ logo.controls.name.value }}</p>
                </div>
                <div class="logo-link-container">
                  <label for="logo-link">Link</label>
                  <input type="text" id="logo-link" [formControl]="logo.controls.link">
                </div>
              </li>
            </ul>
            <div class="logos-buttons">
              <input type="button" id="logos" class="btn btn-primary" value="{{logos.length > 0 ? 'Reselect project logo(s)' : 'Select project logo(s)'}}" (click)="launchFilePicker()">
              <input *ngIf="logos.controls.length > 0" type="button" class="btn btn-outline-primary" value="Clear selection" (click)="handleClearLogos()">
            </div>
          </div>
        </div>
        <div *ngIf="formValueType(myForm.value.agreements) === 'object'" class="label-pair med">
          <div *ngFor="let agreement of agreements.controls; let i=index" class="project-agreements">
            <div class="flex-container" [formGroup]="agreement">
            <div class="label-pair existing-land-use-plan">
              <label for="name">Agreement Name*</label>
              <input id="agreement-name" formControlName="agreementName"
                type="text" class="form-control" />
            </div>
            <div class="label-pair existing-land-use-plan-url">
              <label for="agreement">Agreement URL</label>
              <input class="agreement-url" formControlName="agreementUrl" type="text" class="form-control" />
            </div>
            <button *ngIf="i !== 0" type="button" type="button" class="btn existing-land-use-plan-delete" (click)="removeLinkFormGroup(agreements, i)"><i class="material-icons">delete</i></button>
            </div>
            <div class="divider"></div>
          </div>
          <button class="btn btn-primary" type="button" (click)="populateFormArray(agreements)">Add additional agreement</button>
        </div>
      </div>
    </section>
    <section>
      <h2>Location</h2>
      <div class="flex-container-no-wrap">
        <div class="flex-container">
          <div class="label-pair almost-full">
            <label for="region">Region </label>
            <select class="form-control" formControlName="region">
              <option *ngFor="let region of REGIONS" [ngValue]="region">{{region}}</option>
            </select>
          </div>
        <div class="label-pair sm-med">
          <label for="lat">Lat* </label>
          <input name="lat" id="lat" formControlName="lat" type="text" class="form-control" />
        </div>
        <div class="label-pair sm-med">
          <label for="lon">Long* </label>
          <input name="lon" id="lon" formControlName="lon" type="text" class="form-control" />
        </div>
      </div>
      <div class="label-pair med">
        <label for="overlappingRegionalDistricts">Overlapping Regional Districts </label>
        <select multiple name="overlappingRegionalDistricts" id="overlappingRegionalDistricts"
          formControlName="overlappingRegionalDistricts" class="form-control">
          <option *ngFor="let overlappingRegionalDistricts of OVERLAPPING_REGIONAL_DISTRICTS"
            [ngValue]="overlappingRegionalDistricts">{{overlappingRegionalDistricts}}</option>
          </select>
      </div>
    </div>
      <div class="flex-container">
        <div class="form-group mb-0">
          <label for="shapeFile">Upload Shape File </label>
          <app-file-upload [maxFiles]="1" [maxSize]="300" [showInfo]="false" [showList]="false" [files]="projectFiles"
            (filesChange)="addDocuments($event); projectFiles = []"></app-file-upload>
          <br>
          <ul class="doc-list mb-3" *ngIf="shapefileDocuments?.length > 0">
            <li *ngFor="let doc of shapefileDocuments">
              <span class="cell icon">
                <i class="material-icons">insert_drive_file</i>
              </span>
              <span class="cell name" [title]="doc.displayName || ''">
                <span class="cell__txt-content">{{doc.documentFileName}}</span>
              </span>
              <span class="cell actions">
                <button class="btn btn-icon" type="button" title="Delete this document" (click)="deleteDocument(doc)">
                  <i class="material-icons">delete</i>
                </button>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section formArrayName="existingLandUsePlans">
      <h2>Supplementary Information</h2>
      <div *ngFor="let existingPlan of existingLandUsePlans.controls; let i=index">
        <div class="flex-container" [formGroupName]="i">
        <div class="label-pair existing-land-use-plan">
          <label for="existingLandUsePlan">Existing Land Use Plan </label>
          <input name="existingLandUsePlan" class="existingLandUsePlan" formControlName="existingLandUsePlan"
            type="text" class="form-control" />
        </div>
        <div class="label-pair existing-land-use-plan-url">
          <label for="existingLandUsePlanURL">Existing Land Use Plan URL</label>
          <input name="existingLandUsePlanURL" class="existingLandUsePlanURL" formControlName="existingLandUsePlanURL" type="text" class="form-control" />
        </div>
        <button class="btn existing-land-use-plan-delete" (click)="removeItemFromFormArray(existingLandUsePlans, i)"><span class="existing-land-use-plan-delete-text">Remove</span><i class="material-icons">delete</i></button>
        </div>
        <div class="divider"></div>
      </div>
      <button class="btn btn-primary" type="button" (click)="populateFormArray(existingLandUsePlans)">Add existing land use plan</button>
    </section>
    <section>
      <h2>Overall Project Status</h2>
      <div class="flex-container">
        <fieldset class="form-group">
          <div class="label-pair">
            <label for="projectPhase">Project Phase </label>
            <select name="projectPhase" id="projectPhase" formControlName="projectPhase" class="form-control">
              <option *ngFor="let projectPhase of PROJECT_PHASES" [ngValue]="projectPhase">{{projectPhase}}</option>
            </select>
          </div>
        </fieldset>
      </div>
    </section>
    <section>
      <h2>Background Information</h2>
      <div class="flex-container">
        <div class="add-row med">
          <ckeditor name="backgroundInfo" id="backgroundInfo" formControlName="backgroundInfo" [editor]="Editor" [data]="project?.backgroundInfo" (ready)="editorOnReady($event)"></ckeditor>
        </div>
      </div>
    </section>
    <section>
      <h2>Engagement Information</h2>
      <div>
        <div class="add-row med">
          <label for="engagementLabel">Engagement Label* </label>
          <input name="engagementLabel" id="engagementLabel" formControlName="engagementLabel" type="text" class="form-control" />
          <label class="additional-label" for="engagementLabel">Appears in the header of the Comment Period and in the Comment Period box. e.g. "Public Comment Period".</label>
        </div>
        <div class="add-row med">
          <label for="enagementInfo">Engagement Tab Information </label>
          <ckeditor name="engagementInfo" id="engagementInfo" formControlName="engagementInfo" [editor]="Editor"
            [data]="project?.engagementInfo" (ready)="editorOnReady($event)"></ckeditor>
          <label class="additional-label" for="engagementInfo">Appears at the top of the Engagement tab.</label>
        </div>
      </div>
    </section>
    <section>
      <h2>Document Information</h2>
      <div class="flex-container">
        <div class="add-row med">
          <p>Additional information for the Documents tab</p>
          <ckeditor name="documentInfo" id="documentInfo" formControlName="documentInfo" [editor]="Editor"
            [data]="project?.documentInfo" (ready)="editorOnReady($event)"></ckeditor>
        </div>
      </div>
    </section>
    <section class="people">
      <h2>People</h2>
      <div class="flex-container">
        <div class="label-pair add-row">
          <label for="projectLead">Engagement Lead</label>
          <div *ngIf="projectLead === '' || projectLead == null">
            <button class="add-btn" type="button" (click)="contactSelect('projectLead')"><i class="material-icons"
                role="add">add_box</i></button>
          </div>
          <div *ngIf="projectLead !== '' && projectLead">
            <span class="cell icon">
              <i class="material-icons">person</i>
            </span>
            &nbsp;
            <span class="cell name" [title]="projectLead || ''">
              <span class="cell__txt-content">{{projectLead}}</span>
            </span>
            <span class="cell actions">
              <button class="btn btn-icon" type="button" title="Delete this contact" (click)="removeSelectedContact('projectLead')">
                <i class="material-icons">delete</i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </section>
  </form>
</main>
