@import "assets/styles/components/add-edit.scss";
@import "~assets/styles/base/base.scss";

.form-row {
  border-bottom: 1px solid $fc-border-color;
  margin-bottom: 2rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $fc-border-color;
  margin: 1rem 0;
  box-sizing: border-box;
}

input {
  font-family: "BCSans", Verdana, Arial, sans-serif;
}

section.options {

  > .flex-container {
    flex-direction: column;

    .add-row {
      flex: 1;

      mat-checkbox > label {
        font-size: 1.2rem;
        margin-left: 1.25rem;
      }
    }
  }

  label {
    font-weight: normal;
    display: block;

    .contact-us-emphasis {
      font-weight: bold;
    }
  }

  button {
    align-self: end;
    margin-bottom: 1.25rem;
  }
}

@media screen and (min-width: 800px) {
  .existing-land-use-plan-url {
    flex-basis: 60%;
  }

  .existing-land-use-plan-delete {
    flex-basis: 5%;
    display: inline-block;
    padding: 0;
  }

  .existing-land-use-plan-delete-text {
    display:none;
  }

  .divider {
    display: none;
  }
}

.no-padding-left {
  padding-left: 0;
}

.almost-full {
  width: 97%;
}

.additional-label {
  font-size: 0.75rem;
  font-weight: normal;
}

.logos-buttons {
  input {
    margin-right: 0.5rem;
  }
}

.project-logos {
  list-style-type: none;
  padding: 0;

  li {
    display: flex;
    border-bottom: 1px solid $fc-border-color;
    padding: 1rem 0;

    &:last-of-type {
      padding-bottom: 0;
      border-bottom: none;
    }

    label {
      display: block;
      font-size: 0.9rem;
    }

    .logo-name-container {
      width: 30%;
    }

    .logo-link-container {
      width: 70%;

      input {
        width: 100%;
      }
    }
  }
}

section .form-container-65 {
  width: 65%;
}

.flex-column {
  flex-direction: column;
}

@media (max-width: 1200px) {
  section .form-container-65 {
    width: 100%;
    flex-basis: 100%;
  }
}

.small-margin-right {
  margin-right: 1%;
}

.medium-margin-right {
  margin-right: 1rem;
}

.large-margin-right {
  margin-right: 2rem;
}

.no-margin-right {
  margin-right: 0;
}

@media (max-width: 799px) {
  .small-margin-right, .medium-margin-right {
    margin-right: 0;
    }
  }

.medium-margin-bottom {
  margin-bottom: 2rem;
}

.small-margin-bottom {
  margin-bottom: 1rem;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.full-wide {
  width: 100%;
}

.half-wide {
  flex-basis: 50%;
}

.quarter-wide {
  flex-basis: 25%;
}

.mobile-wrap {
  display: flex;
  flex-wrap: nowrap;
}

@media (max-width: 799px) {
  .half-wide, .quarter-wide {
    flex-basis: 100%;
  }
  .mobile-wrap {
    flex-wrap: wrap;
    flex-basis: 100%;
  }
}

.save-cancel-buttons {
  position: fixed; 
  z-index: 2000; 
  right: 1rem; 
  margin-top: -1.75rem; 
  background-color: 
  rgba(255, 255, 255, 0.65); 
  padding: 1rem;
  border-bottom-left-radius: 4px;
}

.logos-button {
  width: 100%; 
  margin-right: 0; 
  margin-top: 10px; 
  height: 60px;
}

.z2001 {
  z-index: 2001;
}


.shapefile-list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;


  .shapefile-list-item {
    display: flex;
    flex-direction: column;
    background: #96becb38;
    padding: 1rem;
    margin-bottom: 0.75rem;
    border-radius: 4px;

    .shapefile-list-item-segment {
      display: flex;
      justify-content: space-between;

      &:last-of-type {
        padding-top: 1rem;
      }

      .shapefile-input-container {
        display: flex;
        flex-direction: column;
        padding-right: 0.5rem;

        label {
          margin-bottom: 0.25rem;
          font-size: 1rem;
          font-weight: 600;
        }

        input {
          margin-top: 0.5rem;
          border-radius: 0.4rem;

          &.shape-file-colour-input {
            width: 100%; 
            cursor: pointer; 
            margin-top: 0.5rem; 
            border-radius: 0.4rem; 
            text-align: center; 
            border-width: 2px; 
            border-color: #ddd; 
            border-style: solid; 
            height: 45px;
          }

          &#shapeFileOrder {
            width: 3rem;
          }
        }
      }

      .actions > button {
        padding: 0 0 0 2rem;
      }
    }
  }
}
.contact-form-options-container {
  border-left: 4px solid #ffd740; 
  padding-left: 1rem;

  .form-recipient {
    font-size: 14px;
  }

  .form-recipient-email {
    height: 30px; 
    font-size: 14px;
  }

  .recipient-garbage-button {
    margin-bottom: 1rem;
  }

  .additional-recipient-button {
    height: 30px; 
    font-size: 14px; 
    line-height: 14px;
    margin-bottom: 1rem;
  }
}

::ng-deep .mat-checkbox-label, .mat-checkbox-layout {
  white-space: wrap !important;
}

::ng-deep .mat-checkbox, label.mat-checkbox-layout {
  max-width: 100%;
}
