<nav *ngIf="!loading" class="action-container" aria-label="breadcrumb">
  <div *ngIf="!isEditing">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a [routerLink]="['/projects']">All Projects</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Add
      </li>
    </ol>
  </div>
  <div *ngIf="isEditing">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a [routerLink]="['/projects']">All Projects</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a [routerLink]="['/p', project._id]">{{project.name}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit
      </li>
    </ol>
  </div>
</nav>
<main class="container-fluid-padding add-edit-form">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <form [formGroup]="myForm" novalidate>
    <div class="text-right" class="save-cancel-buttons">
      <button class="btn btn-primary z2001" type="cancel" (click)="onCancel()">Cancel</button>
      &nbsp;
      <button class="btn btn-primary z2001" type="submit" (click)="onSubmit()">Save</button>
    </div>
    <section>
      <h2>Basic Information</h2>
      <div class="flex-container-no-wrap form-container-65 flex-column">
				<div class="mobile-wrap full-wide">
					<div class="half-wide small-margin-right small-margin-bottom">
						<label for="name">Project Name* </label>
						<input name="name" id="name" formControlName="name" type="text" class="form-control" />
					</div>
					<div class="half-wide small-margin-bottom">
						<label for="partner">Partner First Nation(s)* </label>
						<input name="partner" id="partner" formControlName="partner" type="text" class="form-control" />
					</div>
				</div>
        <div *ngIf="formValueType(myForm.value.agreements) === 'string'" class="flex-container form-container-65 small-margin-bottom">
          <label for="agreements">Agreements* </label>
          <input name="agreements" id="agreements" formControlName="agreements" type="text" class="form-control full-wide" />
        </div>
        <div class="flex-container small-margin-bottom">
          <label for="description">Description* </label>
          <textarea name="description" id="description" formControlName="description" class="form-control full-wide"></textarea>
        </div>
        <div class="flex-container small-margin-bottom flex-column">
          <label for="details">Project Details </label>
          <ckeditor name="details" id="details" formControlName="details" [editor]="Editor" [data]="project?.details" (ready)="editorOnReady($event)"></ckeditor>
          <label class="additional-label" for="details">Appears on the Project Details tab under the map.</label>
        </div>
        <div class="flex-container-no-wrap">
        <div class="half-wide medium-margin-right no-margin-bottom">
          <div class="form-group flex-container no-margin-bottom flex-column">
            <label for="logos">Project Logos </label>
            <ul class="project-logos" *ngIf="logos.controls.length > 0">
              <li *ngFor="let logo of logos.controls" class="flex-column">
                <div class="logo-name-container full-wide">
                  <label>File name</label>
                  <p>{{ logo.controls.name.value }}</p>
                </div>
                <div class="logo-link-container full-wide">
                  <label for="logo-link">Link</label>
                  <input type="text" id="logo-link" [formControl]="logo.controls.link" class="full-wide">
                </div>
              </li>
            </ul>   
            <div class="logos-buttons flex-container half-wide">
              <input
                type="button"
                id="logos"
                class="btn btn-primary small-margin-bottom logos-button"
                value="{{logos.length > 0 ? 'Reselect project logo(s)' : 'Select project logo(s)'}}"
                (click)="launchFilePicker('logos', 'Select project logo(s)', true, 'jpg, jpeg, png', ['image/jpeg', 'image/png'], 3)"
              >
              <input
                *ngIf="logos.controls.length > 0"
                type="button"
                class="btn btn-outline-primary small-margin-bottom full-wide no-margin-right"
                value="Clear selection"
                (click)="handleClearLogos()"
              >
            </div>
          </div>
        </div>
				<div class="form-group mb-0 half-wide">
					<label for="shapeFile">Upload Project Banner Image</label>
					<app-file-upload *ngIf="!bannerImageDocument" [maxFiles]="1" [maxSize]="300" [showInfo]="false" [showList]="false" [files]="projectFiles"
						(filesChange)="updateBannerDocument($event); projectFiles = []"></app-file-upload>
					<br>
					<div class="doc-list mb-3" *ngIf="bannerImageDocument">
						<span class="cell name" [title]="bannerImageDocument.displayName || ''">
							<span class="cell__txt-content">{{bannerImageDocument.documentFileName}}</span>
						</span>
						<span class="cell actions">
							<button class="btn btn-icon" type="button" title="Delete this document" (click)="deleteBannerDocument()">
								<i class="material-icons">delete</i>
							</button>
						</span>
					</div>
				</div>
			</div>
	  </div>
	</section>
	<section>
	  <h2>Agreements</h2>
	  <div *ngIf="formValueType(myForm.value.agreements) === 'object'" class="form-container-65">
		<div *ngFor="let agreement of agreements.controls; let i=index" class="project-agreements">
		<div class="flex-container mobile-wrap" [formGroup]="agreement">
		  <div class="label-pair existing-land-use-plan mobile-wrap flex-column">
		  <label for="name">Agreement Name*</label>
		  <input id="agreement-name" formControlName="agreementName"
			type="text" class="form-control" />
		  </div>
		  <div class="label-pair existing-land-use-plan-url mobile-wrap flex-column">
			<label for="agreement">Agreement URL</label>
			<input class="agreement-url" formControlName="agreementUrl" type="text" class="form-control" />
		  </div>
		  <button type="button" type="button" class="btn existing-land-use-plan-delete" (click)="removeItemFromFormArray(agreements, i)"><i class="material-icons">delete</i></button>
		</div>
		<div class="divider"></div>
	  </div>
	  <button class="btn btn-primary" type="button" (click)="populateFormArray(agreements)">Add agreement</button>
	</div>
    </section>
    <section>
      <h2>Location</h2>
      <div class="flex-container-no-wrap form-container-65">
        <div class="small-margin-right small-margin-bottom half-wide">
          <label for="region">Region </label>
          <select class="form-control" formControlName="region">
            <option *ngFor="let region of REGIONS" [ngValue]="region">{{region}}</option>
          </select>
        </div>
        <div class="small-margin-right small-margin-bottom quarter-wide">
          <label for="lat">Lat* </label>
          <input name="lat" id="lat" formControlName="lat" type="text" class="form-control" />
        </div>
        <div class="small-margin-bottom quarter-wide">
          <label for="lon">Long* </label>
          <input name="lon" id="lon" formControlName="lon" type="text" class="form-control" />
        </div>
      </div>
      <div class="flex-container form-container-65 small-margin-bottom">
        <label for="overlappingRegionalDistricts">Overlapping Regional Districts </label>
        <select multiple name="overlappingRegionalDistricts" id="overlappingRegionalDistricts"
          formControlName="overlappingRegionalDistricts" class="form-control">
          <option *ngFor="let overlappingRegionalDistricts of OVERLAPPING_REGIONAL_DISTRICTS"
            [ngValue]="overlappingRegionalDistricts">{{overlappingRegionalDistricts}}</option>
        </select>
      </div>
      <div class="flex-container-no-wrap form-container-65">
        <!-- <div class="small-margin-right half-wide">
          <div class="form-group mb-0">
            <label for="shapeFile">Upload Shape File(s) </label>
            <app-file-upload [maxFiles]="1" [maxSize]="300" [showInfo]="false" [showList]="false" [files]="projectFiles"
              (filesChange)="addDocuments($event); projectFiles = []"></app-file-upload>
            <br>
            <ul class="doc-list mb-3" *ngIf="shapefileDocuments?.length > 0">
              <li *ngFor="let doc of shapefileDocuments">
                <span class="cell icon">
                  <i class="material-icons">insert_drive_file</i>
                </span>
                <span class="cell name" [title]="doc.displayName || ''">
                  <span class="cell__txt-content">{{doc.documentFileName}}</span>
                </span>
                <span class="cell actions">
                  <button class="btn btn-icon" type="button" title="Delete this document" (click)="deleteDocument(doc)">
                    <i class="material-icons">delete</i>
                  </button>
                </span>
              </li>
            </ul>
          </div>
        </div> -->

      <div class="logos-buttons flex-container half-wide">
        <input
          type="button"
          id="shapefiles"
          class="btn btn-primary small-margin-bottom logos-button"
          value="{{shapefiles?.length > 0 ? 'Reselect shapefiles(s)' : 'Select shapefiles(s)'}}"
          (click)="launchFilePicker('shapefiles', 'Select project shapefiles(s)', false, 'zip', ['application/zip'], 6)"
        >
        <ul class="shapefile-list mb-3" *ngIf="shapefiles?.controls.length > 0">
          <li class="shapefile-list-item" *ngFor="let shapefile of shapefiles?.controls; index as i">
            <div class="shapefile-list-item-segment">
              <span class="" [title]="">
                <span class="">{{shapefile.controls.documentFileName.value}}</span>
              </span>
              <span class="cell actions">
                <button class="btn btn-icon" type="button" title="Delete this shapefile" (click)="shapefiles.removeAt(i)">
                  <i class="material-icons">delete</i>
                </button>
              </span>
            </div>
            <div class="shapefile-list-item-segment">
              <div class="shapefile-input-container">
                <label for="shapeFileOrder">Order</label>
                <input
                  type="text"
                  id="shapeFileOrder"
                  class="shape-file-order-input"
                  [formControl]="shapefile.controls.order"
                />
              </div>
              <div class="shapefile-input-container">
                <label for="shapeFileTitle">Title</label>
                <input
                  type="text"
                  id="shapeFileTitle"
                  class="shape-file-title-input"
                  [formControl]="shapefile.controls.title"
                />
              </div>
              <div class="shapefile-input-container">
                <label for="shapeFileColour">Colour</label><br>
                <input 
                  id="shapeFileColour"
                  [ngStyle]="{'color': shapefile.controls.colour.value}"
                  class="shape-file-colour-input"
                  [formControl]="shapefile.controls.colour"
                  (colorPicker)="shapefile.controls.colour.setValue($event)"
                  [style.background]="shapefile.controls.colour.value"
                  [style.color]="shapeFileTextColour"
                  (colorPickerChange)="shapefile.controls.colour.setValue($event)"
                  />
              </div>
            </div>
          </li>
        </ul>
      </div>
      </div>
    </section>
    <section formArrayName="existingLandUsePlans">
      <h2>Supplementary Information</h2>
      <div *ngFor="let existingPlan of existingLandUsePlans.controls; let i=index">
        <div class="flex-container mobile-wrap form-container-65 no-margin-right" [formGroupName]="i">
        <div class="label-pair existing-land-use-plan mobile-wrap flex-column">
          <label for="existingLandUsePlan">Existing Land Use Plan </label>
          <input name="existingLandUsePlan" class="existingLandUsePlan" formControlName="existingLandUsePlan"
            type="text" class="form-control" />
        </div>
        <div class="label-pair existing-land-use-plan-url mobile-wrap flex-column">
          <label for="existingLandUsePlanURL">Existing Land Use Plan URL</label>
          <input name="existingLandUsePlanURL" formControlName="existingLandUsePlanURL" type="text" class="form-control" />
        </div>
        <button class="btn existing-land-use-plan-delete" (click)="removeItemFromFormArray(existingLandUsePlans, i)"><span class="existing-land-use-plan-delete-text">Remove</span><i class="material-icons">delete</i></button>
        </div>
        <div class="divider"></div>
      </div>
      <button class="btn btn-primary" type="button" (click)="populateFormArray(existingLandUsePlans)">Add existing land use plan</button>
    </section>
    <section>
      <h2>Overall Project Status</h2>
      <div class="flex-container-no-wrap form-container-65">
				<div class="large-margin-right small-margin-bottom half-wide">
					<label for="projectPhase">Project Phase </label>
					<select name="projectPhase" id="projectPhase" formControlName="projectPhase" class="form-control">
						<option *ngFor="let projectPhase of PROJECT_PHASES" [ngValue]="projectPhase">{{projectPhase}}</option>
					</select>
				</div>
				<div class="half-wide flex-container flex-column">
					<label for="projectTypes">Project Type(s) </label>
					<div *ngFor="let projectType of myForm.value.projectTypes; let i = index">
						<mat-checkbox id="{{projectType.name}}" [checked]="projectType.checked" (change)="handleProjectTypesChange($event, i)"> {{projectType.name}}</mat-checkbox>
					</div>
				</div>
      </div>
    </section>
    <section>
      <h2>Background Information</h2>
      <div class="flex-container form-container-65">
        <div class="add-row med full-wide">
          <ckeditor name="backgroundInfo" id="backgroundInfo" formControlName="backgroundInfo" [editor]="Editor" [data]="project?.backgroundInfo" (ready)="editorOnReady($event)"></ckeditor>
        </div>
      </div>
    </section>
    <section>
      <h2>Engagement Information</h2>
      <div>
        <div class="flex-container form-container-65 small-margin-bottom">
          <label for="engagementLabel">Engagement Label* </label>
          <input name="engagementLabel" id="engagementLabel" formControlName="engagementLabel" type="text" class="form-control" />
          <label class="additional-label" for="engagementLabel">Appears in the header of the Comment Period and in the Comment Period box. e.g. "Public Comment Period".</label>
        </div>
        <div class="flex-container form-container-65 flex-column">
          <label for="enagementInfo">Engagement Tab Information </label>
          <ckeditor name="engagementInfo" id="engagementInfo" formControlName="engagementInfo" [editor]="Editor"
            [data]="project?.engagementInfo" (ready)="editorOnReady($event)"></ckeditor>
          <label class="additional-label" for="engagementInfo">Appears at the top of the Engagement tab.</label>
        </div>
      </div>
    </section>
    <section>
      <h2>Document Information</h2>
      <div class="flex-container form-container-65">
        <div class="add-row med full-wide">
          <p>Additional information for the Documents tab</p>
          <ckeditor name="documentInfo" id="documentInfo" formControlName="documentInfo" [editor]="Editor"
            [data]="project?.documentInfo" (ready)="editorOnReady($event)"></ckeditor>
        </div>
      </div>
    </section>
    <section class="people">
      <h2>People</h2>
      <div class="flex-container">
        <div class="label-pair add-row">
          <label for="projectLead">Engagement Lead</label>
          <div *ngIf="projectLead === '' || projectLead == null">
            <button class="add-btn" type="button" (click)="contactSelect('projectLead')"><i class="material-icons"
                role="add">add_box</i></button>
          </div>
          <div *ngIf="projectLead !== '' && projectLead">
            <span class="cell icon">
              <i class="material-icons">person</i>
            </span>
            &nbsp;
            <span class="cell name" [title]="projectLead || ''">
              <span class="cell__txt-content">{{projectLead}}</span>
            </span>
            <span class="cell actions">
              <button class="btn btn-icon" type="button" title="Delete this contact" (click)="removeSelectedContact('projectLead')">
                <i class="material-icons">delete</i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </section>
    <section class="options">
      <h2>Options</h2>
      <div class="flex-container">
        <div class="add-row med">
          <mat-checkbox id="activitiesAndUpdatesEnabled" formControlName="activitiesAndUpdatesEnabled">Enable Activities and Updates Section</mat-checkbox>
        </div>
        <div class="add-row med">
          <mat-checkbox id="contactFormEnabled" formControlName="contactFormEnabled" >Enable Contact Form</mat-checkbox>
          <label for="contactFormEnabled"> Use a <span class="contact-us-emphasis">Contact Us</span> form instead of displaying the Engagement Lead contact information</label>
          <div *ngIf="myForm.value.contactFormEnabled">
            <div formArrayName="contactFormEmails" *ngFor="let contactFormEmail of contactFormEmails.controls; let i=index">
              <div class="flex-container">
                <div class="label-pair">
                  <label for="contactFormEmail">Form Recipient</label>
                  <input id="contactFormEmail" [formControlName]="i" type="email" class="form-control" />
                </div>
                <button class="btn" (click)="removeItemFromFormArray(contactFormEmails, i)"><i class="material-icons">delete</i></button>
              </div>
              <div class="divider"></div>
            </div>
            <button class="btn btn-primary" type="button" (click)="populateFormArray(contactFormEmails)">Add additional recipient</button>
          </div>
        </div>
      </div>
      <div class="flex-container form-container-65 medium-margin-bottom" style="margin-top: 1rem">
        <div class="add-row med full-wide">
          <label for="collectionNotice"><strong>Project Collection Notice</strong></label>
          <p>Create a custom project collection notice or leave this field blank to display the default collection notice.</p>
          <ckeditor name="collectionNotice" id="collectionNotice" formControlName="collectionNotice" [editor]="Editor"
            [data]="project?.collectionNotice" (ready)="editorOnReady($event)"></ckeditor>
        </div>
      </div>
    </section>
  </form>
</main>
