@import "assets/styles/components/add-edit.scss";
@import "~assets/styles/base/base.scss";

.form-row {
  border-bottom: 1px solid $fc-border-color;
  margin-bottom: 2rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: $fc-border-color;
  margin: 1rem 0;
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  .existing-land-use-plan-url {
    width: 60%;
  }

  .existing-land-use-plan-delete {
    width: 5%;
    display: inline-block;
    padding: 0;
  }

  .existing-land-use-plan-delete-text {
    display:none;
  }

  .divider {
    display: none;
  }
}

.no-padding-left {
  padding-left: 0;
}

.almost-full {
  width: 97%;
}

.additional-label {
  font-size: 0.75rem;
  font-weight: normal;
}

.logos-buttons {
  input {
    margin-right: 0.5rem;
  }
}

.project-logos {
  list-style-type: none;
  padding: 0;

  li {
    display: flex;
    border-bottom: 1px solid $fc-border-color;
    padding: 1rem 0;

    &:last-of-type {
      padding-bottom: 0;
      border-bottom: none;
    }

    label {
      display: block;
      font-size: 0.9rem;
    }

    .logo-name-container {
      width: 30%;
    }

    .logo-link-container {
      width: 70%;

      input {
        width: 100%;
      }
    }
  }
}
