<nav class="action-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/projects']">All Projects</a>
    </li>
    <li class="breadcrumb-item">
      <a *ngIf='currentProject' [routerLink]="['/p', currentProject._id]">{{currentProject.name}}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Updates</li>
  </ol>
</nav>
<div class="container-fluid-padding">
  <form #f="ngForm" class="search-form ui form" (ngSubmit)="onSubmit()">
    <div class="input-group main-search-field">
      <input class="form-control" type="text" name="keywordInput" placeholder="Enter keywords to search..."
        id="keywordInput" [(ngModel)]="keywords" autofocus />
      <div class="input-group-append">
        <!-- prevent searching if input is empty or we're already searching -->
        <button class="btn btn-primary" type="submit">
          <span>Search</span>
        </button>
      </div>
    </div>
    <div class="results">
      <p *ngIf="!loading && tableParams.totalListItems == 0">
        No result<span *ngIf="count != 1">s</span> found for "{{keywords}}"
      </p>
      <div *ngIf="!loading && tableParams.totalListItems > 0">
        {{tableParams.totalListItems}} result<span *ngIf="tableParams.totalListItems != 1">s found</span>
      </div>
    </div>
  </form>

  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>

  <app-table-template
    *ngIf="!loading && tableParams.totalListItems != 0"
    (checkboxChange)='checkChange($event)'
    [columns]="tableColumns"
    [data]="tableData"
    (onColumnSort)='setColumnSort($event)'
    (onSelectedRow)='updateSelectedRow($event)'
    (onPageNumUpdate)='getPaginatedDocs($event, null, null)'>
  </app-table-template>
</div>
