<div class="search-container">
    <div class="container-fluid-padding">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a
              [routerLink]="['/p', currentProjectId]">Project Details</a></li>
            <li class="breadcrumb-item active" aria-current="page">Updates</li>
        </ol>
      </nav>
      </div>
</div>

<div class="bottom-container">
  <div class="container">
    <legend>COMING SOON</legend>
  </div>
</div>