<div class="hero-banner">
  <div class="container">
    <div class="container__inner-container">
      <div class="hero-banner__content">
        <h1 id="pgTitle">Comment Period for {{commentperiod?.name || 'Unknown'}}</h1>
        <p class="mb-2">From {{(commentperiod?.startDate | date) || 'Start'}} to {{(commentperiod?.endDate | date) || 'End'}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container" id="anchor-point">
  <div class="row">
    <main class="col-lg-12">
      <section class="commentperiod-description card">
        <h4 class="card-header">Description</h4>
        <p class="mb-2" [innerHTML]="commentperiod?.description | newlines"></p>
      </section>
      <section class="commentperiod-internalnotes card">
        <h4 class="card-header">Internal Notes</h4>
        <p class="mb-2" [innerHTML]="commentperiod?.internalNotes | newlines"></p>
      </section>
    </main>
  </div>
</div>