<div class="search-container">
    <div class="container">
      <h2>Value Components</h2>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Type</th>
            <th scope="col">Pillar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let topic of topics | paginate: { id: 'server', itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalTopics }"
              (click)="selectTopic(topic)"
              class="clickable-row">
            <td scope="row">{{topic.name}}</td>
            <td>{{topic.description}}</td>
            <td>{{topic.type}}</td>
            <td>{{topic.pillar}}</td>
          </tr>
        </tbody>
      </table>
      <div class="page-controls">
          <div class="spinner" [ngClass]="{ 'hidden': !topicsLoading }"></div>
          <pagination-controls (pageChange)="getPaginatedTopics($event)" id="server"></pagination-controls>
      </div>
    </div>
  </div>