<nav class="action-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/administration">Settings</a></li>
    <li class="breadcrumb-item active" aria-current="page">Topics</li>
  </ol>
  <button type="button" class="btn btn-primary" (click)="addTopic()">Add New Topic</button>
</nav>
<main class="container-fluid-padding">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <div *ngIf="tableParams.totalListItems > 0">
    <app-table-template [columns]="topicTableColumns" [data]="topicTableData" (onColumnSort)='setColumnSort($event)'
      (onPageNumUpdate)='getPaginatedTopics($event)'>
    </app-table-template>
  </div>
  <div *ngIf="tableParams.totalListItems == 0">
    There are no topics.
  </div>
</main>