<header>
  <h3>{{ modalData.title || "Select file(s)" }}</h3>
  <button
    class="help-button"
    (click)="toggleHelp()"
    aria-label="Instructions for use of file uploader."
  >
    <mat-icon>help_outline</mat-icon>
  </button>
  <article class="help-dialog" *ngIf="showHelp">
    Choose files from your desktop and upload them. Select existing files.
    Change their alternative text. Press "Select files" to finalize your selection.
    <br>
    <br>
    Keyboard Instructions: <br>
    - Arrow keys to navigate. <br>
    - Enter to select files and press buttons. <br>
    - Escape to exit. <br>
  </article>
</header>
<main class="close-dialog" *ngIf="closeDialog">
  <h4>Are you sure you wish to close?</h4>
  <p>No files will be uploaded and changes to files will not be saved.</p>
  <div class="close-buttons">
    <button class="btn btn-outline-primary" (click)="handleCancelClose()">Cancel</button>
    <button class="btn btn-primary" (click)="closeModal()">Close</button>
  </div>
</main>
<main class="error-dialog" *ngIf="errorDialog">
  <h4>Could not select files.</h4>
  <p class="error-contents">{{ errorMessage }}</p>
  <button class="btn btn-primary" (click)="handleConfirmError()">Confirm</button>
</main>
<main class="file-upload" *ngIf="!closeDialog && !errorDialog">
  <section #fileBrowser>
    <div class="upload">
      <app-file-upload
      [maxFiles]="modalData.fileNum"
      [maxSize]="modalData.maxSize"
      [fileExt]="fileExt"
      [files]="queuedFiles"
      (filesChange)="queueFilesForUpload($event); queuedFiles = []">
    </app-file-upload>
  </div>
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <ul *ngIf="fileList.length > 0">
    <li
      tabindex="0"
      class="file"
      *ngFor="let file of fileList; index as i"
      (click)=handleSelect(file)
      (keypress)="keyPress($event, file)"
      [ngClass]="{'selected': isSelected(file)}"
      [attr.aria-selected]="isSelected(file)">
      <div
        *ngIf="isSelected(file)"
        tabindex="0"
        class="selected-count"
        (click)="handleDeselect($event, file)"
        [ngClass]="{'deslect-button': file.deselectHovered}"
        (mouseenter)="handleFileHover($event, file, 'mouseenter')"
        (mouseleave)="handleFileHover($event, file, 'mouseleave')"
      >
        <span *ngIf="!file.deselectHovered">{{ selectedCount(file) }}</span>
        <mat-icon *ngIf="file.deselectHovered" [inline]="true">close</mat-icon>
      </div>
      <mat-icon aria-hidden="false" [inline]="true" [attr.aria-label]="getIconInfoFromType(file).aria">
        {{ getIconInfoFromType(file).icon }}
      </mat-icon>
      <span class="file-name">{{ truncate(file.documentFileName, { length: 20 }) }}</span>
    </li>
  </ul>
  </section>
  <aside>
    <form #fileInfoForm [ngClass]="{ 'no-file-selected': 0 === selectedFiles.length }">
      <p *ngIf="0 === selectedFiles.length" class="no-file-selected">
        <mat-icon aria-hidden="false" [inline]="true">description</mat-icon>
        No file selected
      </p>
      <div *ngIf="selectedFiles.length > 0" class="form-content">
        <label>File name</label>
        <p>{{ selectedFiles[0].documentFileName }}</p>
        <label>Size</label>
        <p>{{ utils.formatBytes(selectedFiles[0].internalSize) }}</p>
        <label>Alternative text</label>
        <input type="text" [formControl]="selectedFiles[0].alt">
      </div>
    </form>
  </aside>
</main>
<footer *ngIf="!closeDialog && !errorDialog">
  <button class="btn btn-outline-primary" (click)="handleClose()">Cancel</button>
  <button
    class="btn btn-primary"
    (click)="handleSave()"
    [disabled]="0 === selectedFiles.length"
    [attr.aria-disabled]="0 === selectedFiles.length"
  >
    <span>{{ isSaveRequired() ? 'Save and s' : 'S' }}</span>elect {{ selectedFiles.length }} file(s)
  </button>
</footer>
