@import "assets/styles/components/add-edit.scss";

.smart-modal-dialog {
  padding: 2rem;

  .smart-modal-footer {
    float: none !important;
    display: flex;

    button.btn.btn-primary {
      margin-left: auto;
    }
  }
}
