<div class="smart-modal-dialog">
	<div class="">
		<div class="smart-modal-header">
			<h4 class="smart-modal-title" [innerHTML]="modalData?.title || 'Confirm'"></h4>
		</div>
		<div class="smart-modal-body">
			<p [innerHTML]="modalData?.message || 'Are you sure?'"></p>
		</div>
		<div class="smart-modal-footer">
			<button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
			<button type="button" class="btn btn-light" (click)="close()">Cancel</button>
		</div>
	</div>
</div>
