@import "assets/styles/components/details.scss";
@import "assets/styles/components/add-edit.scss";


section {
  + section {
    margin-top: 3rem;
  }
}

h1 {
  margin-bottom: 1.75rem;
}

.people {
  vertical-align: top;

  i {
    vertical-align: bottom;
  }

  .col {
    padding: 0;
    margin-bottom: 20px;
    vertical-align: top;

    @media screen and (min-width: 800px) {
      display: inline-block;
      width: 32%;
      margin-right: 1%;
    }
  }
}

.ng-touched.ng-invalid {
  border-color: red;
}

.ng-touched.ng-invalid:focus {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(255, 17, 0, 0.25);
}

.invalid-notice {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  color: red;
}
