<tr *ngFor="let entry of entries | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }"
    class="clickable-row">
    <td data-label="User" scope="row" class="col-8">{{entry.displayName}}</td>
    <td data-label="Access" scope="row" class="col-4">
      <mat-checkbox (change)="handlePermissionCheckboxChange($event, entry)"
                    [checked]="entry.projectPermissions.includes(currentProject._id)">
      </mat-checkbox>
    </td>
</tr>
