<div class="search-container">
  <div class="container-fluid-padding">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/p', currentProjectId]">Project
            Details</a></li>
        <li class="breadcrumb-item active" aria-current="page">Valued Components</li>
      </ol>
    </nav>
  </div>
</div>

<div class="bottom-container">
  <div class="container">
    <div class="spinner-container" *ngIf="loading">
      <div class="spinner-new rotating"></div>
    </div>

    <div class="input-group-prepend">
      <button (click)="selectAction('selectAll')"
              class="btn btn-outline-secondary mr-1"
              type="button"
              id="button-sa">Select All</button>
      <button (click)="selectAction('delete')"
              class="btn btn-outline-secondary mr-1"
              [disabled]="!isEnabled('delete')"
              type="button"
              id="button-d"><i class="material-icons">delete</i>Delete</button>
    </div>

    <app-table-template *ngIf="tableParams.totalListItems > 0"
      [columns]="tableColumns"
      [data]="tableData"
      (onColumnSort)='setColumnSort($event)'
      (onSelectedRow)='updateSelectedRow($event)'
      (onPageNumUpdate)='getPaginatedVCs($event, null, null)'>
    </app-table-template>

    <div *ngIf="tableParams.totalListItems == 0">
      This project has no valued components.
    </div>
  </div>
</div>