.input-group-prepend {
	margin-bottom: 20px;
}

.btn-outline-secondary {
  color: #007bff;
  border-color: #007bff;
  i {
  	margin-right: 4px;
  	font-size: 20px;
  }
  &:disabled {
    border-color: #6c757d;
    color: #6c757d;
  }
}
