<nav class="action-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/projects']">All Projects</a>
    </li>
    <li class="breadcrumb-item active">{{project && project.name}}</li>
  </ol>
  <div ngbDropdown placement="bottom-right" class="d-inline-block">
    <button class="btn btn-primary" id="actionDropdown" ngbDropdownToggle>Actions</button>
    <div class="dropdown-menu" aria-labelledby="actionDropdown" ngbDropdownMenu>
      <!-- Replace click events -->
      <button class="dropdown-item" [routerLink]="['/p', project._id, 'project-documents', 'upload']">Upload
        Document</button>
      <button class="dropdown-item" (click)="editProject()">Edit</button>
      <button class="dropdown-item" (click)="publishProject()">Publish</button>
      <button class="dropdown-item" (click)="unPublishProject()">Un-Publish</button>
    </div>
  </div>
</nav>
<main class="container-fluid-padding">
  <h1 id="name">{{project.name}}</h1>
  <section>
    <app-comment-period-banner></app-comment-period-banner>
  </section>
  <section>
    <h2>Basic Information</h2>
    <div class="label-pair">
      <h3 for="proponent">Proponent: </h3>
      <p id="proponent">{{project.proponent.name || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="nature">Project Nature: </h3>
      <p id="nature">{{project.nature || 'No nature description available'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="type">Type: </h3>
      <p class="type">{{project.type || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="type">Sub-Type: </h3>
      <p class="type">{{project.sector || '-'}}</p>
    </div>
    <div class="label-pair full">
      <h3 for="description">Description: </h3>
      <p id="description">{{project.description || 'No project description available'}}</p>
    </div>
  </section>
  <section>
    <h2>Location</h2>
    <div class="label-pair">
      <h3 for="location">Location: </h3>
      <p id="location">{{project.location || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="region">Region: </h3>
      <p id="region">{{project.region || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="lat">Lat: </h3>
      <p id="lat">{{project.centroid[1]}}</p>
    </div>
    <div class="label-pair">
      <h3 for="lat">Long: </h3>
      <p id="lat">{{project.centroid[0]}}</p>
    </div>
  </section>
  <section>
    <h2>Supplementary Information</h2>
    <div class="label-pair">
      <h3 for="ceaa">CEAA Involvement: </h3>
      <p id="ceaa">{{project.CEAAInvolvement || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="ceaa-url">CEAA URL: </h3>
      <p id="ceaa-url"><a href="{{project.CEAALink}}">{{project.CEAALink || '-'}}</a></p>
    </div>
    <div class="label-pair">
      <h3 for="ea">EA Decision: </h3>
      <p id="ea">{{project.eacDecision || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="ea">Capital Investment: </h3>
      <p id="ea">{{project.intake.investment || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="notes">Notes: </h3>
      <p id="notes">{{project.intake.investmentNotes || '-'}}</p>
    </div>
  </section>
  <section>
    <h2>Project Status</h2>
    <div class="label-pair" *ngIf="project.eaDecision">
      <h3 for="ea">EA Readiness Status: </h3>
      <p id="ea">{{project.eaDecision.label || '-'}} | {{project.eaDecision.date | date: 'longDate' || '-'}}</p>
    </div>
    <div class="label-pair" *ngIf="project.operational">
      <h3 for="active-status">Active Status: </h3>
      <p id="active-status">{{project.operational.label || '-'}} |
        {{project.operational.date | date: 'longDate' || '-'}}</p>
    </div>
    <div class="label-pair" *ngIf="project.eacDecision">
      <h3 for="eac-status">EAC Status: </h3>
      <p id="eac-status">{{project.eacDecision || '-'}} | {{project.decisionDate | date: 'longDate' || '-'}}</p>
    </div>
    <div class="label-pair" *ngIf="project.substantiallyDate">
      <h3 for="substantially">Substantially Started: </h3>
      <p id="substantially">{{project.substantiallyDate || '-'}} |
        {{project.substantiallyDate | date: 'longDate' || '-'}}</p>
    </div>
  </section>
  <section class="people">
    <h2>People</h2>
    <div class="col">
      <h3 for="project-lead">Project Lead</h3>
      <p id="project-lead">
        <i class="material-icons mr-3" role="presentation">person</i>{{project.projectLead || '-'}}<br />
        <i class="material-icons mr-3" role="presentation">phone</i>
        {{project.projectLeadPhone || '-'}}<br />
        <i class="material-icons mr-3" role="presentation">email</i>
        <a href="mailTo:{{project.projectLeadEmail}}">{{project.projectLeadEmail || '-'}}</a>
      </p>
    </div>
    <div class="col">
      <h3 for="epd">Executive Project Director</h3>
      <p id="epd">
        <i class="material-icons mr-3" role="presentation">person</i>{{project.responsibleEPD || '-'}}<br />
        <i class="material-icons mr-3" role="presentation">phone</i>
        {{project.responsibleEPDPhone || '-'}}<br />
        <i class="material-icons mr-3" role="presentation">email</i>
        <a href="mailTo:{{project.responsibleEPDEmail}}">{{project.responsibleEPDEmail || '-'}}</a>
      </p>
    </div>
    <div class="col">
      <h3 for="ce-lead">Compliance & Enforcement Lead</h3>
      <p id="ce-lead">
        <i class="material-icons mr-3" role="presentation">person</i>Compliance & Enforcement Branch<br />
        <i class="material-icons mr-3" role="presentation">phone</i>
        250-387-0131<br />
        <i class="material-icons mr-3" role="presentation">email</i>
        <a href="mailTo:eao.compliance@gov.bc.ca">eao.compliance@gov.bc.ca</a>
      </p>
    </div>
  </section>
</main>
