<div class="row">
  <div class="col-md-12">

      <section>
        <h2>Description</h2>
        <p>{{project.description || 'No project description available'}}</p>
      </section>
      <section>
        <h2>Details</h2>
        <ul class="nv-list">
          <li>
            <span class="name">Proponent:</span>
            <span class="value">{{project.proponent || '-'}}</span>
          </li>
          <li>
            <span class="name">Region:</span>
            <!-- TODO: we need to figure out how to interpret region codes. -->
            <span class="value">{{project.region || '-' | titlecase}}</span>
          </li>
          <li>
            <span class="name">Location:</span>
            <span class="value">{{project.location || '-'}}</span>
          </li>
          <li>
            <span class="name">Type:</span>
            <span class="value">{{project.type || '-'}}</span>
          </li>
          <li>
            <span class="name">Sub-type:</span>
            <span class="value">{{project.sector || '-'}}</span>
          </li>
          <li>
            <span class="name">EA Decision:</span>
            <span class="value">{{project.eacDecision || '-'}}</span>
          </li>
          <li>
            <span class="name">CEAA Involvement:</span>
            <span class="value">{{project.CEAAInvolvement || '-'}}</span>
          </li>
          <li>
            <span class="name">CEAA URL:</span>
            <span class="value"><a href="{{project.CEAALink}}">{{project.CEAALink || '-'}}</a></span>
          </li>
          <li>
            <span class="name">Project Lead:</span>
            <span class="value">
              {{project.projectLead || '-'}}<br />
              {{project.projectLeadPhone || '-'}}<br />
              <a href="mailTo:{{project.projectLeadEmail}}">{{project.projectLeadEmail || '-'}}</a>
            </span>
          </li>
          <li>
            <span class="name">Executive Project Director:</span>
            <span class="value">
              {{project.responsibleEPD || '-'}}<br />
              {{project.responsibleEPDPhone || '-'}}<br />
              <a href="mailTo:{{project.responsibleEPDEmail}}">{{project.responsibleEPDEmail || '-'}}</a>
            </span>
          </li>
          <li>
            <span class="name">Compliance & Enforcement Lead:</span>
            <span class="value">
              {{project.CELead || '-'}}<br />
              {{project.CELeadPhone || '-'}}<br />
              <a href="mailTo:{{project.CELeadEmail}}">{{project.CELeadEmail || '-'}}</a>
            </span>
          </li>
        </ul>
      </section>
      <section>
        <h2>Documents</h2>
        <ul class="doc-list">
          <!-- <li *ngFor="let doc of project.documents">
                <span class="cell icon">
                  <i class="material-icons link" (click)="api.openDocument(doc)">
                    insert_drive_file
                  </i>
                </span>
                <span class="cell name" [title]="doc.displayName || ''">
                  <span class="cell__txt-content">
                    <a (click)="api.openDocument(doc)">{{doc.documentFileName}}</a>
                  </span>
                </span>
                <span class="cell actions">
                <button class="btn btn-icon" type="button" title="Download this document" (click)="api.downloadDocument(doc)">
                    <i class="material-icons">file_download</i>
                  </button>
                </span>
              </li>
              <li class="no-results" *ngIf="project.documents.length === 0">
                <em>No project documents</em>
              </li> -->
        </ul>
      </section>
  </div>
</div>