<nav class="action-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/projects']">All Projects</a>
    </li>
    <li class="breadcrumb-item active">{{project && project.name}}</li>
  </ol>
  <div ngbDropdown placement="bottom-right" class="d-inline-block">
    <button class="btn btn-primary" id="actionDropdown" ngbDropdownToggle>Actions</button>
    <div class="dropdown-menu" aria-labelledby="actionDropdown" ngbDropdownMenu>
      <!-- Replace click events -->
      <button class="dropdown-item" [routerLink]="['/p', 'project._id', 'project-files', 'upload']">Upload
        File</button>
      <button class="dropdown-item" (click)="editProject()">Edit</button>
      <button class="dropdown-item" (click)="publishProject()">Publish</button>
      <button class="dropdown-item" (click)="unPublishProject()">Un-Publish</button>
    </div>
  </div>
</nav>
<main class="container-fluid-padding">
  <h1 id="name">{{project?.name}}</h1>
  <section>
    <app-comment-period-banner></app-comment-period-banner>
  </section>
  <section>
    <h2>Basic Information</h2>
    <div class="label-pair">
      <h3 for="visibility">Visibility: </h3>
      <p class="visibility">{{ visibility || '-' }}</p>
    </div>
    <div class="label-pair">
      <h3 for="partner">Partner First Nation(s): </h3>
      <p id="partner">{{project?.partner || '-'}}</p>
    </div>
    <div class="label-pair full">
      <h3 for="description">Description: </h3>
      <p id="description">{{project?.description || 'No project description available'}}</p>
    </div>
    <div class="label-pair full">
      <h3 for="details">Project Details: </h3>
      <p id="details" [innerHTML]="project?.details || 'No project details available'"></p>
    </div>
    <div *ngIf="projectFieldType(project?.agreements) === 'string'" class="label-pair">
      <h3 for="agreements">Agreements: </h3>
      <p class="agreements">{{project?.agreements || '-'}}</p>
    </div>
    <div *ngIf="projectFieldType(project?.agreements) === 'object'">
      <h3 for="ceaa">Agreements: </h3>
      <div *ngFor="let agreement of project?.agreements; let i=index">
        <p class="agreement-name">- {{agreement?.agreementName || '-'}}</p><span *ngIf="agreement.agreementUrl">: </span>
        <p class="agreement-url"><a href="{{agreement.agreementUrl}}">{{ agreement?.agreementUrl }}</a></p>
      </div>
    </div>
  </section>
  <section>
    <h2>Location</h2>
    <div class="label-pair">
      <h3 for="region">Region: </h3>
      <p id="region">{{project?.region || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="overlappingRegionalDistricts">Overlapping Regional Districts: </h3>
      <p id="overlappingRegionalDistricts">{{ overlappingDistrictsListString || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="lat">Lat: </h3>
      <p id="lat">{{project?.centroid[1]}}</p>
    </div>
    <div class="label-pair">
      <h3 for="lat">Long: </h3>
      <p id="lat">{{project?.centroid[0]}}</p>
    </div>
  </section>
  <section>
    <h2>Supplementary Information</h2>
    <h3 for="ceaa">Existing Land Use Plan(s):</h3>
    <div *ngIf="multipleExistingPlans else singlePlan">
      <div *ngFor="let existingPlan of project?.existingLandUsePlans; let i=index">
        <p class="existing-plan-name">- {{existingPlan?.existingLandUsePlan || '-'}}</p><span *ngIf="existingPlan?.existingLandUsePlanURL">: </span>
        <p class="existing-plan-url"><a href="{{existingPlan.existingLandUsePlanURL}}">{{ existingPlan?.existingLandUsePlanURL}}</a></p>
      </div>
      <div class="label-pair" *ngIf="project?.existingLandUsePlans.length === 0">
        <p class="no-existing-plans">No existing land use plan(s).</p>
      </div>
    </div>
    <ng-template #singlePlan>
      <p class="existing-plan-name">- {{project?.existingLandUsePlans || '-'}}</p><span *ngIf="project.existingLandUsePlanURLs">: </span>
      <p class="existing-plan-url"><a href="{{project.existingLandUsePlanURLs}}">{{ project.existingLandUsePlanURLs || '-'}}</a></p>
    </ng-template>
  </section>
  <section>
    <h2>Project Status</h2>
    <div class="label-pair">
      <h3 for="projectPhase">Project Phase: </h3>
      <p id="projectPhase">{{project?.projectPhase || '-'}}</p>
    </div>
  </section>
  <section class="people">
    <h2>People</h2>
    <div class="col">
      <h3 for="project-lead">Engagement Lead</h3>
      <p id="project-lead">
        <i class="material-icons mr-3" role="presentation">person</i>{{project?.projectLead?.displayName || '-'}}<br />
        <i class="material-icons mr-3" role="presentation">phone</i>
        {{project?.projectLead?.phoneNumber || '-'}}<br />
        <i class="material-icons mr-3" role="presentation">email</i>
        <a href="mailTo:{{project?.projectLead?.email}}">{{project?.projectLead?.email || '-'}}</a>
      </p>
    </div>
  </section>
</main>
