<main id="anchor-point">
    <div class="fb-container bg-faded">
        <section class="container">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Settings</li>
              </ol>
            </nav>
            <div class="row feature-blocks">
                <div class="col-md-4">
                    <div class="feature-block">
                        <h3>Valued Components</h3>
                        <p>System Level management of Valued Components.</p>
                        <a class="btn inverted" routerLink="/administration/topics">Manage VCs</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
