@import "~assets/styles/base/base.scss";
@import "~assets/styles/components/feature-block.scss";

.feature-blocks {
	margin-bottom: 20px;
}

.flex-container {
	@media screen and (min-width: 800px) {
		justify-content: space-between;
		> div {
			flex: 49%;
			max-width: 49%;
		}
	}
}
