<main id="anchor-point">
    <div class="fb-container bg-faded">
        <section class="container">
            <h2>Administration of Public Review &amp; Comment</h2>
            <div class="row feature-blocks">
                <div class="col-md-4">
                    <div class="feature-block">
                        <h3>User Management</h3>
                        <p>Create, Edit, or Delete a user in PRC</p>
                        <a class="btn inverted" routerLink="/administration/users">Manage Users</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
