@import "~assets/styles/base.scss";
@import "~assets/styles/components/drag-drop-target.scss";

.spinner-container {
  .alert {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 250px;
    height: 50px;
    margin-top: calc(-#{$spinner-width} / 1.5);
    margin-left: calc(-#{$spinner-width} / 2);
  }
}

.title-container {
  @include flex-box();
  
  &__title {
    @include flex(1 1 auto);
  }
  
  &__actions {
    @include flex(0 0 auto);
  }
}

.application-edit {
  main {
    section {
      padding: 1.5rem;
      
      section {
        padding: 0;
      }
    }
  }

  hr {
    margin: 1.5rem 0;
  }

  label.h4 {
    font-weight: 400;
    line-height: 1.9rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__list {
    @include clearfix();
    
    li {
      width: 50%;
      float: left;
      padding-top: 1rem;
      &.full-width {
        width: 100%;
      }

      .name,
      .value {
        display: block;
      }

      .name {
        font-weight: bold;
      }
    }
  }
}

.form-control {
  &.app-desc
  &.app-decision-desc {
    height: 10rem;
  }

  &.app-notes {
    height: 10rem;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.title-container {
  @include flex-box();

  &__title {
    @include flex(1 1 auto);
  }
  
  &__actions {
    @include flex(0 0 auto);
  }
}

.application-buttons {
  margin: 2rem 0;
}

.document-list {
  display: table;
  width: 100%;
  li {
    display: table-row;
    width: 100%;
    background: transparent;
    .cell {
      display: table-cell;
      padding: 0.5rem;
      vertical-align: middle;
      border-top: 1px solid #ccc;
      &.icon {
        width: 2rem;
        text-align: center;
        i {
          margin-top: 0.4rem;
        }
      }
    }
    +li {
      margin-top: 0.25rem;
    }
  }
  .actions {
    width: 15rem;
    text-align: right;
  }
}

.pg-title-container {
  &__actions {
    .btn {
      border: none;
      background: #eee;
      font-size: 0.9375rem;
      font-weight: bold;
      i {
        margin-top: -0.15rem;
      }
    }
  }
}

.disp-input {
  position: relative;
  
  button {
    position: absolute;
    top: 1px;
    right: 1px;
    height: calc(2.75rem - 2px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.geo-shape-data {
  margin-top: 2rem;
  .btn {
    border: none;
    background: #eee;
  }
  &__list {
    section {
      margin-top: 1.5rem;
      border-top: 2px solid #ddd;
    }
  }
}

.section-form-btns {
  text-align: right;
}
