@import "~assets/styles/base/base.scss";

// TODO: replace this spinner with a snackbar (PRC-609)
.spinner-container {
  background:  rgba(255,255,255,0.8);
  .alert {
    top: 50%;
    left: 50%;
    text-align: center;
    width: 250px;
    height: 50px;
    margin-top: calc(-#{$spinner-lg} / 1.5);
    margin-left: calc(-#{$spinner-lg} / 2);
  }
}

.application-edit {
  main {
    section {
      padding: 1.5rem;
      
      section {
        padding: 0;
      }
    }
  }

  hr {
    margin: 1.5rem 0;
  }

  label.h4 {
    font-weight: 400;
    line-height: 1.9rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__list {
    @include clearfix();
    
    li {
      width: 50%;
      float: left;
      padding-top: 1rem;
      &.full-width {
        width: 100%;
      }

      .name,
      .value {
        display: block;
      }

      .name {
        font-weight: bold;
      }
    }
  }
}

.form-control {
  &.app-desc
  &.app-decision-desc {
    height: 10rem;
  }

  &.app-notes {
    height: 10rem;
  }
}

.application-buttons {
  margin: 2rem 0;
}

// Document List Customization
// Column Customization for Application Documents
.doc-list .cell {
  &.publish-actions {
    @include flex(0 0 auto);
    padding-right: 0;
    overflow: visible;

    .btn {
      height: 2rem;
      width: 5.5rem;
      font-size: 0.75rem;
  
      &.active {
        box-shadow: none;
      }

      // TODO: remove when we the toggle buttons here to a radio group
      &:disabled {
        opacity: 1;
      }
    }
  }
}

// Document List Actions
.actions {
  [class^="btn"] {
    height: 2rem;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    border: transparent;

    &:not(:hover) {
      background: transparent;
    }

    &:disabled {
      opacity: 0.2;
    }
  }
}

// Disposition Input
.disp-input {
  position: relative;
  
  button {
    position: absolute;
    top: 1px;
    right: 1px;
    height: calc(2.75rem - 2px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.geo-shape-data {
  margin-top: 2rem;
  .btn {
    border: none;
    background: $lightgray;
  }
  &__list {
    section {
      margin-top: 1.5rem;
      border-top: 2px solid #ddd;
    }
  }
}

.section-form-btns {
  text-align: right;
}