<!-- <div class="top-container">
  <h1>

  </h1>
  <div class="col-6">
    <div class="row">
      <div class="col-3">
        <div class="subway-circle rounded-circle bg-success"></div>label
      </div>
      <div class="col-3">
        <div class="subway-circle rounded-circle bg-success"></div>label
      </div>
      <div class="col-3">
        <div class="subway-circle rounded-circle bg-success"></div>label
      </div>
      <div class="col-3">
        <div class="subway-circle rounded-circle bg-success"></div>label
      </div>
    </div>
  </div>
</div> -->
<div class="bottom-container project-container">
  <div class="spinner-container full-screen" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <div *ngIf="!loading">
    <router-outlet></router-outlet>
  </div>
</div>
