<div class="top-container">
  <div class="container">
    <div class="title-container">
      <div class="title-container__title">
        <h1>
          {{project.name}}
        </h1>
      </div>
      <div class="title-container__actions">
        This is where the slick timeline thing goes.
      </div>
    </div>
  </div>
</div>
<div class="bottom-container">
  <div class="spinner-container full-screen" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <div class="container" *ngIf="!loading">
    <router-outlet></router-outlet>
  </div>
</div>