@import "~assets/styles/base.scss";
.application-detail {
    h1 {
        display: inline-block;
        margin-bottom: 2rem;
    }
    main {
        section {
            padding: 1.5rem;
            background: #f7f8fa;
            >section {
                padding: 0;
            }
            h3 {
                font-size: 1rem;
                font-weight: bold;
                margin-bottom: 0;
            }
        }
    }
    &__client-card {
        .card {
            &-header,
            &-body {
                padding: 1.5rem;
            }
        }
    }
    ul {
        @include clearfix();
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            margin-top: 1rem;
            float: left;
            width: 50%;
            .name {
                display: block;
                font-weight: bold;
            }
            .value {
                display: block;
            }
            &:nth-child(1),
            &:nth-child(2) {
                margin-top: 0;
            }
        }
    }
    &__geo-shape-data {
        margin-top: 2rem;
        ul {
            li {
                &:nth-child(3) {
                    width: 100%;
                }
            }
        }
    }
    aside {
        section {
            text-align: center;
            padding: 1.5rem;
            h2 {
                font-size: 1.5rem;
            }
            p {
                margin-bottom: 0.5rem;
            }
            .badge {
                position: unset;
                text-transform: none;
                margin-bottom: 0.5rem;
                padding: 1rem;
            }
        }
        section.aside-commenting {
            .badge {
                font-size: larger;
            }
        }
        section.aside-comments {
            .badge {
                height: 72px;
                width: 72px;
                border-radius: 50%;
                line-height: unset;
                font-size: x-large;
            }
        }
        section.aside-map {
            padding: 0;
        }
    }
}