<div class="application-detail">

  <div class="container" *ngIf="application">

    <h1>Application Details</h1>

    <div class="row">
      <main class="col-lg-8">
        <section class="p-0">
          <div class="application-detail__client-card card bg-light">
            <div class="card-header">
              <h2 class="mb-0">{{application.organization?.name || 'Unknown'}}</h2>
              <span>{{application.purpose || '-'}}</span> /
              <span>{{application.subpurpose || '-'}}</span>
            </div>
            <div class="card-body">
              <ul class="application-detail__list">
                <li>
                  <span class="name">Type / Subtype</span>
                  <span class="value">{{application.type || '-'}} / {{application.subtype || '-'}}</span>
                </li>
                <li>
                  <span class="name">Status</span>
                  <span class="value">{{applicationService.getStatus(application) || '-'}}</span>
                </li>
                <li>
                  <span class="name">Project Date</span>
                  <span class="value">{{application.projectDate | date:'longDate'}}</span>
                </li>
                <li>
                  <span class="name">Region</span>
                  <span class="value">{{application.region || '-'}}</span>
                </li>
                <li>
                  <span class="name">Location</span>
                  <span class="value">{{application.location || '-'}}</span>
                </li>
                <li>
                  <span class="name">Area (hectares)</span>
                  <span class="value">{{application.areaHectares ? (application.areaHectares | number:'1.2-2') : '-'}}</span>
                </li>
                <li>
                  <span class="name">Latitude / Longitude</span>
                  <span class="value">{{application.latitude | number:'1.2-2'}} / {{application.longitude | number:'1.2-2'}}</span>
                </li>
                <li>
                  <span class="name">Business Unit</span>
                  <span class="value">{{application.businessUnit || '-'}}</span>
                </li>
                <li>
                  <span class="name">Crown Lands File(s)</span>
                  <span class="value">{{application.cl_files ? application.cl_files.join(', ') : '-'}}</span>
                </li>
              </ul>
            </div>
          </div>
        </section>

        <!-- APPLICATION -->
        <section>
          <h2>Application</h2>
          <p *ngIf="application.description" [innerHTML]="application.description | newlines"></p>
          <p *ngIf="!application.description">-</p>
          <section class="application-detail__documents mt-2">
            <h3>Application Documents</h3>
            <ul class="application-detail__document-list">
              <li>
                <i class="material-icons">link</i>
                <span class="name">File Name</span>
              </li>
              <li>
                <i class="material-icons">link</i>
                <span class="name">File Name</span>
              </li>
            </ul>
          </section>
        </section>

        <!-- DECISION -->
        <section>
          <h2>Decision</h2>
          <p *ngIf="application.description" [innerHTML]="application.description | newlines"></p>
          <p *ngIf="!application.description">-</p>
          <section class="application-detail__documents mt-2">
            <h3>Decision Documents</h3>
            <ul class="application-detail__document-list">
              <li>
                <i class="material-icons">attachment</i>
                <span class="name">File Name</span>
              </li>
              <li>
                <i class="material-icons">attachment</i>
                <span class="name">File Name</span>
              </li>
            </ul>
          </section>
        </section>

        <!-- GEOGRAPHIC SHAPE DATA -->
        <section class="application-detail__geo-shape-data">
          <h2>Geographic Shape Data</h2>
          <ul class="application-detail__list">
            <li>
              <span class="name">Type / Subtype</span>
              <span class="value">{{application.type || '-'}} / {{application.subtype || '-'}}</span>
            </li>
            <li>
              <span class="name">Area (ha)</span>
              <span class="value">{{application.areaHectares || '-'}}</span>
            </li>
            <li>
              <span class="name">Legal Description</span>
              <span class="value" *ngIf="application.legalDescription" [innerHTML]="application.legalDescription"></span>
              <span class="value" *ngIf="!application.legalDescription">-</span>
            </li>
          </ul>
        </section>
      </main>

      <aside class="col-lg-4">
        <div class="map-thumbnail">
          <div class="map-section__thumbnail" (click)="gotoMap()">
            <app-application-map [application]="application" [zoom]="4"></app-application-map>
          </div>
        </div>

        <!-- COMMENT INFO -->
        <section class="aside-comment-info bg-light">
          <h2>Commenting Open</h2>
          <span class="comment-info-card__date-range">
            {{application.currentPeriod?.startDate | date:'mediumDate'}} - {{application.currentPeriod?.startDate | date:'mediumDate'}}
          </span>
          <div class="comment-info-card__days-remaining">Days Remaining</div>
          <a class="btn btn-primary slide-r-btn" [routerLink]="['/periods', application._id]">
            <span>Manage Comment Periods</span>
            <i class="material-icons">arrow_forward</i>
          </a>
        </section>

        <!-- NEW COMMENTS INFO -->
        <section class="aside-comment-count bg-light">
          <h2>New Comments</h2>
          <div>
            <!-- <span>{{comment}}</span> -->
            <span></span>
          </div>
          <a class="btn btn-primary slide-r-btn" [routerLink]="['/comments', application._id]">
            <span>Review Comments</span>
            <i class="material-icons">arrow_forward</i>
          </a>
        </section>

        <div style="display: grid; margin-top: 1rem;">
          <a class="btn content-btn slide-l-btn btn-sm d-inline" [routerLink]="['/a', application._id, 'edit']">
            <i class="material-icons">mode_edit</i>
            <span>Edit Application</span>
          </a>
        </div>
      </aside>
    </div>
  </div>
</div>