@import "~assets/styles/base.scss";
.application-detail {
    h1 {
        display: inline-block;
        margin-bottom: 2rem;
    }
    section {
        h3 {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 0;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    &__list {
        @include clearfix();
        li {
            .name,
            .value {
                display: block;
            }
            .name {
                font-weight: bold;
            }
        }
    }
    &__client-card {
        ul {
            @include clearfix();
        }
        li {
            margin-top: 1rem;
            float: left;
            width: 50%;
            &:nth-child(1),
            &:nth-child(2) {
                margin-top: 0;
            }
        }
        .card {
            &-header,
            &-body {
                padding: 1.5rem;
            }
        }
    }
    &__geo-shape-data {
        ul {
            @include clearfix();
        }

        li {
            margin-top: 1rem;
            float: left;
            width: 50%;

            // This is your INTEREST ID line - we ensure the first LI doesn't have a top margin
            &:nth-child(1){
                margin-top: 0;
            }

            span {
                &.main-label {
                    font-size: 16pt;
                }
            }

            // Need a variant to display full-width
            &.full-width {
            float: none;
            width: 100%;
            }
        }
    }
    main {
        section {
            padding: 1.5rem;
            background: #f7f8fa;
            >section {
                padding: 0;
            }
        }
    }
    aside {
        section {
            text-align: center;
            padding: 1.5rem;
            h2 {
                font-size: 1.5rem;
            }
            p {
                margin-bottom: 0.5rem;
            }
            .badge {
                position: unset;
                text-transform: none;
                margin-bottom: 0.5rem;
                padding: 1rem;
            }
        }
        section.aside-map {
            padding: 0;
        }
    }
}