<div class="top-container" *ngIf="application">
  <div class="container">
    <div class="title-container">
      <div class="title-container__title">
        <h1>Crown land File: {{application.clFile}}</h1>
        <span class="title-container__sub text-muted">Disposition Transaction: {{application.tantalisID}}</span>
      </div>
      <div class="title-container__actions">
        <div class="btn-container">
          <button class="btn btn-light" type="button" title="Edit application"
            [routerLink]="['/a', application._id, 'edit']"
            [disabled]="application.isRetired">
            Edit
          </button>
          <span title="You cannot edit a retired application"></span>
        </div>
        <div class="btn-container">
          <button class="btn btn-primary ml-1" type="button" title="Publish application"
            *ngIf="!application.isPublished"
            (click)="publishApplication()"
            [disabled]="isPublishing || application.isRetired">
            <i class="spinner rotating" [hidden]="!isPublishing"></i>
            <span>{{isPublishing ? 'Publishing' : 'Publish'}}</span>
          </button>
          <span title="You cannot publish a retired application"></span>
        </div>
        <!-- NB: you CAN unpublish a retired application -->
        <button class="btn btn-primary ml-1" type="button" title="Unpublish application"
          *ngIf="application.isPublished"
          (click)="unPublishApplication()"
          [disabled]="isUnpublishing">
          <i class="spinner rotating" [hidden]="!isUnpublishing"></i>
          <span>{{isUnpublishing ? 'Unpublishing' : 'Unpublish'}}</span>
        </button>
        <span class="vert-pipe">&nbsp;</span>
        <button class="btn btn-icon" title="Remove this application from ACRFD"
          (click)="deleteApplication()"
          [disabled]="isDeleting">
          <i class="material-icons">
            delete
          </i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="bottom-container" *ngIf="application">
  <div class="container">
    <ngb-alert type="primary" [dismissible]="false" *ngIf="application.retireDate && !application.isRetired">
      <div class="alert-contents">
        <i class="material-icons">warning</i>
        <div class="alert-msg">
          This application will be visible on the public website until {{application.retireDate | date:'longDate'}}.
        </div>
      </div>
    </ngb-alert>
    <ngb-alert type="warning" [dismissible]="false" *ngIf="application.retireDate && application.isRetired">
      <div class="alert-contents">
        <i class="material-icons">warning</i>
        <div class="alert-msg">
          This application was removed from the public website on {{application.retireDate | date:'longDate'}}.
        </div>
      </div>
    </ngb-alert>

    <div class="row">
      <div class="col-md-8">
        <section class="main-card">
          <!-- Tabs -->
          <ngb-tabset>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="material-icons">
                  info
                </i>
                Application Information
              </ng-template>
              <ng-template ngbTabContent>
                <section>
                  <h2>Description</h2>
                  <p class="mb-0" [innerHTML]="(application.description | newlines) || '<em>No application description available</em>'"></p>
                </section>
                <section>
                  <h2>Details</h2>
                  <ul class="nv-list">
                    <li>
                      <span class="name">Applicant(s):</span>
                      <span class="value">{{application.applicants || 'No Applicant on this File'}}</span>
                    </li>
                    <li>
                      <span class="name">Purpose/Subpurpose:</span>
                      <span class="value">{{application.purpose || '-'}} / {{application.subpurpose || '-'}}</span>
                    </li>
                    <li>
                      <span class="name">Type / Subtype:</span>
                      <span class="value">{{application.type || '-'}} / {{application.subtype || '-'}}</span>
                    </li>
                    <li>
                      <span class="name">Stage:</span>
                      <span class="value">{{application.tenureStage || '-'}}</span>
                    </li>
                    <li>
                      <span class="name">Agency:</span>
                      <span class="value">{{application.agency || '-'}}</span>
                    </li>
                    <li>
                      <span class="name">Business Unit:</span>
                      <span class="value">{{application.businessUnit || '-'}}</span>
                    </li>
                    <li>
                      <span class="name">Region:</span>
                      <span class="value">{{applicationService.getRegionString(application.region) || '-'}}</span>
                    </li>
                    <li>
                      <span class="name">Location:</span>
                      <span class="value">{{application.location || '-'}}</span>
                    </li>
                    <li>
                      <span class="name">Total Area (hectares):</span>
                      <span class="value">{{application.areaHectares ? (application.areaHectares | number:'1.2-2') : '-'}}</span>
                    </li>
                    <!-- <li *ngIf="application.publishDate">
                      <span class="name">Initial Publish Date:</span>
                      <span class="value">{{application.publishDate | date:'longDate'}}</span>
                    </li> -->
                  </ul>
                </section>
                <section>
                  <h2>Documents</h2>
                  <ul class="doc-list">
                    <li *ngFor="let doc of application.documents">
                      <span class="cell icon">
                        <i class="material-icons link" (click)="api.openDocument(doc)">
                          insert_drive_file
                        </i>
                      </span>
                      <span class="cell name" [title]="doc.displayName || ''">
                        <span class="cell__txt-content">
                          <a (click)="api.openDocument(doc)">{{doc.documentFileName}}</a>
                        </span>
                      </span>
                      <span class="cell actions">
                      <button class="btn btn-icon" type="button" title="Download this document" (click)="api.downloadDocument(doc)">
                          <i class="material-icons">file_download</i>
                        </button>
                      </span>
                    </li>
                    <li class="no-results" *ngIf="application.documents.length === 0">
                      <em>No application documents</em>
                    </li>
                  </ul>
                </section>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>
                <i class="material-icons">
                  pin_drop
                </i>
                Location
              </ng-template>
              <ng-template ngbTabContent>
                <section>
                  <app-application-aside [application]="application"></app-application-aside>
                </section>
                <section *ngIf="!application.features || application.features.length === 0">
                  <!-- if no features, display Legal Description here -->
                  <!-- otherwise it's displayed in shape section below -->
                  <h2>Legal Description</h2>
                  <p [innerHTML]="(application.legalDescription | newlines) || '-'"></p>
                </section>
                <section *ngIf="application.features && application.features.length !== 0">
                  <h2>Geographic Shape Information ({{application.features.length}})</h2>
                  <ul class="shapefile-list">
                    <li class="interest-id" *ngFor="let shape of application.features">
                      <span class="title">Shape ID: {{shape.properties.INTRID_SID}}</span>
                      <ul class="nv-list">
                        <li>
                          <span class="name">Type / Subtype:</span>
                          <span class="value">{{application.type || '-'}} / {{application.subtype || '-'}}</span>
                        </li>
                        <li>
                          <span class="name">Area (hectares):</span>
                          <span class="value">
                            {{shape.properties.TENURE_AREA_IN_HECTARES ? (shape.properties.TENURE_AREA_IN_HECTARES | number:'1.2-2') : '-'}}
                          </span>
                        </li>
                        <li>
                          <span class="name">Legal Description:</span>
                          <span class="value" [innerHTML]="(shape.properties.TENURE_LEGAL_DESCRIPTION | newlines) || '-'"></span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </section>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </section>
      </div>

      <div class="col-md-4">
        <div class="aside-card">
          <h3 class="title">Application Status</h3>
          <div class="body">
            <div class="app-status">{{application.appStatus || '-'}}</div>
            <div class="app-status__date text-muted" *ngIf="application.statusHistoryEffectiveDate">
              Last updated on {{application.statusHistoryEffectiveDate | date:'longDate'}}
            </div>
          </div>
        </div>

        <div class="aside-card">
          <h3 class="title">Comment Period Details</h3>
          <div class="body" *ngIf="!application.currentPeriod">
            Not Open For Commenting
          </div>
          <div class="body" *ngIf="application.currentPeriod">
            <ul class="nv-list">
              <li>
                <span class="name">Status:</span>
                <span class="value">{{application.cpStatus}}</span>
              </li>
              <li>
                <span class="name">Start Date:</span>
                <span class="value">{{application.currentPeriod.startDate | date:'longDate'}}</span>
              </li>
              <li>
                <span class="name">End Date:</span>
                <span class="value">{{application.currentPeriod.endDate | date:'longDate'}}</span>
              </li>
              <li *ngIf="application.currentPeriod['daysRemaining']">
                <span class="name">Days Remaining:</span>
                <span class="value">{{application.currentPeriod['daysRemaining']}}</span>
              </li>
            </ul>
            <div class="btn-container">
              <button class="cta-btn btn btn-sm btn-outline-primary" type="button" title="Review comments"
                [routerLink]="['/comments', application._id]">
                Review Comments<span *ngIf="application['numComments'] >= 0">&nbsp;({{application['numComments']}})</span>
              </button>
            </div>
          </div>
        </div>
        <div class="aside-card">
          <h3 class="title">Application Decision</h3>
          <div class="body">
            <div *ngIf="!application.decision">
              <p class="mb-0">No decision documents have been added to this application.</p>
            </div>
            <div *ngIf="application.decision">
              <ul class="doc-list">
                <li *ngFor="let doc of application.decision.documents">
                  <span class="cell icon">
                    <i class="material-icons link" (click)="api.openDocument(doc)">
                      insert_drive_file
                    </i>
                  </span>
                  <span class="cell name" [title]="doc.displayName || ''">
                      <span class="cell__txt-content">
                        <a (click)="api.openDocument(doc)">{{doc.documentFileName}}</a>
                      </span>
                  </span>
                  <span class="cell actions">
                    <button class="btn btn-icon" title="Download this document" (click)="api.downloadDocument(doc)">
                      <i class="material-icons">file_download</i>
                    </button>
                  </span>
                </li>
                <li class="no-results" *ngIf="application.decision.documents.length === 0">
                  <em>No decision documents</em>
                </li>
              </ul>
            </div>
            <div class="btn-container">
              <button class="cta-btn btn btn-sm btn-outline-primary" type="button" title="Edit decision"
                [routerLink]="['/a', application._id, 'edit']"
                [disabled]="application.isRetired"
                fragment="appDecision">
                Edit Decision
              </button>
              <span title="You cannot edit the decision of a retired application"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
