<div class="application-detail">
  <div class="container" *ngIf="application">
    <div class="title-container mb-4">
      <h1 class="title-container__title">Application Details</h1>
      <div class="pg-title-container__actions">
        <a class="btn btn-default" [routerLink]="['/a', application._id, 'edit']">
          <span>Edit Application</span>
        </a>
      </div>
    </div>

    <div class="row">
      <main class="col-lg-8">

        <!-- HEADER -->
        <section class="card bg-dark">
          <h2 class="mb-0">{{application.organization?.name || 'Unknown'}}</h2>
          <div>{{application.purpose || '-'}} &nbsp; / &nbsp; {{application.subpurpose || '-'}}</div>
          <!--
          <h3>{{applicationService.getStatus(application) || '-'}}</h3>
          -->
          <ul class="application-detail__list">
            <li>CL File(s): {{application.cl_files ? application.cl_files.join(', ') : '-'}}</li>
            <li *ngIf="application.features?.length > 0">Disp ID: {{application.features[0].properties.DISPOSITION_TRANSACTION_SID}}</li>
          </ul>
        </section>

        <!-- BASIC INFORMATION -->
        <section class="card bg-light">
          <h3>Basic Information</h3>

          <div *ngIf="!application.features || application.features.length === 0">
            <em>No features have been loaded.</em>
          </div>

          <div *ngIf="application.features?.length > 0">
            <ul class="application-detail__list">
              <li class="pt-0">
                <span class="name">Type / Subtype</span>
                <span class="value">{{application.features[0].properties.TENURE_TYPE || '-'}} / {{application.features[0].properties.TENURE_SUBTYPE
                  || '-'}}</span>
              </li>
              <li class="pt-0">
                <span class="name">Status</span>
                <span class="value">{{application.features[0].properties.TENURE_STATUS || '-'}}</span>
              </li>
              <li>
                <span class="name">Stage</span>
                <span class="value">{{application.features[0].properties.TENURE_STAGE || '-'}}</span>
              </li>
              <li>
                <span class="name">Agency</span>
                <span class="value">{{application.agency || '-'}}</span>
              </li>
            </ul>
            <hr>
            <ul class="application-detail__list">
              <li class="pt-0">
                <span class="name">Business Unit</span>
                <span class="value">{{application.features[0].properties.RESPONSIBLE_BUSINESS_UNIT || '-'}}</span>
              </li>
              <li class="pt-0">
                <span class="name">Region</span>
                <span class="value">{{application.region || '-'}}</span>
              </li>
              <li>
                <span class="name">Location</span>
                <span class="value">{{application.features[0].properties.TENURE_LOCATION || '-'}}</span>
              </li>
              <li>
                <span class="name">Total Area (hectares)</span>
                <span class="value">{{application.areaHectares ? (application.areaHectares | number:'1.2-2') : '-'}}</span>
              </li>
            </ul>
          </div>
        </section>

        <!-- APPLICATION -->
        <section class="card bg-light">
          <h3 class="mb-4">Application</h3>

          <section>
            <h4 class="mb-1">Description</h4>
            <p [innerHTML]="(application.description | newlines) || '-'"></p>
          </section>

          <section class="application-detail__documents mt-1">
            <h4 class="mb-3">Application Documents</h4>

            <div *ngIf="!application.documents || application.documents.length === 0">
              <em>This application has no documents.</em>
            </div>

            <ul class="document-list list-group">
              <li class="list-group-item" *ngFor="let document of application.documents | published">
                <span class="cell icon pr-0">
                  <i class="material-icons">attachment</i>
                </span>
                <span class="cell name" [title]="document.displayName || ''">{{document.documentFileName}}</span>
                <span class="cell actions">
                  <button class="btn btn-light p-1" (click)="api.downloadDocument(document)" title="Download this document">
                    <i class="material-icons">file_download</i>
                  </button>
                  <button class="btn btn-light p-1" (click)="api.openDocument(document)" title="Open this document">
                    <i class="material-icons">open_in_new</i>
                  </button>
                </span>
              </li>
            </ul>
          </section>
        </section>

        <!-- DECISION -->
        <section class="card bg-light">
          <h3 class="mb-4">Decision</h3>

          <div *ngIf="!application.decision || !application.decision.isPublished">
            <em>No decisions have been made for this application at this time.</em>
          </div>

          <!-- only display published decision -->
          <section *ngIf="application.decision && application.decision.isPublished">
            <section>
              <h4 class="mb-1">Description</h4>
              <p [innerHTML]="(application.decision.description | newlines) || '-'"></p>
            </section>

            <section class="application-detail__documents mt-1">
              <h4 class="mb-3">Decision Documents</h4>

              <div *ngIf="!application.decision.documents || application.decision.documents.length === 0">
                <em>This decision has no documents.</em>
              </div>

              <ul class="document-list list-group">
                <li class="list-group-item" *ngFor="let document of application.decision.documents | published">
                  <span class="cell icon pr-2">
                    <i class="material-icons">attachment</i>
                  </span>
                  <span class="cell name" [title]="document.displayName || ''">{{document.documentFileName}}</span>
                  <span class="cell actions">
                    <button class="btn btn-light p-1" (click)="api.downloadDocument(document)" title="Download this document">
                      <i class="material-icons">file_download</i>
                    </button>
                    <button class="btn btn-light p-1" (click)="api.openDocument(document)" title="Open this document">
                      <i class="material-icons">open_in_new</i>
                    </button>
                  </span>
                </li>
              </ul>
            </section>
          </section>
        </section>

        <!-- GEOGRAPHIC SHAPE DATA -->
        <section class="bg-light">
          <div class="title-container">
            <h3 class="title-container__title mb-0">Geographic Shape Data</h3>

            <div class="title-container__actions">
              <button class="btn btn-default" (click)="launchMap()">
                <i class="material-icons">place</i>
                <span>See on map</span>
              </button>
            </div>
          </div>
          <span *ngIf="application.features">This application has
            <strong>{{application.features.length}}</strong> shape {{application.features.length === 1 ? 'file' : 'files'}}.</span>
          <hr>
          <ul class="application-detail__list" *ngFor="let shape of application.features">
            <li class="full-width pt-0">
              <span class="name">Interest ID: {{shape.properties.INTRID_SID}}</span>
            </li>
            <li>
              <span class="name">Type/Subtype</span>
              <span class="value">{{shape.properties.TENURE_TYPE}}/{{shape.properties.TENURE_SUBTYPE}}</span>
            </li>
            <li>
              <span class="name">Area (ha)</span>
              <span class="value">
                {{shape.properties.TENURE_AREA_IN_HECTARES ? (shape.properties.TENURE_AREA_IN_HECTARES | number:'1.2-2') : '-'}}
              </span>
            </li>
            <li class="full-width">
              <span class="name">Legal Description</span>
              <span class="value">{{shape.properties.TENURE_LEGAL_DESCRIPTION}}</span>
            </li>
          </ul>
        </section>
      </main>

      <aside class="col-lg-4">
        <!-- MAP THUMBNAIL -->
        <section class="aside-map card">
          <div class="map-container">
            <div class="map" style="height: 300px;" id="map"></div>
          </div>
        </section>

        <!-- COMMENTING INFO -->
        <section class="aside-commenting card bg-light">
          <h2>{{commentPeriodService.getStatus(application.currentPeriod)}}</h2>
          <div *ngIf="commentPeriodService.getStatus(application.currentPeriod) === commentPeriodService.commentStatuses['OPEN']">
            <p>{{application.currentPeriod.startDate | date:'mediumDate'}} - {{application.currentPeriod.endDate | date:'mediumDate'}}</p>
            <div class="badge badge-secondary">{{daysRemaining}}</div>
          </div>
          <a [routerLink]="['/periods', application._id]">Click to Modify &nbsp; &rsaquo;</a>
        </section>

        <!-- NEW COMMENTS INFO -->
        <section class="aside-comments card bg-light">
          <h2>New Comments</h2>
          <div>
            <div class="badge badge-secondary">{{numComments}}</div>
          </div>
          <a [routerLink]="['/comments', application._id]">Click to Review &nbsp; &rsaquo;</a>
        </section>
      </aside>
    </div>
  </div>
</div>