<div class="search-container">
  <div class="container-fluid-padding">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/p', projectId, 'project-documents']">Documents</a></li>
        <li class="breadcrumb-item">Upload Document(s)</li>
      </ol>
    </nav>
  </div>
</div>

<div class="form-group mb-0">
    <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail4">Document Type</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-4">
              <label for="inputState">Milestone</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
              </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputAddress">Document Date</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="endDP" [(ngModel)]="documentDate"
                  ngbDatepicker #documentDatePicker="ngbDatepicker" (change)="updateEndDateAlert()" />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="documentDatePicker.toggle()"
                    type="button"></button>
                </div>
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="inputAddress">Upload Date</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="endDP" [(ngModel)]="uploadDate"
                  ngbDatepicker #uploadDatePicker="ngbDatepicker" (change)="updateEndDateAlert()" />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="uploadDatePicker.toggle()"
                    type="button"></button>
                </div>
              </div>
            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputDocumentName">Document Name</label>
            <input type="text" class="form-control" id="inputDocumentName">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
            <label for="inputDescription">Description</label>
            <input type="text" class="form-control" id="inputDescription">
          </div>
        </div>
          <div class="form-group">
            <label for="inputAddress2">Labels</label>
            <div>
            <a [ngClass]="{'active': currentProjectId === 'activity'}" [routerLink]="['/p', this.currentProjectId,'project-documents', 'upload', 'add-label']">
              <button class="btn btn-outline-secondary mr-1"
                    type="button"
                    id="button-d">
              <i class="material-icons">list</i>Add Label(s)</button></a>
            </div>
          </div>
      </form>
</div>

<div class="form-group mb-0">
  <app-file-upload [maxFiles]="50" [maxSize]="10" [showInfo]="false" [showList]="false" [files]="projectFiles"
    (filesChange)="addDocuments($event, documents); projectFiles = []"></app-file-upload>
  <br>
  <ul class="doc-list mb-3" *ngIf="documents?.length > 0">
      <li *ngFor="let doc of documents">
        <span class="cell icon">
          <i class="material-icons">insert_drive_file</i>
        </span>
        <span class="cell name" [title]="doc.displayName || ''">
          <span class="cell__txt-content">{{doc.documentFileName}}</span>
        </span>
        <span class="cell actions">
          <button class="btn btn-icon" type="button" title="Delete this document" (click)="deleteDocument(doc, documents)">
            <i class="material-icons">delete</i>
          </button>
        </span>
      </li>
  </ul>
</div>

<div class="input-group-prepend">
    <button (click)="uploadDocuments()"
    class="btn btn-outline-primary mr-1"
    type="button"
    id="button-cl"><i class="material-icons">arrow_upward</i>Upload</button>
</div>
