textarea,
input[type="text"] {
  border-radius: 2px;
  box-shadow: none;
  -webkit-appearance: none;
  border: 1px solid #ababab;
  font-size: 1rem;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #5091cd;
  }
}
.card-text {
    color: rgb(51,102,187);
    cursor: pointer;
}

.clickable-row {
  cursor: pointer;
}

.btn-group-toggle .btn {
  margin-bottom: 0;
  border-radius: 24px;
  background: none;
  color: #003367;
  border: 2px solid #003367;
  font-weight: 600;

  &:hover {
    background: #fcb118;
  }

  &.active {
    background: #003367;
    color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .btn-group-toggle {
    display: block;
    margin-top: 10px;
  }

  .btn-group.btn-group-toggle > div {
    display: inline-block;
    margin-top: 6px;
  }
}

h3 {
  letter-spacing: -0.02rem;
  font-size: 1rem;
  font-weight: 700;
  display: inline-block;
}
