<nav class="action-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Global Search</li>
  </ol>
</nav>
<div class="search-container">
  <div class="container-fluid-padding">
    <h1>Search Environmental Assessment Projects</h1>
    <form #f="ngForm" class="search-form ui form" (ngSubmit)="onSubmit()">
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" [checked]="this.terms.dataset === 'Document'"
          (click)='handleRadioChange("Document")'>Documents
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" [checked]="this.terms.dataset === 'Project'"
          (click)='handleRadioChange("Project")'>Projects
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" [checked]="this.terms.dataset === 'Vc'"
          (click)='handleRadioChange("Vc")'>Valued Components
      </label>
      <div class="input-group main-search-field">
        <input class="form-control"
                type="text"
                name="keywordInput"
                placeholder="Enter keywords to search..."
                id="keywordInput"
                [(ngModel)]="terms.keywords"
                [disabled]="searching"
                autofocus />
        <div class="input-group-append">
          <!-- prevent searching if input is empty or we're already searching -->
          <button class="btn btn-primary" type="submit" [disabled]="!terms.keywords || searching">
            <i class="material-icons"[hidden]="searching">search</i>
            <i class="spinner rotating" [hidden]="!searching"></i>
            <span>{{searching ? 'Searching...' : 'Search'}}</span>
          </button>
        </div>
      </div>
      <div class="input-group-append">
            <a _ngcontent-c7 class="btn btn-primary btn-search-help"  [routerLink]="['/search-help']" target="_blank">
                <i class="material-icons md-18">info</i>
                <span> Search Help</span>
            </a>
      </div>
      <div>
        <p class="search-result" *ngIf="ranSearch && !searching && count == 0">
          No result<span *ngIf="count != 1">s</span> found for "{{keywords}}"
        </p>
        <p class="search-result" *ngIf="ranSearch && !searching && count > 0">
          Showing {{ results.length }} of {{count}} result<span *ngIf="count != 1">s</span> for "{{keywords}}"
        </p>
      </div>
    </form>

    <div *ngIf="count > 0">
      <!-- NOT ALL -->
      <div *ngIf="this.terms.dataset === 'Document'">
        <div class="app-details" *ngFor="let result of results | paginate: { id: 'table-template-pagination', itemsPerPage: pageSize, currentPage: currentPage, totalItems: count }">
          <div class="card">
            <header class="card-header">
              <span class="project-name">
                <span class="tag">
                  <i class="material-icons">picture_as_pdf</i> Document
                </span>
              </span>
              <div class="document-actions">
                <button class="btn btn-primary btn-sm" (click)="api.downloadDocument(result)">
                  <i class="material-icons">get_app</i>Download
                </button>
              </div>
              <button class="btn btn-primary view-btn" (click)="api.openDocument(result)">
                View Document <i class="material-icons">open_in_new</i>
              </button>
            </header>
            <div class="card-body">
              <div class="flex-container">
                <p *ngIf="result.project" class="card-text"><label>Project:</label> {{result.project.name}}</p>
                <p class="card-text"><label>Date:</label> {{result.datePosted | date:'medium'}}</p>
              </div>
              <p class="card-text publish-state">
                <i class="material-icons">
                  {{result.read.includes('public') !== true ?   'cloud_off' : 'cloud_done' || '-'}}
                </i>

                {{result.read.includes('public') !== true ?  'Not Published' : 'Published' || '-'}}
              </p>

              <h2 class="card-title">{{result.displayName}}</h2>
              <p *ngIf="result.milestone" class="card-text">Milestone: {{result.milestone | listConverter}}</p>
              <p *ngIf="result.description" class="card-text">Description: {{result.description}}</p>
              <a *ngIf="result.project" [routerLink]="['/p', result.project._id]" class="btn btn-primary"> View {{result.project.name}} Project <i class="material-icons">chevron_right</i></a>
              <div class="label-pair badge-container">
                <div *ngFor="let label of result.labels">
                  <div class="mr-2 badge badge-pill badge-info">{{label}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="this.terms.dataset === 'Project'">
        <div class="app-details" *ngFor="let result of results | paginate: { id: 'table-template-pagination', itemsPerPage: pageSize, currentPage: currentPage, totalItems: count }">
          <div class="card">
            <header class="card-header">
              <span class="project-name">
                <span class="tag">
                  <i class="material-icons">assignment</i> Project
                </span>
              </span>
              <a [routerLink]="['/p', result._id]" class="btn btn-primary view-btn">View Project<i class="material-icons">chevron_right</i></a>
            </header>
            <div class="card-body">
              <h2 class="card-title">{{result.name}}</h2>
              <p class="card-text"><label>Type: </label> {{result.type}} / {{result.sector}}</p>
              <p class="card-text"><label>Location: </label> {{result.location}}</p>
              <a [routerLink]="['/p', result._id]" class="btn btn-primary"><i class="material-icons">open_in_new</i> View {{result.name}}</a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="this.terms.dataset === 'Vc'">
        <div class="app-details" *ngFor="let result of results | paginate: { id: 'table-template-pagination', itemsPerPage: pageSize, currentPage: currentPage, totalItems: count }">
          <div class="card">
            <header class="card-header">
              <span class="project-name">
                <span class="tag">
                  <i class="material-icons">switch_camera</i> Valued Component | {{result.project.name}}
                </span>
              </span>
              <a [routerLink]="['/p', result.project._id]" class="btn btn-primary view-btn">View Project<i class="material-icons">chevron_right</i></a>
            </header>
            <div class="card-body">
              <h2 class="card-title">{{result.name}}</h2>
              <p class="card-text">{{result.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="ranSearch && !searching && count != 0" class="page-controls text-center pt-3">
      <pagination-controls
        (pageChange)="updatePageNumber($event)"
        id="table-template-pagination"
        autoHide="true">
      </pagination-controls>
    </div>

  </div>
</div>
