// Move somewhere global
h1 {
  letter-spacing: -0.05rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.03rem;

  strong {
    font-weight: 400;
  }
}

.btn-sm {
  i {
    margin-top: -0.1rem;
  }
  margin-right: .5rem;
}

// Search Container
.search-container {
  padding-bottom: .5rem;
}

.search-result {
  margin-top: 14px;
  margin-bottom: 0;
}

form {
  margin-top: 1.5rem;
  margin-bottom: 2rem;

  label {
    margin-bottom: 1rem;
  }
}

.main-search-field {
  max-width: 830px;

  input {
    height: 3rem;
    color: #000;
    font-size: 1.15rem;

    &:-webkit-autofill {
      box-shadow: 0 0 0 30px white inset;
    }
  }

  button {
    min-width: 10rem;
    font-weight: 700;
    background: #fcba18;
    color: #003367;
    border: none;

    .material-icons {
      font-size: 20px;
      margin-top: -2px;
      margin-right: 2px;
    }
  }

  .input-group-addon {
    font-size: 1.15rem;
  }
}

.form-text {
  margin-top: 0.55rem;
  font-size: 0.85rem;
}

// Search Results Table
$sr-table-row-bg: #f7f8fa;

.search-results {
  table {
    margin-top: .5rem;
    table-layout: fixed;
  }

  th {
    padding: 0.5rem 1rem;
    overflow: hidden;
    border: none;
    background: $sr-table-row-bg;
    text-overflow: ellipsis;
    font-size: 0.875rem;
  }

  td {
    padding-top: 1.25rem;
    padding-right: 1rem;
    padding-bottom: 1.25rem;
    padding-left: 1rem;
    border: none;
    background: $sr-table-row-bg;
    line-height: 1.15rem;
    font-size: 0.9375rem;
  }
}

.card {
  margin-bottom: 20px;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(158, 158, 158, 0.24);
  border: none;
}

.card-body .label-pair {
  margin: 20px 0 0;

  > div {
    display: inline-block;
    margin-bottom: 5px;
  }

  .badge {
    background: #fcba18;
    box-shadow: none;
    border: none;
    color: #003368;
    text-align: left;
    white-space: normal;
    font-weight: 600;
    padding: 6px 10px;
    letter-spacing: -0.025em;
  }
}

.card-header {
  display: flex;

  .project-name {
    padding-top: 4px;

    .tag {
      padding-top: 2px;
      color: #fcba18;
      font-size: 1.2rem;
      font-weight: 600;
    }

    i {
      vertical-align: middle;
      margin-top: -4px;
    }
  }

  .document-actions {
    margin-left: 18px;
    margin-top: 3px;

    .btn {
      background: none;
      color: #fff;
      border-color: #fff;
    }
  }

  .view-btn {
    margin: 0 0 0 auto;
    background: none;
    color: #fcba18;
    border-color: #fcba18;
  }
}

.card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: .5rem;

  label {
    font-weight: 600;
    margin-bottom: 0;
  }
}

.card-body {

  .btn-primary{
    border: 1px solid #003367;
    background: none;
    color: #003367;
    font-weight: 600;
    margin-top: 20px;
  }

  .publish-state {

    i {
      vertical-align: top;
    }

    color: #fff;
    background: #003368;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 25px;
    font-size: .85rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .flex-container {
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

// Search Table Columns
.cl-file {
  padding-right: 0;
  width: 7rem;
  overflow: hidden;

  .cl-arrow {
    top: -0.55rem; // Offset top padding
    left: -1rem;  // Offset left padding
  }
}

.disp {
  width: 5.5rem;
}

.status {
  max-width: 13rem;
}

.actions {
  width: 9rem;
  text-align: right;
  padding-top: 0;
  padding-bottom: 0;

  .btn {
    margin-top: -0.35rem;
    width: 6rem;
    border-width: 2px;
    font-weight: 700;
  }
}

.app-details {
  border-top: 4px solid #fff;
}

.app-comment-details {
  td {
    padding-top: 0;
    padding-bottom: 1.25rem;

    a {
      color: #007bff;
    }
  }

  span {
    + .loading-comment-info {
      display: none;
    }
  }
}

// Crown Land File Number Arrow
$cl-arrow-size: 3.0rem;
$cl-arrow-color: #003366;
$cl-arrow-font-color: #fff;

.cl-arrow {
  position: relative;
  display: inline-block;
  height: $cl-arrow-size;
  padding-top: 0.55rem;
  padding-right: 0.65rem;
  padding-left: 1rem;
  color: $cl-arrow-font-color;
  background: $cl-arrow-color;
  font-weight: bold;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: calc(#{$cl-arrow-size} * -1);
    display: block;
    width: $cl-arrow-size;
    height: $cl-arrow-size;
    border-style: solid;
    border-top-width: calc(#{$cl-arrow-size} / 2);
    border-top-color: transparent;
    border-bottom-width: calc(#{$cl-arrow-size} / 2);
    border-bottom-color: transparent;
    border-left-width: calc(#{$cl-arrow-size} / 2);
    border-left-color: $cl-arrow-color;
  }
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  border: none;
  box-shadow: 0 0 0.5rem #999;
  font-size: 0.875rem;

  button {
    padding: 0.5rem 1rem;
    color: #007bff;

    i {
      margin-top: -0.15rem;
      vertical-align: middle;
      margin-right: 0.25rem;
      margin-left: -0.25rem;
      font-size: 1.25rem;
      width: 1.5rem;
    }

    &:hover {
      color: #fff;
      background: #007bff;
    }
  }
}

.dropdown-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.dropdown-item:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
