<div class="spinner-container full-screen" *ngIf="loading" [@visibility]>
  <div class="spinner-new rotating"></div>
</div>

<div class="search-banner">
  <div class="container">
    <div class="container__inner-container">
      <div >
        <h1 id="pgTitle">Search Crown Land Files</h1>
        <form #f="ngForm" class="search-form ui form" (ngSubmit)="onSubmit()">

          <div class="search-form__basic-search-fields">
            <div class="form-group mb-0">
              <input class="form-control" type="text" placeholder="Enter CL File Number..." name="keywordInput" id="keywordInput"
                [disabled]="protoSearchActive" [(ngModel)]="terms.clfile"/>
            </div>
          </div>

          <div class="search-form__btn-container">
            <button class="search-form__search-btn btn btn-primary slide-l-btn"
              [hidden]="protoSearchActive"
              type="submit">
              <i class="material-icons">search</i><span>Search</span>
            </button>

            <button class="search-form__search-btn btn btn-primary slide-l-btn"
              [hidden]="!protoSearchActive"
              disabled>
              <i class="material-icons">search</i><span>Searching...</span>
            </button>
            <br>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container" id="anchor-point">
  <main>
    <!-- SEARCH RESULTS TEMPLATE -->
    <section class="add-spacer" *ngIf="ranSearch">
      <h2 class="search-results__title" *ngIf="ranSearch && results && count > 0">Showing {{count}} Disposition<span *ngIf="count != 1">s</span></h2>
      <section class="card">
        <table class="table table-sm">
          <thead>
            <tr>
               <th>Import?</th>
               <th>CL File</th>
               <th>Purpose</th>
               <th>SubPurp</th>
               <th>DIP</th>
               <th>RBI</th>
               <th>Location</th>
               <th>Status</th>
               <th>Type</th>
               <th>SubType</th>
            </tr>
          </thead>
          <tbody *ngIf="results && groupByResults">
            <tr *ngFor="let item of groupByResults">
              <td *ngIf="!item.isImported">
                <span class="import-link" (click)="importProject(item)"  title="Import this item"><i class="material-icons">cloud_download</i></span>
              </td>
              <td *ngIf="item.isImported">
                <span><i class="material-icons" title="Already imported">cloud_done</i></span>
              </td>
              <td>{{item.properties.CROWN_LANDS_FILE}}</td>
              <td>{{item.properties.TENURE_PURPOSE}}</td>
              <td>{{item.properties.TENURE_SUBPURPOSE}}</td>
              <td>{{item.properties.DISPOSITION_TRANSACTION_SID}}</td>
              <td>{{item.properties.RESPONSIBLE_BUSINESS_UNIT}}</td>
              <td>{{item.properties.TENURE_LOCATION}}</td>
              <td>{{item.properties.TENURE_STATUS}}</td>
              <td>{{item.properties.TENURE_TYPE}}</td>
              <td>{{item.properties.TENURE_SUBTYPE}}</td>
            </tr>
          </tbody>
        </table>
      </section>

      <section class="search-results__no-results" *ngIf="results && results.length < 1" >
        <h2>No Applications Found</h2>
        <p class="mb-0">Sorry, we were unable to locate any applications matching your search criteria.</p>
      </section>

      <div class="search-results__footer mt-3" *ngIf="ranSearch && noMoreResults">
        <button class="btn content-btn-alt" disabled>No More Results</button>
      </div>

      <div class="search-results__footer mt-3" *ngIf="ranSearch && results && results.length > 0 && !noMoreResults">
        <button class="btn content-btn-alt" (click)="loadMore()">Show More</button>
      </div>

      <h2 class="search-results__title" *ngIf="ranSearch && results && results.length > 0">Showing {{results.length}} out of {{count}} Document<span *ngIf="count != 1">s</span></h2>
    </section>

  </main>
  <section>
    <div class="map-container" style="height: 800px; background-color: blue;">
      <div class="map" id="map"></div>
    </div>
  </section>
</div>
