<div class="search-container">
  <div class="container">
    <h1>Find Environmental Assessment Projects</h1>
    <form #f="ngForm" class="search-form ui form" (ngSubmit)="onSubmit()">
      <div class="input-group main-search-field">
        <input class="form-control" type="text" name="keywordInput" id="keywordInput"
            [(ngModel)]="terms.keywords" [disabled]="searching" autofocus/>
        <div class="input-group-append">
          <!-- prevent searching if input is empty or we're already searching -->
          <button class="btn btn-primary" type="submit" [disabled]="!terms.keywords || searching">
            <i class="spinner rotating" [hidden]="!searching"></i>
            <span>{{searching ? 'Searching...' : 'Find'}}</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <div class="search-results">
    <h2 *ngIf="ranSearch && !searching && count == 0">
      <strong>No result<span *ngIf="count != 1">s</span> found for "{{keywords.length > 0 ? keywords.join(', ') : 'unknown'}}"</strong>
    </h2>
    <h2 *ngIf="ranSearch && !searching && count > 0">
      <strong>{{count}} result<span *ngIf="count != 1">s</span> found for "{{keywords.length > 0 ? keywords.join(', ') : 'unknown'}}"</strong>
    </h2>
    <label class="form-check-inline">
      <input class="form-check-input" type="radio" [checked]="true">All
    </label>
    <label class="form-check-inline">
      <input class="form-check-input" type="radio">Projects
    </label>
    <label class="form-check-inline">
      <input class="form-check-input" type="radio">Documents
    </label>
    <label class="form-check-inline">
      <input class="form-check-input" type="radio">Valued Components
    </label>
    <table class="table" *ngIf="count > 0">
      <thead>
        <tr>
          <th name="Type">Type</th>
          <th class="disp">Project #</th>
          <th class="client">Name</th>
          <th class="purpose">Location</th>
          <th class="status">Status</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <ng-template ngFor let-result [ngForOf]="results">
        <tr class="app-details">
          <td >
            <span >{{result.project.type}}</span>
          </td>
          <td class="disp">
            <strong>{{result.project.epicProjectID}}</strong>
          </td>
          <td [innerHTML]="result.project.name ? (result.project.name | titlecase) : '<em>No Project Name</em>'"></td>
          <td>
            {{result.project.location | titlecase}}
          </td>
          <td>
            {{result.project.status || 'Unknown'}}
          </td>
          <td class="actions">
            <button class="btn btn-sm btn-primary" type="button" [routerLink]="['/p', result.project._id]">
              View
            </button>
          </td>
        </tr>
        <tr class="app-comment-details" *ngIf="result['isCreated']">
          <td colspan="6">
            <span class="comment-info">
              <span *ngIf="result['numComments'] > 0">
                <strong>
                  <a [routerLink]="['/comments', result._id]">{{result['numComments']}} {{result['numComments'] === 1 ? 'comment' : 'comments'}}</a>
                </strong>
                &nbsp;-&nbsp;
              </span>
              <span>
                {{result.cpStatus || 'Unknown'}}
              </span>
              <span *ngIf="result.currentPeriods">
                &nbsp;-&nbsp;
                {{result.currentPeriods.startDate | date:'longDate'}} to {{result.currentPeriods.endDate | date:'longDate'}}
                <span *ngIf="result.currentPeriods['daysRemaining']">
                  &nbsp;({{result.currentPeriods['daysRemaining'] + (result.currentPeriods['daysRemaining'] === 1 ? ' day ' : ' days ') + 'remaining'}})
                </span>
              </span>
            </span>
          </td>
        </tr>
      </ng-template>
    </table>
  </div>
</div>