<tr
  *ngFor="let user of users | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }"
  class="clickable-row">
  <td data-label="Display Name" (click)="selectItem(user)" scope="row" class="col-4">{{user.name}}</td>
  <td data-label="Phone" (click)="selectItem(user)" scope="row" class="col-4">{{user.phone}}</td>
  <td data-label="Email" (click)="selectItem(user)" scope="row" class="col-4">{{user.email}}</td>
</tr>
