<div class="search-container">
  <div class="fb-container bg-faded">
    <section class="container-fluid-padding" id="anchor-point">
      <div class="spinner-container" *ngIf="loading">
        <div class="spinner-new rotating"></div>
      </div>
      <div class="action-container">
        <ol class="breadcrumb" aria-label="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">All Projects</li>
        </ol>
        <div>
          <button class="btn btn-primary" (click)="addProject()">
            <i class="material-icons">add</i>
            Create New project
          </button>
        </div>
      </div>
      <main *ngIf="!loading">
        <section>
          <h2>Environmental Assessments in British Columbia</h2>
          <p class="tab-intro">Use the list below to navigate to individual Projects. Click on any project to go
            directly to its details page.</p>

          <!-- <div class="project-list__options">
        <mat-slide-toggle color="primary" [checked]="showOnlyOpenApps" (change)="showOnlyOpenAppsChange($event.checked)">
          Only show projects with an open or future comment period
        </mat-slide-toggle>
        </div> -->
          <app-table-template [columns]="projectTableColumns" [data]="projectTableData"
            (onColumnSort)='setColumnSort($event)' (onPageNumUpdate)='getPaginatedProjects($event, null, null)'>
          </app-table-template>
        </section>
      </main>
    </section>
  </div>
</div>