<div class="container" id="anchor-point">
  <div class="spinner-container full-screen" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>

  <main *ngIf="!loading">
    <section>
      <h2>Environmental Assessments in British Columbia</h2>
      <p class="tab-intro">Use the list below to navigate to individual Projects. Click on any project to go directly to its details page
        or click <i class="material-icons open-icon" style="vertical-align: middle">arrow_drop_down</i> to expand the list item to see basic
        information (e.g., Location, Description, etc.) about that project.</p>

      <button class="btn btn-primary" [routerLink]="['/arou/0/edit']">
        <i class="material-icons">add</i>
        <span>Create New project</span>
      </button>

      <div class="project-list__options">
        <mat-slide-toggle color="primary" [checked]="showOnlyOpenApps" (change)="showOnlyOpenAppsChange($event.checked)">
          Only show projects with an open or future comment period
        </mat-slide-toggle>
      </div>

      <table class="table project-table">
        <thead class="project-table__sort-header">
          <tr>
            <th class="project-table__name-col sortable" (click)="sort('name')">Name
              <i class="sort" [ngClass]="{'sort-asc': (column == 'name' && direction < 0), 'sort-desc': (column == 'name' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="project-table__cl_file-col sortable" (click)="sort('proponent')">Proponent
              <i class="sort" [ngClass]="{'sort-asc': (column == 'proponent' && direction < 0), 'sort-desc': (column == 'proponent' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="project-table__purpose-col sortable" (click)="sort('type')">Type
              <i class="sort" [ngClass]="{'sort-asc': (column == 'type' && direction < 0), 'sort-desc': (column == 'type' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="project-table__region-col sortable" (click)="sort('region')">Region
              <i class="sort" [ngClass]="{'sort-asc': (column == 'region' && direction < 0), 'sort-desc': (column == 'region' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="project-table__status-col sortable" (click)="sort('currentPhaseName')">Phase
              <i class="sort" [ngClass]="{'sort-asc': (column == 'currentPhaseName' && direction < 0), 'sort-desc': (column == 'currentPhaseName' && direction > 0) }" aria-hidden="true"></i>
            </th>
            <th class="project-table__commenting-col sortable" (click)="sort('eacDecision')">Decision
              <i class="sort" [ngClass]="{'sort-asc': (column == 'eacDecision' && direction < 0), 'sort-desc': (column == 'eacDecision' && direction > 0) }" aria-hidden="true"></i>
            </th>
          </tr>
        </thead>

        <tbody class="project-table__content">
          <ng-template ngFor let-item [ngForOf]="projects | orderBy: {property: column, direction: direction}">
            <tr *ngIf="showThisProj(item)">
              <td class="accordion__collapse-item p-0" colspan="6">
                <div class="accordion__collapse-header" role="tab">
                  <a role="button" class="accordion__collapse-header--column toggle collapsed" data-toggle="collapse" [routerLink]="['/p', item._id]">
                    <!-- href="#accordCollapse{{item._id}}"> -->
                    <i class="material-icons open-icon">arrow_drop_down</i>
                    <i class="material-icons close-icon">arrow_drop_up</i>
                  </a>
                  <span class="accordion__collapse-header--column project-table__name-col">{{item.name || '-'}}</span>
                  <span class="accordion__collapse-header--column project-table__cl_file-col">
                    <!-- <a [routerLink]="['/a', item._id]">{{item['proponent'] || '-'}}</a> -->-
                  </span>
                  <span class="accordion__collapse-header--column project-table__purpose-col">{{item.type || '-'}}</span>
                  <span class="accordion__collapse-header--column project-table__region-col">{{item.region || '-'}}</span>
                  <span class="accordion__collapse-header--column project-table__status-col">{{item.currentPhaseName || '-'}}</span>
                  <span class="accordion__collapse-header--column project-table__commenting-col">{{item.eacDecision}}</span>
                </div>

                <div class="collapse" id="accordCollapse{{item._id}}" role="tabpanel">
                  <div class="accordion__collapse-body">
                    <div class="project-table__project-details">
                      <ul class="nv-list project-table__project-details--list">
                        <!-- <li class="p-0">
                          <span class="name">Type / Subtype:</span>
                          <span class="value">{{item.type || '-'}} / {{item.subtype || '-'}}</span>
                        </li> -->
                        <li class="p-0">
                          <span class="name">Comment Period Status:</span>
                          <span class="value">{{item.cpStatus}}</span>
                        </li>
                        <li class="p-0" *ngIf="item.currentPeriods">
                          <span class="name">Comment Period Dates:</span>
                          <span class="value">{{item.currentPeriods.startDate | date:'mediumDate'}} to {{item.currentPeriods.endDate | date:'mediumDate'}}
                            <span *ngIf="item.currentPeriods['daysRemaining']">
                              &nbsp;({{item.currentPeriods['daysRemaining'] + (item.currentPeriods['daysRemaining'] === 1 ? ' day ' : ' days ') + 'remaining'}})
                            </span>
                          </span>
                        </li>
                        <li class="p-0" *ngIf="item.currentPeriods">
                          <span class="name">Comments Received:</span>
                          <span class="value">{{item['numComments']}}</span>
                        </li>
                        <li class="p-0">
                          <span class="name">Location:</span>
                          <span class="value">{{item.location || '-'}}</span>
                        </li>
                        <li class="p-0">
                          <span class="name">Description:</span>
                          <span class="value" [innerHTML]="(item.description | newlines) || '-'"></span>
                        </li>
                      </ul>

                      <div class="project-table__project-details--links">
                        <a class="btn content-btn slide-l-btn btn-sm" [routerLink]="['/a', item._id]">
                          <i class="material-icons">info_outline</i>
                          <span>Project Details</span>
                        </a>
                        <a class="btn content-btn slide-l-btn btn-sm" [routerLink]="['/comments', item._id]">
                          <i class="material-icons">message</i>
                          <span>Review Comments</span>
                        </a>
                        <!-- <a class="btn content-btn slide-l-btn btn-sm float-right" [routerLink]="['/map', { project: item._id }]">
                          <i class="material-icons">place</i>
                          <span>Show on Map</span>
                        </a> -->
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </section>
  </main>
</div>