<main id="anchor-point">
	<div class="container">

		<div class="home-title-container">
			<h1 id="pgTitle">
				<span>Applications, Comments & Reasons for Decision</span>
				<span class="badge" id="alpha">ALPHA</span>
			</h1>
			<h2>Skeena Region Pilot - Authenticated Access</h2>
		</div>

		<div class="row feature-blocks">
			<div class="col-md-4">
				<div class="feature-block">
					<h3 class="feature-block__header">Search Tantalis</h3>
					<p class="feature-block__body">Search Tantalis for a Crown Lands File Number to identify the appropriate application to add.</p>
					<div class="feature-block__footer">
						<a class="btn inverted" routerLink="/search">Search</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-block">
					<h3 class="feature-block__header">Create New</h3>
					<p class="feature-block__body">Enter a Disposition ID to create a new PRC disposition.</p>
					<div class="feature-block__footer">
						<a class="btn inverted" [routerLink]="['/a/0/edit']">Create New Application</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-block">
					<h3 class="feature-block__header">View All</h3>
					<p class="feature-block__body">Explore all PRC dispositions already created on this site, listed with all relevant information.</p>
					<div class="feature-block__footer">
						<a class="btn inverted" routerLink="/applications">View List</a>
						<!-- <a class="btn inverted" routerLink="/applications" [queryParams]="{ showOnlyOpenApps: true }">View Filtered List</a> -->
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-block">
					<div class="watermark">
						<span class="watermark__txt">Coming Soon</span>
					</div>
					<h3 class="feature-block__header">Applications Open for Commenting</h3>
					<p class="feature-block__body">There are currently
						<strong>X</strong> applications open for commenting and
						<strong>Y</strong> scheduled to open in the future.
					</p>
					<div class="feature-block__footer">
						<button class="btn inverted" type="button" disabled aria-disabled="true">View List</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-block">
					<div class="watermark">
						<span class="watermark__txt">Coming Soon</span>
					</div>
					<h3 class="feature-block__header">Locate PRC Applications on the Map</h3>
					<p class="feature-block__body">Explore all PRC Dispositions already created, by scanning a map view.</p>
					<div class="feature-block__footer">
						<button class="btn inverted" type="button" disabled aria-disabled="true">View Map</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-block">
					<div class="watermark">
						<span class="watermark__txt">Coming Soon</span>
					</div>
					<h3 class="feature-block__header">New Comments</h3>
					<div class="feature-block__body">
						<ul class="feature-block__list">
							<li class="feature-block__list-item">
								<span class="name">Client: Alpha Bravo</span>
								<span class="badge badge-dark">X</span>
							</li>
							<li class="feature-block__list-item">
								<span class="name">Client: Charlie Delta</span>
								<span class="badge badge-dark">Y</span>
							</li>
							<li class="feature-block__list-item">
								<span class="name">Client: Echo Foxtrot</span>
								<span class="badge badge-dark">Z</span>
							</li>
						</ul>
					</div>
					<div class="feature-block__footer">
						<button class="btn inverted" type="button" disabled aria-disabled="true">See All</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</main>