<main id="anchor-point">
	<div class="container home-page">
		<div class="row">
			<div class="home-page__header col-12">
				<h1 id="pgTitle">
					<span>Public Review & Comment</span>
					<span class="badge" id="alpha">ALPHA</span>
				</h1>
				<h2>Skeena Region Pilot - Authenticated Access</h2>
			</div>
		</div>

		<div class="row feature-blocks">
			<div class="col-md-4">
				<div class="feature-block">
					<h3>Search the BCGW</h3>
					<p>Search the BCGW for a Crown Lands File Number to identify the appropriate application to add.</p>
					<div>
						<!-- <label>File Number:</label> -->
						<a class="btn inverted" routerLink="/search">Search</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-block">
					<h3>Create New</h3>
					<p>Enter a Disposition ID to create a new PRC disposition.</p>
					<div>
						<!-- <label>Disposition ID:</label> -->
						<a class="btn inverted" (click)="createApplication()">Create New Application</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-block">
					<h3>View All</h3>
					<p>Explore all PRC dispositions already created on this site, listed with all relevant information.</p>
					<div>
						<a class="btn inverted" routerLink="/applications">View List</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-block-faded">
					<div class="watermark">COMING SOON</div>
					<h3>Applications Open for Commenting</h3>
					<p>There are currently
						<strong>X</strong> applications open for commenting and
						<strong>Y</strong> scheduled to open in the future.</p>
					<div>
						<button type="button" class="btn btn-light" disabled aria-disabled="true">View List</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-block-faded">
					<div class="watermark">COMING SOON</div>
					<h3>Locate PRC Applications on the Map</h3>
					<p>Explore all PRC Dispositions already created, by scanning a map view.</p>
					<div>
						<button type="button" class="btn btn-light" disabled aria-disabled="true">View Map</button>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-block-faded">
					<div class="watermark">COMING SOON</div>
					<h3>New Comments</h3>
					<ul>
						<li>
							<span>Client: Alpha Bravo</span>
							<span class="badge badge-dark">X</span>
						</li>
						<li>
							<span>Client: Charlie Delta</span>
							<span class="badge badge-dark">Y</span>
						</li>
						<li>
							<span>Client: Echo Foxtrot</span>
							<span class="badge badge-dark">Z</span>
						</li>
					</ul>
					<div>
						<button type="button" class="btn btn-light" disabled aria-disabled="true">See All</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>