<div class="hero-banner home-banner">
	<div class="container">
		<div class="container__inner-container">
			<div class="hero-banner__content">
				<h1 id="pgTitle">
					<i class="material-icons">security</i> <span>Authenticated Access</span><br />
					<span>NRTS Public Review & Comment</span> <span class="badge" id="alpha" title="What is this?">BETA</span>
				</h1>
				<p>This is for authenticated access to NRTS PRC only.</p>
				<div class="hero-banner__content--cta-btns">
					<strong>Find Applications in British Columbia...</strong>
					<a class="btn slide-l-btn hero-btn inverted" href="/applications" [routerLink]="['/applications']"><i class="material-icons">list</i><span>View List</span></a>
					<span>or</span>
					<a class="btn slide-l-btn hero-btn inverted" href="/map" [routerLink]="['/map']"><i class="material-icons">map</i><span>View Map</span></a>
				</div>
			</div>
		</div>
	</div>
</div>

<main id="anchor-point">
	<div class="fb-container bg-faded">
		<section class="container">
			<h2>Public Review &amp; Comment in British Columbia</h2>
			<div class="row feature-blocks">
				<div class="col-md-4">
					<div class="feature-block">
						<h3>The Application Lifecycle</h3>
						<p>It can take several seconds to fulfill an application, which is a lot</p>
						<a class="btn inverted" href="/lifecycle" [routerLink]="['/lifecycle']">Learn More</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-block">
						<h3>Topics of Interest</h3>
						<p>Profiling key topics of interest regarding application activities in British Columbia</p>
						<a class="btn inverted" href="/topics-of-interest" [routerLink]="['/topics-of-interest']">Learn More</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-block">
						<h3>Find Applications in B.C.</h3>
						<p>The NRTS PRC website currently profiles {{numApplications}} application</p>
						<a class="btn inverted" href="/applications" [routerLink]="['/applications']">View List</a>
						<span>&nbsp;</span>
						<a class="btn inverted" href="/map" [routerLink]="['/map']">View Map</a>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>
