<div class="search-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">
      <a [routerLink]="['/p', projectId]">Project Details</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      Comment Periods
    </li>
  </ol>

  <div class="row mb-2">
    <div class="col-md-8">
      <h1>Comment Periods</h1>
    </div>
    <div class="col-md-4 text-right">
      <button type="button" class="btn btn-primary mb-3" (click)="addCommentPeriod()">Add new comment period</button>
    </div>
  </div>

  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>

  <app-table-template *ngIf="tableParams.totalListItems > 0" [columns]="commentPeriodTableColumns"
    [data]="commentPeriodTableData" (onColumnSort)='setColumnSort($event)'
    (onPageNumUpdate)='getPaginatedComments($event, null, null)'>
  </app-table-template>

  <div *ngIf="tableParams.totalListItems == 0">
    This project has no comment periods.
  </div>
</div>