<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="container">
      <div>
        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
          <div class="form-group">
            <label for="name">Display Name</label>
            <input type="text" class="form-control" id="name"
                   required
                   [(ngModel)]="user.displayName" name="name"
                   #name="ngModel">
            <div [hidden]="name.valid || name.pristine"
                 class="alert alert-danger">
              Name is required
            </div>
          </div>
     
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username"
                   [(ngModel)]="user.username" name="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
                   [(ngModel)]="user.password" name="password">
          </div>
     
          <div class="form-group">
            <label for="roles">Access Role</label>
            <select class="form-control" id="roles"
                    required
                    [(ngModel)]="user.roles" name="roles"
                    #roles="ngModel">
              <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
            </select>
            <div [hidden]="roles.valid || roles.pristine" class="alert alert-danger">
              Role is required
            </div>
          </div>
        </form>
      </div>
     
    <div class="modal-footer">
      <button type="button" class="btn btn-success" [disabled]="!userForm.form.valid" (click)="save()">{{message}}</button>
      <button type="button" class="btn btn-secondary" (click)="close()">Cancel</button>
    </div>
    <div [hidden]="!networkMsg" class="alert alert-danger">
      Error {{networkMsg}}
    </div>
  </div>
</div>